<template lang="html">
<section class="container" style="padding-top:70px">
  <h3>Aviso Legal</h3>
  <ol>
    <li style="text-align: justify; line-height: normal;"><strong> Datos del Responsable</strong></li>
  </ol>
  <p style="text-align: justify; line-height: normal;">En cumplimiento del <strong>art&iacute;culo</strong> <strong>10 de la Ley 34/2002</strong>, de 11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y Comercio Electr&oacute;nico, a continuaci&oacute;n se exponen los datos identificativos
    del presente portal de internet, que se pone al servicio de los usuarios por el siguiente del titular/responsable:</p>
  <ul>
    <li><strong>Denominaci&oacute;n:</strong> <strong>"RON MONTERO, S.L.&rdquo; </strong>(en adelante, &ldquo;RON MONTERO&rdquo;)</li>
    <li><strong>CIF</strong>: B-18799866</li>
    <li><strong>Domicilio Social</strong>: Camino de la V&iacute;a, S/N, CP: 18613 &ndash; Motril (Granada) - Espa&ntilde;a</li>
    <li><strong>Provincia</strong>: Granada (Espa&ntilde;a)</li>
    <li><strong>Email de contacto</strong>: <strong><a href="mailto:info@ronmontero.com">info@ronmontero.com</a></strong></li>
    <li><strong>P&aacute;gina Web:</strong> <strong><a href="http://www.ronmontero.com">www.ronmontero.com</a> &nbsp;/ <a href="http://tienda.ronmontero.com/index.php">http://tienda.ronmontero.com/index.php</a> </strong></li>
    <li><strong>Tel&eacute;fono de contacto:</strong> (+34) 958 600 183</li>
    <li><strong>Objeto Social: </strong>LA ELABORACION, EMBOTELLADO Y COMERCIALIZACION DE BEBIDAS ALCOHOLICAS Y DERIVADAS; ESPECIALMENTE RON.</li>
    <li><strong>CNAE 2009:</strong> 1101 - Destilaci&oacute;n, rectificaci&oacute;n y mezcla de bebidas alcoh&oacute;licas</li>
    <li><strong>Datos Registrales: Granada</strong>, Tomo 1.239, Libro 0, Folio 42, Hoja GR-31257, Inscr. 1&ordf;</li>
    <li><strong><span>Registro de Actividades de Tratamiento conforme a RGPD disponible bajo solicitud de la Autoridad de Control.</span></strong></li>
    <li><strong><span>Informaci&oacute;n adicional sobre RGPD:</span></strong> <a href="http://www.agpd.es/">agpd.es</a></li>
  </ul>
  <ol start="2">
    <li style="text-align: justify; line-height: normal;"><strong> Propiedad intelectual</strong></li>
  </ol>
  <p style="text-align: justify; line-height: normal;">El c&oacute;digo fuente, los dise&ntilde;os gr&aacute;ficos, los logotipos, las im&aacute;genes, las fotograf&iacute;as, los sonidos, las animaciones, el software, los textos, as&iacute; como la informaci&oacute;n y los contenidos que se recogen en
    el presente sitio web est&aacute;n protegidos por la legislaci&oacute;n espa&ntilde;ola sobre los derechos de propiedad intelectual e industrial a favor de <strong>RON MONTERO</strong> y no se permite la reproducci&oacute;n y/o publicaci&oacute;n,
    total o parcial, del sitio web, ni su tratamiento inform&aacute;tico, su distribuci&oacute;n, su difusi&oacute;n, ni su modificaci&oacute;n, transformaci&oacute;n o descompilaci&oacute;n, ni dem&aacute;s derechos reconocidos legalmente a su titular,
    sin el permiso previo y por escrito de <strong>RON MONTERO</strong>. El usuario, &uacute;nica y exclusivamente, puede utilizar el material que aparezca en este sitio web para su uso personal y privado, quedando prohibido su uso con fines comerciales
    o para incurrir en actividades il&iacute;citas. Todos los derechos derivados de la propiedad intelectual est&aacute;n expresamente reservados por <strong>RON MONTERO</strong>&reg;.</p>
  <p style="text-align: justify; line-height: normal;"><strong>RON MONTERO</strong> velar&aacute; por el cumplimiento de las anteriores condiciones como por la debida utilizaci&oacute;n de los contenidos presentados en sus p&aacute;ginas web, ejercitando todas las acciones civiles y penales que le correspondan
    en el caso de infracci&oacute;n o incumplimiento de estos derechos por parte del usuario.</p>
  <ol start="3">
    <li style="text-align: justify; line-height: normal;"><strong> Protecci&oacute;n de datos de car&aacute;cter personal</strong></li>
  </ol>
  <p style="text-align: justify;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">, </span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">como Responsable del tratamiento de los datos personales del Usuario, le informa que estos datos ser&aacute;n tratados de conformidad con lo dispuesto en el <strong>Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR)</strong> &nbsp;relativo a la protecci&oacute;n de las personas f&iacute;sicas en lo que respecta al tratamiento de datos personales y la vigente Ley Org&aacute;nica 15/1999 de 13 de diciembre (L.O.P.D.) relativa a la protecci&oacute;n de datos de car&aacute;cter personal, y ello hasta la futura publicaci&oacute;n de la nueva LOPD, en fase de tramitaci&oacute;n parlamentaria.</span></p>
  <p style="text-align: justify;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">, en aplicaci&oacute;n de los art&iacute;culos 37 y siguientes del </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR), </span></strong>
    <span
    style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">cuenta con un<strong> Delegado de Protecci&oacute;n de Datos designado oficialmente ante la Autoridad de Control (agpd.es) </strong>y cuyos datos de contacto se detallan a continuaci&oacute;n: </span>
  </p>
  <ul>
    <li style="text-align: justify;  line-height: normal; margin: 0cm 0cm .0001pt 35.45pt;"><strong>Direcci&oacute;n</strong>: Camino de la V&iacute;a, S/N, CP: 18613 &ndash; Motril (Granada) - Espa&ntilde;a.</li>
    <li style="text-align: justify;  line-height: normal; margin: 0cm 0cm .0001pt 35.45pt;"><strong>Direcci&oacute;n electr&oacute;nica de contacto</strong>:&nbsp;<strong><a href="mailto:info@ronmontero.com">info@ronmontero.com</a></strong></li>
  </ul>
  <p style="text-align: justify; line-height: normal;">Los campos de cualquiera de los formularios de Contacto/ Registro/compra, que se encuentren marcados como (<span style="color: red;">*</span>)/obligatorios, son estrictamente necesarios para poder suministrarle el producto seleccionado, gestionar su
    compra/pedido o facilitar el env&iacute;o, siendo voluntaria la inclusi&oacute;n de datos en los campos restantes. La no cumplimentaci&oacute;n o la cumplimentaci&oacute;n parcial de los datos de car&aacute;cter personal solicitados en los campos
    obligatorios podr&iacute;an suponer que <strong>RON MONTERO</strong> no pudiera atender su pedido.</p>
  <ol start="4">
    <li style="text-align: justify; line-height: normal;"><strong> Varios</strong></li>
  </ol>
  <p style="text-align: justify; line-height: normal;"><strong>A.-</strong> <strong>RON MONTERO</strong> utiliza cookies de identificaci&oacute;n de usuarios (<em>Google Analytics</em>) que se quedar&aacute;n almacenadas en el ordenador. Las cookies son peque&ntilde;os archivos que nuestro ordenador env&iacute;a
    al suyo, pero que no nos proporcionan informaci&oacute;n ni sobre su nombre, ni sobre cualquier dato de car&aacute;cter personal suyo. Cuando el usuario se encuentre navegando por las p&aacute;ginas web de <strong>RON MONTERO</strong> el servidor
    donde se encuentra alojada reconoce autom&aacute;ticamente la direcci&oacute;n IP de su ordenador, el d&iacute;a y la hora en la que comienza la visita, en la que abandona la visita, as&iacute; como informaci&oacute;n sobre las distintas secciones
    consultadas. No obstante lo anterior, en la <u><span style="color: #3333ff;"><a href="http://hardcore-bose-ed67df.bitballoon.com/#/privacidad">Pol&iacute;tica de Privacidad</a></span> </u>se regula el Uso de Cookies por parte de <strong>RON MONTERO</strong>,
    comprometi&eacute;ndose el titular de la web a avisar al Usuario, con car&aacute;cter previo, para que acepte el Uso de Cookies, as&iacute; como facilitar informaci&oacute;n sobre las mismas y procedimiento para desactivarlas.</p>
  <p style="text-align: justify; line-height: normal;"><strong>B.-</strong> <strong>RON MONTERO</strong> podr&aacute; modificar, sin previo aviso, la informaci&oacute;n contenida en su sitio web, as&iacute; como su configuraci&oacute;n y presentaci&oacute;n.</p>
  <p style="text-align: justify; line-height: normal;"><strong>C.-</strong> <strong>RON MONTERO</strong> se compromete a trav&eacute;s de este medio a NO REALIZAR PUBLICIDAD ENGA&Ntilde;OSA. A estos efectos, por lo tanto, no ser&aacute;n considerados como publicidad enga&ntilde;osa los errores formales
    o num&eacute;ricos que puedan encontrarse a lo largo del contenido de las distintas secciones de la web de <strong>RON MONTERO</strong>, producidos como consecuencia de un mantenimiento y/o actualizaci&oacute;n incompleta o defectuosa de la informaci&oacute;n
    contenida es estas secciones. <strong>RON MONTERO</strong>, como consecuencia de lo dispuesto en este apartado, se compromete a corregirlo tan pronto como tenga conocimiento de dichos errores.</p>
  <p style="text-align: justify; line-height: normal;"><strong>RON MONTERO</strong> podr&aacute; realizar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones sobre la informaci&oacute;n contenida en su sitio web, o en su configuraci&oacute;n o presentaci&oacute;n. <strong>RON MONTERO</strong>    realiza todos los esfuerzos posibles para que la informaci&oacute;n suministrada a trav&eacute;s de su p&aacute;gina web sea clara, comprensible y adecuada, as&iacute; como para evitar errores en la medida de lo posible y, en su caso, repararlos o
    actualizarlos. Sin embargo, <strong>RON MONTERO</strong> no puede garantizar la inexistencia de errores ni que el contenido de la informaci&oacute;n se encuentre permanentemente actualizado.</p>
  <p style="text-align: justify; line-height: normal;"><strong>D.-</strong> <strong>RON MONTERO</strong> se compromete a NO REMITIR COMUNICACIONES COMERCIALES SIN IDENTIFICARLAS COMO TALES, conforme a lo dispuesto en la Ley 34/2002 de Servicios de la Sociedad de la Informaci&oacute;n y de comercio electr&oacute;nico.
    A estos efectos no ser&aacute; considerado como comunicaci&oacute;n comercial toda la informaci&oacute;n que se env&iacute;e A LOS CLIENTES de <strong>RON MONTERO</strong> siempre que tenga por finalidad el mantenimiento de la relaci&oacute;n contractual
    existente entre cliente y <strong>RON MONTERO</strong>, as&iacute; como el desempe&ntilde;o de las tareas de informaci&oacute;n, GESTI&Oacute;N DE ENV&Iacute;O Y DEVOLUCIONES, y otras actividades propias de los productos que el cliente adquiere de
    <strong>RON MONTERO</strong>.</p>
  <p style="text-align: justify; line-height: normal;"><strong>E.-</strong> <strong>RON MONTERO</strong> no se hace responsable del incumplimiento de cualquier norma aplicable en que pueda incurrir el usuario en su acceso al sitio web el presente sitio web y/o en el uso de las informaciones contenidas en
    el mismo.</p>
  <p style="text-align: justify; line-height: normal;"><strong>F.-</strong> <strong>RON MONTERO</strong> no ser&aacute; responsable de los da&ntilde;os y perjuicios producidos o que puedan producirse, cualquiera que sea su naturaleza, que se deriven del uso de la informaci&oacute;n, de las materias contenidas
    en este web site y de los programas que incorpora. Los enlaces (Links) e hipertexto que posibiliten, a trav&eacute;s del sitio web el presente sitio web, acceder al usuario a productos ofrecidos por terceros, no pertenecen ni se encuentran bajo el
    control de <strong>RON MONTERO</strong>; dicha entidad no se hace responsable ni de la informaci&oacute;n contenida en los mismos ni de cualesquiera efectos que pudieran derivarse de dicha informaci&oacute;n.</p>
  <p style="text-align: justify; line-height: normal;"><strong>G.-</strong> <strong>RON MONTERO</strong> no se hace responsable del uso ileg&iacute;timo que terceras personas puedan hacer de los nombres de marca, nombres de producto, marcas comerciales que, no siendo propiedad de dicha entidad, aparezcan
    en el presente sitio web. Tampoco se responsabiliza de la integridad, veracidad y licitud del contenido de los enlaces a las webs a las que pueda accederse desde el presente sitio web. <strong>RON MONTERO</strong> se reserva el derecho de ejercitar
    las acciones legales que considere oportunas derivadas de cualesquiera usos il&iacute;citos por parte de terceros de los contenidos de su p&aacute;gina web</p>
  <p style="text-align: justify; line-height: normal;"><strong>H.-</strong> En definitiva, el Usuario es el &uacute;nico responsable del uso que realice de los servicios, contenidos, enlaces (links) e hipertexto incluidos en el sitio web el presente sitio web.</p>
  <p style="text-align: justify; line-height: normal;"><strong>I.-</strong> <strong>DURACI&Oacute;N Y TERMINACI&Oacute;N</strong>: La prestaci&oacute;n del servicio web y de los Productos ofrecidos a trav&eacute;s de: <em><a href="http://www.ronmontero.com">www.ronmontero.com</a> y <a href="http://tienda.ronmontero.com/index.php">http://tienda.ronmontero.com/index.php</a></em>    tiene, en principio, una duraci&oacute;n indefinida. <strong>RON MONTERO</strong>, no obstante, est&aacute; autorizada para dar por terminada o suspender la prestaci&oacute;n del servicio del Portal y/o de cualquiera de los productos/bebidas ofertados
    en cualquier momento, sin perjuicio de lo que se hubiere dispuesto al respecto en las correspondientes <u><span style="color: #3333ff;"><a href="http://tienda.ronmontero.com/index.php?id_cms=3&amp;controller=cms">Condiciones Generales de Compra</a></span></u>.
    Cuando ello sea razonablemente posible, <strong>RON MONTERO</strong> advertir&aacute; previamente la terminaci&oacute;n o suspensi&oacute;n de la oferta online de <em>sus productos y bebidas fabricados por Ron Montero</em>.</p>
  <p style="text-align: justify; line-height: normal;"><strong>K</strong>.- <strong>LEY APLICABLE Y JURISDICCI&Oacute;N</strong>: Este Aviso Legal, as&iacute; como las <u><span style="color: #3333ff;"><a href="http://tienda.ronmontero.com/index.php?id_cms=3&amp;controller=cms">Condiciones Generales de Compra</a></span></u>    de la web aplicables en las compras, se rigen por la ley espa&ntilde;ola. Para la resoluci&oacute;n de cualquier controversia que pueda surgir con respecto a su validez, ejecuci&oacute;n, cumplimiento o resoluci&oacute;n (total o parcial) se someten
    a la competencia de los <strong>Juzgados de GRANADA</strong>. Constituye este contrato la expresi&oacute;n completa e &iacute;ntegra del acuerdo entre <strong>RON MONTERO</strong> y el usuario. La utilizaci&oacute;n del Portal atribuye la condici&oacute;n
    de usuario e implica la aceptaci&oacute;n plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal.</p>
  <p style="text-align: justify; line-height: normal;"><strong>Resoluci&oacute;n de litigios en l&iacute;nea conforme al Art. 14.1 del Reglamento (UE) 524/2013</strong>: La Comisi&oacute;n Europea facilita una plataforma de resoluci&oacute;n de litigios en l&iacute;nea, la cual se encuentra disponible en
    el siguiente enlace: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>.</p>
  <img src="/static/tee.png" style="width:200px"/>
</section>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
strong {
    font-weight: bold !important;
}
ul{
  list-style-type: circle !important;
}
ul li{
  list-style-type: circle !important;
  display: block;
}
</style>
