<template lang="html">
<section class="container" style="padding-top:70px">
  <h3>Términos y Condiciones Generales</h3>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>1-CONDICIONES GENERALES DE COMPRA.-</u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Esta p&aacute;gina se configura como tienda virtual de&nbsp;<a href="http://ronmontero.com/">ronmontero.com</a>&nbsp;donde se expone su gama de productos para el conocimiento del cliente y la compra de productos, pero usted podr&aacute; ponerse en contacto
    con nosotros a trav&eacute;s del formulario, o el tel&eacute;fono de contacto para realizar dicha compra. La compra y su proceso, estar&aacute;n regulados por los presentes &ldquo;T&eacute;rminos y Condiciones Generales&rdquo;, en adelante, Condiciones
    Generales. La compra de cualquiera de nuestros productos, supone la aceptaci&oacute;n de las presentes Condiciones Generales, la aceptaci&oacute;n de nuestro <u><span style="color: blue;">Aviso Legal</span></u>, y la aceptaci&oacute;n de nuestra <u><span style="color: blue;">Pol&iacute;tica de Privacidad</span></u>.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Los datos de identificaci&oacute;n del titular y vendedor o prestador del servicio se es:&nbsp;Ron Montero, S.L.&nbsp;con C.I.F.: B-18799866, y con domicilio social en Camino de la V&iacute;a, s/n, C&oacute;digo Postal: 18613 - Motril, de la provincia
    de Granada. No obstante lo anterior, para mayor informaci&oacute;n visite nuestro &ldquo;<u><span style="color: blue;">Aviso Legal</span></u>&rdquo;</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Las Condiciones Generales vinculan al titular de la p&aacute;gina y al comprador (Cliente), otorg&aacute;ndoles una serie de derechos y obligaciones, desde el momento en que &eacute;ste realiza y acepta un pedido a trav&eacute;s de esta p&aacute;gina.
    Son de obligado cumplimiento y conocimiento por ambas partes, por lo que su aceptaci&oacute;n es imprescindible para poder formalizar un pedido. Por ello, el Cliente deber&aacute; leer atentamente estas condiciones.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Las presentes condiciones generales de compra regulan la adquisici&oacute;n, a trav&eacute;s <a href="http://www.ronmontero.com/">www.ronmontero.com</a> y afectan a los productos ofrecidos a trav&eacute;s de esta TIENDA VIRTUAL.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>VENDEDOR: </strong>Ron Montero, S.L.&nbsp;con C.I.F.: B-18799866, y con domicilio social en Camino de la V&iacute;a, s/n, C&oacute;digo Postal: 18613 - Motril, de la provincia de Granada, propietario del sito <a href="http://www.ronmontero.com/">www.ronmontero.com</a>    Tel&eacute;fono 958 60 01 83 correo electr&oacute;nico <a href="mailto:info@ronmontero.com">info@ronmontero.com</a>&nbsp;Empresa inscrita en el Registro Mercantil de Granada Tomo 1239, Libro 0, folio 42, hoja GR-31257, Inscr. 1&ordf;.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>COMPRADOR/CLIENTE:</strong>
    <br />El usuario que se registre, consignando sus datos personales voluntariamente en el formulario de compra, una vez aceptadas las condiciones generales de compra.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Para realizar compras en la web ser&aacute; necesario que el cliente se registre o se haya registrado como usuario del portal <a href="http://www.ronmontero.com/">www.ronmontero.com</a>, y acepte plenamente y sin reservas la totalidad de las presentes
    condiciones generales de compra, el <u><span style="color: blue;">Aviso Legal</span></u>, y nuestra <u><span style="color: blue;">Pol&iacute;tica de Privacidad</span></u>.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">&nbsp;</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Como cliente, Ud. declara ser mayor de edad y disponer de la capacidad jur&iacute;dica suficiente para vincularse por las presentes Condiciones Generales de Compra al contratar con Ron Montero, S.L. No obstante lo anterior, Ud. acepta, de forma expresa
    y sin excepciones, que el acceso y la utilizaci&oacute;n de la tienda virtual de la Web tiene lugar bajo su &uacute;nica y exclusiva responsabilidad.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Ron Montero, S.L. se reserva el derecho a modificar unilateralmente, en cualquier momento y sin aviso previo, la presentaci&oacute;n y configuraci&oacute;n de la tienda virtual, as&iacute; como suspender el acceso al mismo de manera temporal o definitiva.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>2-DEVOLUCIONES.-</u></strong></p>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; tab-stops: list 36.0pt;">2a.&nbsp;Ron Montero, S.L. establece, conforme a la legislaci&oacute;n vigente, un plazo de desistimiento de 7 d&iacute;as h&aacute;biles desde la fecha de recepci&oacute;n. En el caso de producirse dentro de este plazo, el cliente correr&aacute;
      con los gastos directos de la devoluci&oacute;n.</li>
  </ul>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; tab-stops: list 36.0pt;">2b.&nbsp;Ron Montero, S.L. no aceptar&aacute; devoluciones si el producto no se presenta en perfectas condiciones.</li>
  </ul>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; tab-stops: list 36.0pt;">2c.&nbsp;Ron Montero, S.L. no aceptar&aacute; devoluciones si los embalajes del producto no son los originales y estos no se encuentran en perfecto estado. El embalaje original debe protegerse de forma que se reciba en perfectas condiciones, quedando
      prohibido el uso de precintos y cintas adhesivas.</li>
  </ul>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; tab-stops: list 36.0pt;">2d.&nbsp;Toda devoluci&oacute;n deber&aacute; estar autorizada por Ron Montero, S.L. Para ello el cliente deber&aacute; solicitar a Ron Montero, S.L. mediante un correo electr&oacute;nico a <a href="mailto:pedidos@ronmontero.com">pedidos@ronmontero.com</a>      un n&uacute;mero INTERNO de autorizaci&oacute;n de la devoluci&oacute;n, que permita a la empresa realizar un seguimiento de la mercanc&iacute;a devuelta, adem&aacute;s de que se deber&aacute; indicar el n&uacute;mero de factura.</li>
  </ul>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; tab-stops: list 36.0pt;">2e.&nbsp;Una vez que el cliente haya recibido el n&uacute;mero de RMA har&aacute; llegar los productos a la direcci&oacute;n especificada por Ron Montero, S.L.. Los gastos de este transporte correr&aacute;n a cargo del cliente.</li>
  </ul>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal; tab-stops: list 36.0pt;">2f.&nbsp;En caso de producto defectuoso, Ron Montero, S.L. gestionara de forma gratuita, seg&uacute;n corresponda, la reparaci&oacute;n, sustituci&oacute;n, rebaja del precio o resoluci&oacute;n del contrato. Ron Montero, S.L. responde de las faltas
      de conformidad que se manifiesten en un plazo de dos a&ntilde;os desde la entrega. El cliente deber&aacute; informar a Ron Montero, S.L. de la falta de conformidad en el plazo de dos meses desde que tuvo conocimiento de ella.</li>
  </ul>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Por favor compruebe su pedido en el momento de la recepci&oacute;n, est&aacute; en su derecho.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>3-FORMAS DE PAGO.-</u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>A.- Transferencia Bancaria o ingresos en las cuentas de Ron Montero, S.L.:</strong>
    <br />&nbsp;
    <br />Banco/caja&nbsp;&nbsp;&nbsp; N&uacute;mero de cuenta&nbsp;&nbsp;&nbsp;</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Caja Rural de Granada&nbsp;&nbsp;&nbsp; 3023-0047-47-5390244308&nbsp;&nbsp;&nbsp;</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">&nbsp;(Para agilizar el proceso es importante indicar el numero de pedido y enviar posteriormente el comprobante a al fax 958 60 01 83)&nbsp;&nbsp;&nbsp; &nbsp;</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>B.- Pago por tarjeta de cr&eacute;dito.</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Tarjeta de cr&eacute;dito/d&eacute;bito: Todas las operaciones que implican la transmisi&oacute;n de datos personales o bancarios se realizan utilizando un entorno seguro, un servidor basado en la tecnolog&iacute;a de seguridad est&aacute;ndar SSL (Secure
    Socket&nbsp;Layer). Toda la informaci&oacute;n que nos transmita viaja cifrada a trav&eacute;s de la red. Los datos sobre su&nbsp;tarjeta bancaria no ser&aacute;n registrados por Ron Montero. La transacci&oacute;n se realiza en la <u>pasarela del banco de forma segura.</u></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>B.- Pago por PayPal.</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Permite enviar pagos en Internet de forma segura y c&oacute;moda. La red de PayPal se basa en la infraestructura financiera existente de cuentas bancarias y tarjetas de cr&eacute;dito para crear una soluci&oacute;n global de pago en tiempo real. Puedes
    realizar pagos tanto si tienes cuenta en PayPal, como si no la tienes. PayPal nos cobra unas comisiones de m&aacute;s del <strong><span style="background: yellow;">3%</span></strong> por recibir dinero a trav&eacute;s de su plataforma, que ser&aacute;n
    cargadas al comprador sobre el precio marcado para el producto/s.&nbsp;Al seleccionar este tipo de pago te redireccionamos a la pasarela de PayPal para retornar a nuestro sitio una vez efectuado el pago, por lo que la transacci&oacute;n se realiza
    en la pasarela de PayPal de forma segura.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>4-PLAZOS DE ENTREGA.-</u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Los pedidos se entregar&aacute;n en un plazo no superior a los 7 u 8 d&iacute;as desde el mismo momento de su ejecuci&oacute;n y del previo pago/cobro. (Si el pago se ha realizado a trav&eacute;s de VISA es inmediato y el realizado a trav&eacute;s de
    Transferencia Bancaria es de 2 d&iacute;as h&aacute;biles despu&eacute;s de recibir el comprobante en el fax&nbsp;958 60 01 83).</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>5-INFORMACI&Oacute;N DE PORTES.-</u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Los portes est&aacute;n establecidos por defecto en la tienda.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>6-SEGURIDAD DE LAS TRANSACCIONES.-</u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cuando realice un pago a trav&eacute;s del sitio web <a href="http://www.ronmontero.com">www.ronmontero.com</a>, toda la informaci&oacute;n referente al mismo permanecer&aacute; segura en todo momento. Durante la transacci&oacute;n, los datos son codificados.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>&iquest;C&oacute;mo protegemos su pago con tarjeta de cr&eacute;dito?</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Usamos uno de los sistemas m&aacute;s fiables de Internet: el protocolo SSL. (Si desea m&aacute;s informaci&oacute;n, visite <a href="https://es.wikipedia.org/wiki/Transport_Layer_Security">https://es.wikipedia.org/wiki/Transport_Layer_Security</a>).
    Todos sus datos personales se protegen y codifican antes de enviarse para su procesamiento. Para ello usted ser&aacute; redirigido a una de las plataformas de pago con las que hemos firmado acuerdos.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>&iquest;Qu&eacute; es SSL?</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Los &uacute;ltimos avances en tecnolog&iacute;a de navegadores y servidores han facilitado el uso de servicios web sin preocupaciones relacionadas con el fraude electr&oacute;nico. Un ejemplo de ello es Secure Sockets Layer (SSL) y su evoluci&oacute;n
    Transport Layer Security (TLS). B&aacute;sicamente, estos protocolos permiten al navegador y al servidor de una sesi&oacute;n web autenticarse entre s&iacute; y proteger la informaci&oacute;n que, posteriormente, fluir&aacute; entre ambos puntos.
    Mediante el uso de t&eacute;cnicas criptogr&aacute;ficas como la codificaci&oacute;n y la firma digital, el protocolo permite a los navegadores y servidores web autenticarse entre s&iacute;; permite a los propietarios de sitios web controlar el acceso
    a servidores, directorios, archivos o servicios particulares; permite compartir informaci&oacute;n confidencial (como, por ejemplo, n&uacute;meros de tarjetas de cr&eacute;dito) entre el navegador y el servidor, manteni&eacute;ndola inaccesible para
    terceros; y permite asegurar que los datos intercambiados por el navegador y el servidor no puedan corromperse, ya sea de forma accidental o deliberada, sin que ello sea detectado.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>7-CONFIDENCIALIDAD, PRIVACIDAD Y PROTECCION DE DATOS.-</u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Ron Montero, S.L. se compromete a la protecci&oacute;n, privacidad y confidencialidad de los datos personales de los usuarios de nuestra p&aacute;gina Web. Le rogamos que consulte este apartado a trav&eacute;s de este enlace de nuestra web <u><span style="color: blue;">Pol&iacute;tica de Privacidad</span></u></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>8-AVISO LEGAL.-</u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Estas Condiciones Generales se rigen por la ley espa&ntilde;ola. Las partes se someten, a su elecci&oacute;n, para la resoluci&oacute;n de los conflictos y con renuncia a cualquier otro fuero, a los juzgados y tribunales de Motril.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">La aceptaci&oacute;n de las presentes Condiciones Generales de Compra por parte del Cliente es condici&oacute;n previa indispensable y obligatoria para poder beneficiarse de los servicios y productos ofertados. El Cliente declara, bajo su responsabilidad,
    haber le&iacute;do las presentes Condiciones Generales de Compra y las Condiciones Generales de Acceso y Uso del Portal &iacute;ntegramente, y aceptarlas.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Para los efectos de notificaciones, requerimientos y escritos de cualquier clase a que d&eacute; lugar el presente contrato se entender&aacute; como domicilio de LA EMPRESA el indicado en las presentes Condiciones Generales</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u><span style="text-transform: uppercase;">9-Ley aplicable, jurisdicci&oacute;n competente y resoluci&oacute;n de conflictos</span></u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Las Presentes Condiciones Generales de Compra se rigen por la ley espa&ntilde;ola. Para la resoluci&oacute;n de cualquier controversia que pueda surgir con respecto a su validez, ejecuci&oacute;n, cumplimiento o resoluci&oacute;n (total o parcial) se someten a la competencia de los Juzgados de Granada. Constituye este contrato la expresi&oacute;n completa e &iacute;ntegra del acuerdo entre&nbsp;Ron Montero y el usuario. La utilizaci&oacute;n del Portal atribuye la condici&oacute;n de usuario e implica la aceptaci&oacute;n plena y sin reservas de todas y cada una de las disposiciones incluidas en el </strong>
    <a
    href="https://www.textilprofesional.es/content/2-aviso-legal">Aviso Legal</a><strong>.</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Resoluci&oacute;n de litigios en l&iacute;nea conforme al Art. 14.1 del Reglamento (UE) 524/2013: La Comisi&oacute;n Europea facilita una plataforma de resoluci&oacute;n de litigios en l&iacute;nea, la cual se encuentra disponible en </strong>
    <a
    href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a><strong>.</strong></p>
  <img src="/static/tee.png" style="width:200px"/>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Estas Condiciones Generales definen los t&eacute;rminos y condiciones que se aplican al Cliente en el momento de la compra de los Productos presentes en la p&aacute;gina. Si el Cliente desea pedir aclaraciones al respecto, podr&aacute; contactar directamente con Ron Montero enviando un correo electr&oacute;nico a la direcci&oacute;n </strong>
    <a
    href="mailto:info@ronmontero.com">info@ronmontero.com</a>
  </p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Estas Condiciones Generales est&aacute;n sujetas a modificaciones; por ello invitamos al Cliente a comprobarlos y a guardar una copia antes de realizar cualquier Pedido.</strong></p>
</section>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
strong {
    font-weight: bold !important;
}
ul{
  list-style-type: circle !important;
}
ul li{
  list-style-type: circle !important;
  display: block;
}
</style>
