<template lang="pug">
.fullPage.relative#Contacto(style="background-color: white;")
  .row(v-if="!vertical" style="height: 100vh;display: flex;align-items: center;")
    .col.l7.m6.s12
      contacto(style="width: 90%; position:relative; left: 5%")
      .emails(style="width: 90%; padding-left: 6.5%; font-size: 1.55vw; color: #828282")
        p.shareFont
          a(href="mailto:info@ronmontero.com") info@ronmontero.com
          |  /
          a(href="tel:+34958600183")  (+34) 958 600 183
        p.shareFont
          a(href="mailto:ventas@ronmontero.com") ventas@ronmontero.com
          |  /
          a(href="tel:+34958600183")  (+34) 958 600 183
        p.shareFont
          a(href="mailto:visitas@ronmontero.com") visitas@ronmontero.com
          |  /
          a(href="tel:+34629223428")  (+34) 629 223 428
    .col.l5.m6.s12
      transition(appear-active-class="fadeInDown" appear)
        form
          .col.s12
            label Nombre
            input(type="text" placeholder="Nombre" v-model="name")
          .col.s7
            label Correo Electronico
            input(type="email" placeholder="tucorreo@proveedor.com" v-model="email")
          .col.s5
            label Teléfono
            input(type="tel" placeholder=" (+34) 958 600183" v-model="phone")
          .col.s12
            label Mensaje
            textarea.materialize-textarea(style="height: 80px" placeholder="¿Como te podemos ayudar?" v-model="message")
          .col.s12
            .row
              .col
                label Razon:
              .col
                <input type="radio" id="InformationC" value="Information" v-model="razon">
                <label for="InformationC">Información</label>
              .col
                <input type="radio" id="VentasC" value="Ventas" v-model="razon">
                <label for="VentasC">Ventas</label>
              .col
                <input type="radio" id="VisitasC" value="Visitas" v-model="razon">
                <label for="VisitasC">Visitas</label>
              br
              br
          .col.s12
            p
              input(type="checkbox" id="legal" v-model="privacidad")
              label(for="legal") He leído y acepto la
              a(href="/#/privacidad" target="_blank")  política de privacidad.
          .col.s12
            p
              input(type="checkbox" id="legal3" v-model="privacidad2")
              label(for="legal3") Autorizo expresamente el envío de comunicaciones comerciales por parte de Ron Montero.
          .col.s12
            br
            span.btn.btn-small.grey.darken-1.z-depth-0(@click="sendEmail()")  Enviar
  .row(v-if="vertical")
    .row(style="padding-top:20px")
      contacto(style="width: 90%; padding-left: 5%")
      .emails(style="width: 90%; padding-left: 6.5%; font-size: 4.3vw; color: #828282")
        p.shareFont
          a(href="mailto:info@ronmontero.com") info@ronmontero.com
          |  /
          a(href="tel:+34958600183")  (+34) 958 600 183
        p.shareFont
          a(href="mailto:ventas@ronmontero.com") ventas@ronmontero.com
          |  /
          a(href="tel:+34958600183")  (+34) 958 600 183
        p.shareFont
          a(href="mailto:visitas@ronmontero.com") visitas@ronmontero.com
          |  /
          a(href="tel:+34629223428")  (+34) 629 223 428

    .row(style="width: 90vw; padding-left:5vw; padding-top:20px")
      transition(appear-active-class="fadeInDown" appear)
        form
          .col.s12
            label Nombre
            input(type="text" placeholder="Nombre" v-model="name")
          .col.s7
            label Correo Electronico
            input(type="email" placeholder="tucorreo@proveedor.com" v-model="email")
          .col.s5
            label Teléfono
            input(type="tel" placeholder=" (+34) 958 600183" v-model="phone")
          .col.s12
            label Mensaje
            textarea.materialize-textarea(style="height: 80px" placeholder="¿Como te podemos ayudar?" v-model="message")
          .col.s12
            .row
              .col
                label Razon:
              .col
                <input type="radio" id="InformationC" value="Information" v-model="razon">
                <label for="InformationC">Información</label>
              .col
                <input type="radio" id="VentasC" value="Ventas" v-model="razon">
                <label for="VentasC">Ventas</label>
              .col
                <input type="radio" id="VisitasC" value="Visitas" v-model="razon">
                <label for="VisitasC">Visitas</label>
          br
          br
          .col.s12
            p
              input(type="checkbox" id="legal2" v-model="privacidad")
              label(for="legal2") He leído y acepto la
              a(href="/#/privacidad" target="_blank")  política de privacidad.
          .col.s12
            p
              input(type="checkbox" id="legal4" v-model="privacidad2")
              label(for="legal4") Autorizo expresamente el envío de comunicaciones comerciales por parte de Ron Montero.
          .col.s12
            br
            span.btn.btn-small.grey.darken-1.z-depth-0(@click="sendEmail()")  Enviar
            <br>
            <br>
</template>

<script>
import contacto from '@/../static/contacto.svg';

function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}

export default {
  components:{
    contacto,
  },
  props:[
    "vertical"
  ],
  data(){
    return {
      privacidad: false,
      privacidad2: false,
      name:"",
      email: "",
      phone: "",
      message: "",
      razon: "Information",
    }
  },
  methods:{
    sendEmail(){
      if(!this.privacidad){
        Materialize.toast('Verifica el aceptar nuestra política de privacidad.', 4000);
        return 1;
      }
      if(!this.name || !this.email || !this.phone || !this.message){
        Materialize.toast('Por favor responde a todas las casillas del formulario.', 4000);
        return 1;
      }
      if(!validateEmail(this.email)){
        Materialize.toast('Verifica el correo electronico.', 4000);
        return 1;
      }
      let emailArray = {
        Information: "info@ronmontero.com",
        Ventas: "ventas@ronmontero.com",
        Visitas: "visitas@ronmontero.com"
      }
      let email = emailArray[this.razon];
      let this2 = this;
      $.ajax('/static/email.php?', {
      method: 'POST',
        data: {
            name: this.name,
            email: this.email,
            phone: this.phone,
            message: this.message,
            to: email,
        }
      }).then(
          function success(data) {
              if (data !== 'Message Sended') {
                  Materialize.toast('Hubo un problema con el servidor, por favor intenta de nuevo más tarde.', 4000)
              }
              Materialize.toast('Gracias por ponerte en contacto, te responderemos a la brevedad.', 4000);
              this2.name = "";
              this2.email= "";
              this2.message="";
              this2.phone="";
              this2.privacidad = false;
          },

          function fail(data, status) {
              Materialize.toast('Hubo un problema con el servidor, por favor intenta de nuevo más tarde.', 4000)
          }
      );
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
