<template lang="pug">
  .fullPage.relative(style="background-color: #E5C86A;" :class="{vertical}")
    svg#home4.absCenter(v-if="!vertical" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1920 1080' style='enable-background:new 0 0 1920 1080;' xml:space='preserve')
      path.st0(d='M1281.1,528.7h29.1l14.1,56.9c1.5,6.3,2.7,12.3,3.5,18c0.9,5.7,1.7,11.1,2.5,16.1h0.7c0.8-5,1.6-10.4,2.5-16.1\
      c0.9-5.7,2-11.7,3.5-18l14.5-56.9h28.5v146.9h-20.8V627c0-7.5,0.1-14.6,0.2-21.5c0.1-6.9,0.3-13.2,0.6-19c0.2-5.8,0.5-10.9,0.8-15.3\
      c0.3-4.4,0.5-7.9,0.8-10.5h-1.6l-22.2,95.9h-14.1l-22.4-95.9h-1.6c0.2,2.6,0.5,6.1,0.8,10.5c0.3,4.4,0.5,9.5,0.8,15.3\
      c0.2,5.8,0.4,12.1,0.6,19c0.1,6.9,0.2,14,0.2,21.5v48.6h-20.8V528.7z')
      path.st0(d='M1425.8,528.7h25.6l27.2,146.9H1456l-4-26.3h-26.8l-3.9,26.3h-22.6L1425.8,528.7z M1449.4,632.5l-10.3-73.2\
      h-0.9l-10.4,73.2H1449.4z M1429.6,516.5l27.6-18.6l11.1,14.4l-29.7,14.3L1429.6,516.5z')
      path.st0(d='M1491.5,645.8c0-3.2,0.2-6.1,0.6-8.7c0.4-2.7,0.9-5.5,1.7-8.6h17.3v7.1c0,4,0.2,7.5,0.7,10.5\
      c0.5,3,1.3,5.6,2.4,7.7c1.1,2.1,2.6,3.7,4.5,4.7c1.9,1.1,4.1,1.6,6.8,1.6c4.2,0,7.5-1.2,9.7-3.5c2.2-2.3,3.4-5.7,3.4-10.2\
      c0-2.3-0.2-4.4-0.5-6.3c-0.3-1.9-0.9-3.8-1.6-5.7c-0.8-1.9-1.8-3.9-3.1-6c-1.3-2.1-3-4.4-5.1-7l-23.2-27.6c-4.1-5.3-7.3-10.6-9.5-16\
      c-2.2-5.4-3.4-11.1-3.4-17.2c0-4.9,0.8-9.3,2.3-13.4c1.5-4.1,3.7-7.6,6.6-10.5c2.9-3,6.4-5.2,10.6-6.9c4.2-1.6,9-2.5,14.3-2.5\
      c6.5,0,11.9,0.9,16.2,2.8c4.3,1.8,7.8,4.2,10.4,7.2c2.6,3,4.4,6.3,5.5,10c1.1,3.7,1.6,7.4,1.6,11.1c0,3.2-0.2,6.1-0.7,8.7\
      c-0.5,2.7-1,5.6-1.7,8.8h-17.2v-7c0-7.8-1.1-13.8-3.4-17.9c-2.2-4.2-5.9-6.2-10.9-6.2c-4.2,0-7.3,1.2-9.4,3.5\
      c-2.1,2.3-3.1,5.4-3.1,9.3c0,2.1,0.2,3.9,0.5,5.6c0.3,1.7,0.8,3.2,1.4,4.6c0.6,1.4,1.3,2.8,2.2,4.1c0.9,1.3,1.8,2.7,2.9,4.1\
      l25.9,31.3c4.7,6.1,8.3,12,10.8,17.7c2.5,5.6,3.8,11.6,3.8,17.9c0,5.2-0.8,9.9-2.5,14.1c-1.6,4.2-4,7.7-7,10.7\
      c-3,2.9-6.7,5.2-11,6.8c-4.3,1.6-9.1,2.4-14.5,2.4c-6.7,0-12.2-0.9-16.6-2.7c-4.4-1.8-7.9-4.1-10.5-7.1c-2.6-2.9-4.4-6.2-5.5-10\
      C1492,653.5,1491.5,649.7,1491.5,645.8z')
      g#FranciscoEnTransparente_1_
        g#Raro_x5F_ShadesOfFrancisco_1_
          g#Raro_x5F_ShadesOfFrancisco_2_
            g#Raro_x5F_ShadesOfFrancisco_3_
              g#Raro_x5F_ShadesOfFrancisco_4_
                image#Raro_x5F_ShadesOfFrancisco_5_(style='overflow:visible;' width='1366' height='1428' xlink:href='/static/francisco.png' transform='matrix(0.5679 0 0 0.5679 706.2662 155.1356)')
      text.st0.st1.st2.st3(transform='matrix(1 0 0 1 371.5215 493.5879)') FRANCISCO MONTERO NUNCA QUISO SER
      text COMO LOS DEMAS
      text.st0.st1.st2.st3(transform='matrix(1 0 0 1 371.5215 749.4971)') POR ESO RON MONTERO TAMPOCO LO ES.
      g
        path.st0(d='M403.4,676.9c-2.3,0-4.8-0.2-7.4-0.6c-2.7-0.4-5.3-1.2-8-2.4c-2.7-1.2-5.2-2.9-7.7-5.1\
        c-2.4-2.2-4.6-5.1-6.5-8.7c-1.9-3.6-3.4-8.1-4.5-13.4c-1.1-5.3-1.7-11.6-1.7-19v-52c0-7.4,0.6-13.7,1.7-19\
        c1.1-5.2,2.7-9.7,4.6-13.2c1.9-3.6,4.1-6.4,6.5-8.6c2.5-2.1,5-3.7,7.7-4.9c2.6-1.1,5.3-1.8,7.9-2.2c2.6-0.3,5-0.5,7.3-0.5\
        c5.8,0,10.7,0.8,14.7,2.5c3.9,1.6,7.1,3.9,9.5,6.7c2.4,2.8,4.1,6.2,5.1,9.9c1,3.8,1.5,7.8,1.5,12c0,3.2-0.2,6.1-0.5,8.7\
        c-0.3,2.7-0.8,5.6-1.4,8.8h-18.1v-7.5c0-8.1-0.9-14.1-2.7-18.1c-1.8-4-4.4-6-7.8-6c-2.1,0-3.9,0.4-5.4,1.2\
        c-1.5,0.8-2.8,2.2-3.9,4.1c-1,1.9-1.8,4.5-2.4,7.6c-0.5,3.2-0.8,7.1-0.8,11.8v67.1c0,4.6,0.2,8.4,0.6,11.4c0.4,3,1.1,5.5,2.1,7.3\
        c1,1.8,2.2,3.1,3.8,3.9c1.6,0.8,3.5,1.2,5.7,1.2c1.4,0,2.8-0.3,4.1-1c1.3-0.7,2.5-1.7,3.5-3.1c1-1.4,1.8-3.2,2.4-5.3\
        c0.6-2.2,0.9-4.7,0.9-7.6v-14.4h20.4v13.6c0,11.8-2.7,20.5-8.1,26.1C421.3,674,413.5,676.8,403.4,676.9z')
        path.st0(d='M489.2,676.9c-2.4,0-4.9-0.2-7.7-0.6c-2.8-0.4-5.5-1.2-8.2-2.4c-2.7-1.2-5.3-2.9-7.8-5.1\
        c-2.5-2.2-4.7-5.1-6.6-8.7c-1.9-3.6-3.5-8.1-4.6-13.4c-1.1-5.3-1.7-11.6-1.7-19v-52c0-7.4,0.6-13.7,1.8-19\
        c1.2-5.2,2.7-9.7,4.7-13.2c1.9-3.6,4.2-6.4,6.7-8.6c2.5-2.1,5.1-3.7,7.8-4.9c2.7-1.1,5.4-1.8,8.1-2.2c2.7-0.3,5.2-0.5,7.5-0.5\
        c2.2,0,4.6,0.2,7.3,0.5c2.7,0.3,5.3,1,8,2.1c2.7,1.1,5.3,2.6,7.8,4.7c2.5,2.1,4.8,4.9,6.7,8.5c1.9,3.6,3.5,8,4.7,13.3\
        c1.2,5.3,1.8,11.7,1.8,19.2v52c0,7.3-0.6,13.5-1.8,18.8s-2.8,9.7-4.7,13.3c-2,3.6-4.2,6.6-6.8,8.8c-2.6,2.2-5.2,3.9-7.8,5.2\
        c-2.7,1.2-5.3,2.1-8,2.5C493.7,676.7,491.3,676.9,489.2,676.9z M489.2,660.1c2.2,0,4.1-0.4,5.7-1.1c1.6-0.7,3-2,4-3.9\
        c1.1-1.8,1.9-4.3,2.4-7.3c0.5-3,0.8-6.8,0.8-11.4v-66.8c0-4.7-0.3-8.6-0.8-11.8c-0.5-3.2-1.3-5.7-2.4-7.6c-1.1-1.9-2.4-3.3-4-4.1\
        c-1.6-0.8-3.5-1.2-5.7-1.2c-2.2,0-4.2,0.4-5.8,1.2c-1.7,0.8-3,2.2-4.1,4.1c-1.1,1.9-1.9,4.5-2.5,7.6c-0.5,3.2-0.8,7.1-0.8,11.8\
        v66.8c0,4.6,0.3,8.4,0.8,11.4c0.5,3,1.4,5.4,2.5,7.3c1.1,1.8,2.5,3.1,4.1,3.9C485,659.7,487,660.1,489.2,660.1z')
        path.st0(d='M550.9,528.7H580l14.1,56.9c1.5,6.3,2.7,12.3,3.5,18c0.9,5.7,1.7,11.1,2.5,16.1h0.7c0.8-5,1.6-10.4,2.5-16.1\
        c0.9-5.7,2-11.7,3.5-18l14.5-56.9h28.5v146.9H629V627c0-7.5,0.1-14.6,0.2-21.5c0.1-6.9,0.3-13.2,0.6-19c0.2-5.8,0.5-10.9,0.8-15.3\
        c0.3-4.4,0.5-7.9,0.8-10.5h-1.6l-22.2,95.9h-14.1L571,560.8h-1.6c0.2,2.6,0.5,6.1,0.8,10.5c0.3,4.4,0.5,9.5,0.8,15.3\
        c0.2,5.8,0.4,12.1,0.6,19c0.1,6.9,0.2,14,0.2,21.5v48.6h-20.8V528.7z')
        path.st0(d='M711.9,676.9c-2.4,0-4.9-0.2-7.7-0.6c-2.8-0.4-5.5-1.2-8.2-2.4c-2.7-1.2-5.3-2.9-7.8-5.1\
        c-2.5-2.2-4.7-5.1-6.6-8.7c-1.9-3.6-3.5-8.1-4.6-13.4c-1.1-5.3-1.7-11.6-1.7-19v-52c0-7.4,0.6-13.7,1.8-19\
        c1.2-5.2,2.7-9.7,4.7-13.2c1.9-3.6,4.2-6.4,6.7-8.6c2.5-2.1,5.1-3.7,7.8-4.9c2.7-1.1,5.4-1.8,8.1-2.2c2.7-0.3,5.2-0.5,7.5-0.5\
        c2.2,0,4.6,0.2,7.3,0.5c2.7,0.3,5.3,1,8,2.1c2.7,1.1,5.3,2.6,7.8,4.7c2.5,2.1,4.8,4.9,6.7,8.5c1.9,3.6,3.5,8,4.7,13.3\
        c1.2,5.3,1.8,11.7,1.8,19.2v52c0,7.3-0.6,13.5-1.8,18.8s-2.8,9.7-4.7,13.3c-2,3.6-4.2,6.6-6.8,8.8c-2.6,2.2-5.2,3.9-7.8,5.2\
        c-2.7,1.2-5.3,2.1-8,2.5C716.4,676.7,714,676.9,711.9,676.9z M711.9,660.1c2.2,0,4.1-0.4,5.7-1.1c1.6-0.7,3-2,4-3.9\
        c1.1-1.8,1.9-4.3,2.4-7.3c0.5-3,0.8-6.8,0.8-11.4v-66.8c0-4.7-0.3-8.6-0.8-11.8c-0.5-3.2-1.3-5.7-2.4-7.6c-1.1-1.9-2.4-3.3-4-4.1\
        c-1.6-0.8-3.5-1.2-5.7-1.2c-2.2,0-4.2,0.4-5.8,1.2c-1.7,0.8-3,2.2-4.1,4.1c-1.1,1.9-1.9,4.5-2.5,7.6c-0.5,3.2-0.8,7.1-0.8,11.8\
        v66.8c0,4.6,0.3,8.4,0.8,11.4c0.5,3,1.4,5.4,2.5,7.3c1.1,1.8,2.5,3.1,4.1,3.9C707.7,659.7,709.6,660.1,711.9,660.1z')
        path.st0(d='M815.6,528.7h22.3V658h30.4v17.5h-52.6V528.7z')
        path.st0(d='M919.3,676.9c-2.4,0-4.9-0.2-7.7-0.6c-2.8-0.4-5.5-1.2-8.2-2.4c-2.7-1.2-5.3-2.9-7.8-5.1\
        c-2.5-2.2-4.7-5.1-6.6-8.7c-1.9-3.6-3.5-8.1-4.6-13.4c-1.1-5.3-1.7-11.6-1.7-19v-52c0-7.4,0.6-13.7,1.8-19\
        c1.2-5.2,2.7-9.7,4.7-13.2c1.9-3.6,4.2-6.4,6.7-8.6c2.5-2.1,5.1-3.7,7.8-4.9c2.7-1.1,5.4-1.8,8.1-2.2c2.7-0.3,5.2-0.5,7.5-0.5\
        c2.2,0,4.6,0.2,7.3,0.5c2.7,0.3,5.3,1,8,2.1c2.7,1.1,5.3,2.6,7.8,4.7c2.5,2.1,4.8,4.9,6.7,8.5c1.9,3.6,3.5,8,4.7,13.3\
        c1.2,5.3,1.8,11.7,1.8,19.2v52c0,7.3-0.6,13.5-1.8,18.8c-1.2,5.2-2.8,9.7-4.7,13.3c-2,3.6-4.2,6.6-6.8,8.8\
        c-2.6,2.2-5.2,3.9-7.8,5.2c-2.7,1.2-5.3,2.1-8,2.5C923.8,676.7,921.4,676.9,919.3,676.9z M919.3,660.1c2.2,0,4.1-0.4,5.7-1.1\
        c1.6-0.7,3-2,4-3.9c1.1-1.8,1.9-4.3,2.4-7.3c0.5-3,0.8-6.8,0.8-11.4v-66.8c0-4.7-0.3-8.6-0.8-11.8c-0.5-3.2-1.3-5.7-2.4-7.6\
        c-1.1-1.9-2.4-3.3-4-4.1c-1.6-0.8-3.5-1.2-5.7-1.2c-2.2,0-4.2,0.4-5.8,1.2c-1.7,0.8-3,2.2-4.1,4.1c-1.1,1.9-1.9,4.5-2.5,7.6\
        c-0.5,3.2-0.8,7.1-0.8,11.8v66.8c0,4.6,0.3,8.4,0.8,11.4c0.5,3,1.4,5.4,2.5,7.3c1.1,1.8,2.5,3.1,4.1,3.9\
        C915.1,659.7,917.1,660.1,919.3,660.1z')
        path.st0(d='M975.3,645.8c0-3.2,0.2-6.1,0.6-8.7c0.4-2.7,0.9-5.5,1.7-8.6h17.3v7.1c0,4,0.2,7.5,0.7,10.5\
        c0.5,3,1.3,5.6,2.4,7.7s2.6,3.7,4.5,4.7c1.9,1.1,4.1,1.6,6.8,1.6c4.2,0,7.5-1.2,9.7-3.5c2.2-2.3,3.4-5.7,3.4-10.2\
        c0-2.3-0.2-4.4-0.5-6.3c-0.3-1.9-0.9-3.8-1.6-5.7c-0.8-1.9-1.8-3.9-3.1-6c-1.3-2.1-3-4.4-5.1-7l-23.2-27.6\
        c-4.1-5.3-7.3-10.6-9.5-16c-2.2-5.4-3.4-11.1-3.4-17.2c0-4.9,0.8-9.3,2.3-13.4c1.5-4.1,3.7-7.6,6.6-10.5c2.9-3,6.4-5.2,10.6-6.9\
        c4.2-1.6,9-2.5,14.3-2.5c6.5,0,11.9,0.9,16.2,2.8c4.3,1.8,7.8,4.2,10.4,7.2c2.6,3,4.4,6.3,5.5,10c1.1,3.7,1.6,7.4,1.6,11.1\
        c0,3.2-0.2,6.1-0.7,8.7c-0.5,2.7-1,5.6-1.7,8.8h-17.2v-7c0-7.8-1.1-13.8-3.4-17.9c-2.2-4.2-5.9-6.2-10.9-6.2\
        c-4.2,0-7.3,1.2-9.4,3.5c-2.1,2.3-3.1,5.4-3.1,9.3c0,2.1,0.2,3.9,0.5,5.6c0.3,1.7,0.8,3.2,1.4,4.6c0.6,1.4,1.3,2.8,2.2,4.1\
        c0.9,1.3,1.8,2.7,2.9,4.1l25.9,31.3c4.7,6.1,8.3,12,10.8,17.7c2.5,5.6,3.8,11.6,3.8,17.9c0,5.2-0.8,9.9-2.5,14.1\
        c-1.6,4.2-4,7.7-7,10.7c-3,2.9-6.7,5.2-11,6.8c-4.3,1.6-9.1,2.4-14.5,2.4c-6.7,0-12.2-0.9-16.6-2.7c-4.4-1.8-7.9-4.1-10.5-7.1\
        c-2.6-2.9-4.4-6.2-5.5-10C975.8,653.5,975.3,649.7,975.3,645.8z')
        path.st0(d='M1109.7,528.7h23.1c3.5,0,7.1,0.1,10.9,0.3c3.8,0.2,7.4,0.8,11,1.8c3.6,1,7,2.6,10.1,4.8c3.2,2.2,6,5.2,8.4,9\
        c2.4,3.9,4.3,8.7,5.7,14.6c1.4,5.9,2.1,13.1,2.1,21.5v42.7c0,8.5-0.7,15.7-2.1,21.6c-1.4,5.9-3.3,10.8-5.7,14.6\
        c-2.4,3.8-5.2,6.8-8.4,9c-3.2,2.2-6.6,3.7-10.1,4.8c-3.6,1-7.3,1.6-11,1.9c-3.8,0.2-7.4,0.3-10.9,0.3h-23.1V528.7z M1137.6,660\
        c4,0,7.3-0.5,9.9-1.5c2.6-1,4.7-2.9,6.2-5.5c1.5-2.6,2.6-6.2,3.1-10.7c0.6-4.5,0.9-10.2,0.9-17.1v-45.6c0-6.9-0.3-12.6-0.9-17.1\
        c-0.6-4.5-1.6-8.1-3.1-10.7c-1.5-2.6-3.6-4.4-6.2-5.5s-5.9-1.5-9.9-1.5h-5.7V660H1137.6z')
        path.st0(d='M1205.4,528.7h54.4v17.5h-32.2v44h24.9v17.5h-24.9V658h33v17.5h-55.3V528.7z')
    svg#home4.absCenter(v-if="vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 908.7437 604.991')
      title Home3
      g#Layer_2(data-name='Layer 2')
        g#Layer_1-2(data-name='Layer 1')
          path(d='M681.4126,278.666h21.6892l10.5232,42.4151q1.668,7.06,2.6315,13.4434.9615,6.3863,1.8605,12.0314h.513q.8985-5.6461,1.8615-12.0314.9615-6.3834,2.6306-13.4434l10.8446-42.4151h21.24V388.2654H739.6773V352.01q0-8.3415.1607-16.0422t.4168-14.1489q.2565-6.4493.5775-11.3894t.5775-7.8291h-1.2185l-16.5562,71.5474H713.112l-16.6832-71.5474h-1.22q.255,2.8876.5775,7.8291.3195,4.9411.5776,11.3894.2549,6.4494.4167,14.1489.16,7.7011.1608,16.0422v36.255H681.4126Z' style='fill: #282828')
          path(d='M789.2917,278.666h19.1222l20.2773,109.5994H811.8789L808.8624,368.63h-20.02l-2.8876,19.6353H769.0789Zm17.6457,77.4515-7.7-54.6072h-.7055l-7.7646,54.6072Zm-14.7582-86.5626,20.5977-13.8611,8.2776,10.7166-22.1377,10.6521Z' style='fill: #282828')
          path(d='M838.3286,366.0631a47.1362,47.1362,0,0,1,.4177-6.5133q.4162-2.9828,1.2513-6.4489h12.8976v5.3266a49.7984,49.7984,0,0,0,.5458,7.8281,18.3207,18.3207,0,0,0,1.796,5.7433,8.597,8.597,0,0,0,3.3371,3.53,10.1637,10.1637,0,0,0,5.1013,1.1867q4.7475,0,7.25-2.5987t2.5026-7.6039a29.2922,29.2922,0,0,0-.3523-4.7163,19.6939,19.6939,0,0,0-1.2195-4.2678,29.2916,29.2916,0,0,0-2.3418-4.4593,58.53,58.53,0,0,0-3.7865-5.2293l-17.3252-20.5988a51.6643,51.6643,0,0,1-7.1226-11.9023,32.924,32.924,0,0,1-2.5025-12.8015,28.41,28.41,0,0,1,1.7007-10.0111,22.3322,22.3322,0,0,1,4.9089-7.86,21.8854,21.8854,0,0,1,7.9243-5.1341,29.3893,29.3893,0,0,1,10.6839-1.8288,31.1033,31.1033,0,0,1,12.0959,2.0541,20.6868,20.6868,0,0,1,7.7318,5.39,19.5668,19.5668,0,0,1,4.0753,7.4749,30.0512,30.0512,0,0,1,1.1868,8.31,36.2956,36.2956,0,0,1-.5458,6.5134q-.5453,2.9828-1.2513,6.5768H874.4555v-5.1976q0-8.7255-2.5025-13.3789a8.5609,8.5609,0,0,0-8.15-4.6528q-4.6847,0-6.9936,2.5988a10.0968,10.0968,0,0,0-2.31,6.9628,22.46,22.46,0,0,0,.3522,4.1706,16.4121,16.4121,0,0,0,1.027,3.4333,19.9734,19.9734,0,0,0,1.6363,3.0482q.963,1.4761,2.182,3.08l19.3137,23.3573a66.6778,66.6778,0,0,1,8.0851,13.1864A32.4386,32.4386,0,0,1,889.92,364.01a28.7454,28.7454,0,0,1-1.8288,10.5231,21.9645,21.9645,0,0,1-5.23,7.9571,23.1633,23.1633,0,0,1-8.2131,5.0368,31.3383,31.3383,0,0,1-10.8446,1.7653,33.1333,33.1333,0,0,1-12.3519-1.9895,20.6653,20.6653,0,0,1-7.8291-5.2621,18.7415,18.7415,0,0,1-4.1061-7.4431A30.9774,30.9774,0,0,1,838.3286,366.0631Z' style='fill: #282828')
          g#FranciscoEnTransparente
            g#Raro_ShadesOfFrancisco
              g#Raro_ShadesOfFrancisco-2(data-name='Raro_ShadesOfFrancisco')
                g#Raro_ShadesOfFrancisco-3(data-name='Raro_ShadesOfFrancisco')
                  g#Raro_ShadesOfFrancisco-4(data-name='Raro_ShadesOfFrancisco')
                    image#Raro_ShadesOfFrancisco-5(data-name='Raro_ShadesOfFrancisco' width='1366' height='1428' transform='translate(254.638) scale(0.4237)' xlink:href='/static/francisco.png')
          text(transform='translate(2.8159 198.4063)' style='font-size: 40.79264831542969px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.044994607963605715em')
            | FRANCISCO MONTERO
            tspan(style='letter-spacing: 0.045006577798126494em')
              tspan(x='0' y='48.9512') NUNCA QUISO SER
          text(transform='translate(2.8159 453.9268)' style='font-size: 40.79264831542969px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.045006577798126494em')
            | POR ESO RON MONTERO
            tspan(x='0' y='48.9512') TAMPOCO LO ES.
          g
            path(d='M26.63,389.2279a40.3432,40.3432,0,0,1-5.5508-.4168,21.7836,21.7836,0,0,1-11.6781-5.5825,22.685,22.685,0,0,1-4.8126-6.5134,39.7011,39.7011,0,0,1-3.337-9.9783A69.5,69.5,0,0,1,0,352.5879V313.766a67.18,67.18,0,0,1,1.2835-14.149,39.1286,39.1286,0,0,1,3.4011-9.8821,21.5935,21.5935,0,0,1,4.8765-6.3843,21.8845,21.8845,0,0,1,5.7111-3.6258,22.6092,22.6092,0,0,1,5.8713-1.6363,41.7644,41.7644,0,0,1,5.4223-.385,28.6016,28.6016,0,0,1,10.94,1.8288,18.0653,18.0653,0,0,1,7.0586,5.0051,18.9338,18.9338,0,0,1,3.786,7.4113,34.9632,34.9632,0,0,1,1.1228,8.9841,55.8588,55.8588,0,0,1-.3527,6.5134q-.3541,2.9828-1.0588,6.5768H34.5864V308.44q0-9.0482-1.989-13.54t-5.8391-4.492a8.663,8.663,0,0,0-4.0425.899,7.0228,7.0228,0,0,0-2.8881,3.0473,18.9548,18.9548,0,0,0-1.7642,5.68,52.875,52.875,0,0,0-.61,8.7906V358.876a62.6151,62.6151,0,0,0,.4813,8.5346,16.7382,16.7382,0,0,0,1.5722,5.4546,6.5026,6.5026,0,0,0,2.8553,2.9193,9.6064,9.6064,0,0,0,4.2673.8662,6.8116,6.8116,0,0,0,3.08-.7372,7.1391,7.1391,0,0,0,2.5987-2.31,12.715,12.715,0,0,0,1.7966-3.9791,21.19,21.19,0,0,0,.6737-5.6788V353.23H49.9871v10.1381q0,13.22-6.0321,19.5072Q37.9228,389.1649,26.63,389.2279Z' style='fill: #282828')
            path(d='M90.6179,389.2279a42.8366,42.8366,0,0,1-5.7111-.4168,22.2229,22.2229,0,0,1-6.0955-1.7652,22.3317,22.3317,0,0,1-10.7484-10.3307,38.7342,38.7342,0,0,1-3.4328-9.9783,67.7388,67.7388,0,0,1-1.2835-14.149V313.766a65.6544,65.6544,0,0,1,1.3152-14.149,38.2217,38.2217,0,0,1,3.4973-9.8821,22.1545,22.1545,0,0,1,4.9733-6.3843,21.8192,21.8192,0,0,1,5.8391-3.6258,23.9467,23.9467,0,0,1,6.0638-1.6363,44.416,44.416,0,0,1,5.5826-.385,46.6969,46.6969,0,0,1,5.4223.3533,23.6124,23.6124,0,0,1,5.9676,1.54,21.7136,21.7136,0,0,1,5.8073,3.53,21.4259,21.4259,0,0,1,5.0051,6.3525,38.2034,38.2034,0,0,1,3.4973,9.9456,67.3563,67.3563,0,0,1,1.3152,14.3415v38.8219a63.4434,63.4434,0,0,1-1.3475,14.021,40.17,40.17,0,0,1-3.529,9.9456,22.6833,22.6833,0,0,1-5.0373,6.5451,24.997,24.997,0,0,1-5.84,3.85,21.9832,21.9832,0,0,1-5.9353,1.8288A35.7987,35.7987,0,0,1,90.6179,389.2279Zm0-12.5127a10.1793,10.1793,0,0,0,4.2673-.8345,6.7266,6.7266,0,0,0,3.016-2.8875,16.9538,16.9538,0,0,0,1.7966-5.4218,49.118,49.118,0,0,0,.61-8.5029V309.21a52.9847,52.9847,0,0,0-.61-8.7906,18.3505,18.3505,0,0,0-1.7966-5.68,7.0359,7.0359,0,0,0-3.016-3.0473,9.5678,9.5678,0,0,0-4.2673-.899,9.93,9.93,0,0,0-4.363.899,7.15,7.15,0,0,0-3.0806,3.0473,17.7248,17.7248,0,0,0-1.8288,5.68,52.8828,52.8828,0,0,0-.6092,8.7906v49.8581a49.0247,49.0247,0,0,0,.6092,8.5029,16.3838,16.3838,0,0,0,1.8288,5.4218,6.8461,6.8461,0,0,0,3.0806,2.8875A10.569,10.569,0,0,0,90.6179,376.7152Z' style='fill: #282828')
            path(d='M136.6393,278.666H158.328l10.5236,42.4151q1.6681,7.06,2.6306,13.4434.963,6.3863,1.861,12.0314h.5135q.8978-5.6461,1.861-12.0314.9622-6.3834,2.6306-13.4434l10.8446-42.4151h21.2392V388.2654H194.904V352.01q0-8.3415.16-16.0422t.4173-14.1489q.2548-6.4493.5775-11.3894.32-4.941.5775-7.8291h-1.22l-16.5552,71.5474H168.3381l-16.6837-71.5474h-1.219q.2558,2.8876.5775,7.8291t.5775,11.3894q.2558,6.4494.4168,14.1489.16,7.7011.1607,16.0422v36.255H136.6393Z' style='fill: #282828')
            path(d='M256.7105,389.2279a42.8378,42.8378,0,0,1-5.7111-.4168,22.2229,22.2229,0,0,1-6.0955-1.7652,22.3328,22.3328,0,0,1-10.7484-10.3307,38.738,38.738,0,0,1-3.4328-9.9783,67.7388,67.7388,0,0,1-1.2835-14.149V313.766a65.6544,65.6544,0,0,1,1.3152-14.149,38.2217,38.2217,0,0,1,3.4973-9.8821,22.153,22.153,0,0,1,4.9734-6.3843,21.8172,21.8172,0,0,1,5.839-3.6258,23.9467,23.9467,0,0,1,6.0638-1.6363,44.416,44.416,0,0,1,5.5826-.385,46.6969,46.6969,0,0,1,5.4223.3533,23.6113,23.6113,0,0,1,5.9676,1.54,21.7136,21.7136,0,0,1,5.8073,3.53,21.4243,21.4243,0,0,1,5.0051,6.3525,38.2,38.2,0,0,1,3.4973,9.9456,67.3563,67.3563,0,0,1,1.3152,14.3415v38.8219a63.4434,63.4434,0,0,1-1.3475,14.021,40.17,40.17,0,0,1-3.529,9.9456,22.6816,22.6816,0,0,1-5.0373,6.5451,24.997,24.997,0,0,1-5.84,3.85,21.9832,21.9832,0,0,1-5.9353,1.8288A35.7976,35.7976,0,0,1,256.7105,389.2279Zm0-12.5127a10.1793,10.1793,0,0,0,4.2673-.8345,6.7273,6.7273,0,0,0,3.0161-2.8875,16.9515,16.9515,0,0,0,1.7965-5.4218,49.118,49.118,0,0,0,.61-8.5029V309.21a52.9847,52.9847,0,0,0-.61-8.7906,18.348,18.348,0,0,0-1.7965-5.68,7.0366,7.0366,0,0,0-3.0161-3.0473,9.5678,9.5678,0,0,0-4.2673-.899,9.93,9.93,0,0,0-4.363.899,7.15,7.15,0,0,0-3.0806,3.0473,17.7273,17.7273,0,0,0-1.8288,5.68,52.8828,52.8828,0,0,0-.6092,8.7906v49.8581a49.0247,49.0247,0,0,0,.6092,8.5029,16.3861,16.3861,0,0,0,1.8288,5.4218,6.8461,6.8461,0,0,0,3.0806,2.8875A10.569,10.569,0,0,0,256.7105,376.7152Z' style='fill: #282828')
            path(d='M334.1231,278.666h16.6192v96.5092H373.394v13.09H334.1231Z' style='fill: #282828')
            path(d='M411.4583,389.2279a42.8378,42.8378,0,0,1-5.7111-.4168,22.2229,22.2229,0,0,1-6.0955-1.7652,22.3317,22.3317,0,0,1-10.7484-10.3307,38.7342,38.7342,0,0,1-3.4328-9.9783,67.7388,67.7388,0,0,1-1.2835-14.149V313.766a65.6544,65.6544,0,0,1,1.3152-14.149A38.2217,38.2217,0,0,1,389,289.7349a22.1545,22.1545,0,0,1,4.9733-6.3843,21.8192,21.8192,0,0,1,5.8391-3.6258,23.9467,23.9467,0,0,1,6.0638-1.6363,44.416,44.416,0,0,1,5.5826-.385,46.6969,46.6969,0,0,1,5.4223.3533,23.6124,23.6124,0,0,1,5.9676,1.54,21.7136,21.7136,0,0,1,5.8073,3.53,21.4259,21.4259,0,0,1,5.0051,6.3525,38.2034,38.2034,0,0,1,3.4973,9.9456,67.3563,67.3563,0,0,1,1.3152,14.3415v38.8219a63.4434,63.4434,0,0,1-1.3475,14.021,40.17,40.17,0,0,1-3.529,9.9456,22.6833,22.6833,0,0,1-5.0373,6.5451,24.997,24.997,0,0,1-5.84,3.85,21.9832,21.9832,0,0,1-5.9353,1.8288A35.7987,35.7987,0,0,1,411.4583,389.2279Zm0-12.5127a10.1793,10.1793,0,0,0,4.2673-.8345,6.7266,6.7266,0,0,0,3.016-2.8875,16.9538,16.9538,0,0,0,1.7966-5.4218,49.118,49.118,0,0,0,.61-8.5029V309.21a52.9847,52.9847,0,0,0-.61-8.7906,18.3505,18.3505,0,0,0-1.7966-5.68,7.0359,7.0359,0,0,0-3.016-3.0473,9.5678,9.5678,0,0,0-4.2673-.899,9.93,9.93,0,0,0-4.363.899,7.15,7.15,0,0,0-3.0806,3.0473,17.7248,17.7248,0,0,0-1.8288,5.68,52.8828,52.8828,0,0,0-.6092,8.7906v49.8581a49.0247,49.0247,0,0,0,.6092,8.5029,16.3838,16.3838,0,0,0,1.8288,5.4218,6.8461,6.8461,0,0,0,3.0806,2.8875A10.569,10.569,0,0,0,411.4583,376.7152Z' style='fill: #282828')
            path(d='M453.2446,366.0631a47.1272,47.1272,0,0,1,.4168-6.5133q.417-2.9828,1.2512-6.4489h12.8982v5.3266a49.9292,49.9292,0,0,0,.5447,7.8281,18.3176,18.3176,0,0,0,1.7971,5.7433,8.5975,8.5975,0,0,0,3.337,3.53,10.1614,10.1614,0,0,0,5.1013,1.1867q4.7475,0,7.2506-2.5987t2.5025-7.6039a29.1736,29.1736,0,0,0-.3532-4.7163,19.6906,19.6906,0,0,0-1.2185-4.2678,29.2132,29.2132,0,0,0-2.3428-4.4593,58.3028,58.3028,0,0,0-3.7856-5.2293l-17.3252-20.5988a51.689,51.689,0,0,1-7.1226-11.9023,32.9149,32.9149,0,0,1-2.5025-12.8015,28.4324,28.4324,0,0,1,1.7-10.0111,22.34,22.34,0,0,1,4.9093-7.86,21.89,21.89,0,0,1,7.9243-5.1341,29.39,29.39,0,0,1,10.6839-1.8288,31.1026,31.1026,0,0,1,12.0959,2.0541,20.6868,20.6868,0,0,1,7.7318,5.39,19.567,19.567,0,0,1,4.0754,7.4749,30.0548,30.0548,0,0,1,1.1867,8.31,36.296,36.296,0,0,1-.5457,6.5134q-.5454,2.9828-1.2513,6.5768H489.371v-5.1976q0-8.7255-2.5025-13.3789a8.5618,8.5618,0,0,0-8.15-4.6528q-4.6845,0-6.9946,2.5988a10.0968,10.0968,0,0,0-2.31,6.9628,22.4547,22.4547,0,0,0,.3532,4.1706,16.4122,16.4122,0,0,0,1.0271,3.4333,19.8855,19.8855,0,0,0,1.6362,3.0482q.9615,1.4761,2.181,3.08l19.3148,23.3573a66.7823,66.7823,0,0,1,8.0851,13.1864,32.44,32.44,0,0,1,2.824,13.3789,28.7454,28.7454,0,0,1-1.8287,10.5231,21.9648,21.9648,0,0,1-5.23,7.9571,23.1712,23.1712,0,0,1-8.2131,5.0368,31.3419,31.3419,0,0,1-10.8446,1.7653,33.1337,33.1337,0,0,1-12.3519-1.9895,20.66,20.66,0,0,1-7.8286-5.2621,18.7508,18.7508,0,0,1-4.107-7.4431A30.9918,30.9918,0,0,1,453.2446,366.0631Z' style='fill: #282828')
            path(d='M553.5,278.666h17.2617q3.9135,0,8.1169.2253a36.71,36.71,0,0,1,8.2141,1.3793,26.6072,26.6072,0,0,1,7.5711,3.5613,21.9423,21.9423,0,0,1,6.2573,6.7375,36.8887,36.8887,0,0,1,4.2668,10.9092,70.2976,70.2976,0,0,1,1.5718,16.0739V349.38a70.7185,70.7185,0,0,1-1.5718,16.1057,36.409,36.409,0,0,1-4.2668,10.9091,22.0419,22.0419,0,0,1-6.2573,6.7049,26.6126,26.6126,0,0,1-7.5711,3.5613,36.6545,36.6545,0,0,1-8.2141,1.38q-4.2024.2259-8.1169.2243H553.5Zm20.8548,97.9847a20.3428,20.3428,0,0,0,7.4113-1.155,9.1692,9.1692,0,0,0,4.62-4.0743,21.296,21.296,0,0,0,2.3427-7.9571,104.107,104.107,0,0,0,.641-12.7369V316.718a104.1206,104.1206,0,0,0-.641-12.7369,21.2966,21.2966,0,0,0-2.3427-7.9571,9.1717,9.1717,0,0,0-4.62-4.0753,20.3428,20.3428,0,0,0-7.4113-1.155H570.12v85.857Z' style='fill: #282828')
            path(d='M624.8671,278.666h40.619v13.09H641.4868v32.79h18.5447v13.0912H641.4868v37.5379h24.64v13.09h-41.26Z' style='fill: #282828')
          path(d='M897.3163,401.1963l4.9582-12.8279h-5.0663V375h11.5355v13.3684l-5.1744,12.8279Z' style='fill: #282828')
</template>

<script>
export default {
  props:[
    "vertical"
  ]
}
</script>

<style lang="css" scoped>
.st0{fill:#282828;}
.st1{font-family:'Fjalla One';}
.st2{font-size:47.0557px;}
.st3{letter-spacing:2px;}
#home4{
  width: 100vw;
  max-height: calc(100vh - 65px);
  top: 56%;
}
.vertical #home4{
  width: 85vw;
  max-height: 1000px;
  top: 63%;
}
.fullPage.vertical{
  min-height: 100vmin;
}
</style>
