<template lang="pug">
.fullPage.relative#Raros(style="background-color: white;" :class="{vertical}")
  //svg#home5.absCenter(v-if="!vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1920 1080')
  svg#home5.absCenter(v-if="!vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1366 768')
    title Home5
    g#Layer_2(data-name='Layer 2')
      g#Layer_10(data-name='Layer 10')
        rect(width='1366' height='768' style='fill: #fff')
        image(width='637' height='1000' transform='translate(100.7672 192.6704) scale(0.4645)' xlink:href='/static/reserva.jpg')
        g(style='opacity: 0.8300000000000001')
          text(transform='translate(873.8933 287.9565)' style='font-size: 20.17292022705078px;fill: #282828;font-family: Share-Regular, Share')
            | A los ojos de los dem&aacute;s, el ir en
            tspan(x='260.9932' y='0' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='268.9414' y='0') ont
            tspan(x='295.9121' y='0' style='letter-spacing: -0.004986186252058825em') r
            tspan(x='302.6299' y='0') a
            tspan(x='0' y='21') de lo
            tspan(x='45.7314' y='21' style='letter-spacing: -0.010020782079380357em') c
            tspan(x='53.6792' y='21') om&uacute;n, el serle fiel a tus principios
            tspan(x='0' y='42') y el mantener tu integridad cuando ya
            tspan(x='0' y='63') po
            tspan(x='20.354' y='63' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='28.3022' y='63') os lo ha
            tspan(x='92.7334' y='63' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='100.6816' y='63' style='letter-spacing: 0.00002420478763135352em') en, no es normal.
            tspan(x='0' y='97') Ron Monte
            tspan(x='85.2495' y='97' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='91.7656' y='97') o
            tspan(x='107.2983' y='97' style='letter-spacing: -0.014982763543807828em') e
            tspan(x='116.4365' y='97') xiste po
            tspan(x='180.3633' y='97' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='186.8794' y='97') que en este mundo
            tspan(x='0' y='118') ya hay demasiado de lo mismo. Y nosot
            tspan(x='320.2002' y='118' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='326.7163' y='118') os
            tspan(x='0' y='139') de eso, no
            tspan(x='88.3154' y='139' style='letter-spacing: -0.015006968331439182em') v
            tspan(x='97.3325' y='139' style='letter-spacing: 0.00002420478763135352em') endemos.
            tspan(x='0' y='173') As&iacute; que ab
            tspan(x='82.9097' y='173' style='letter-spacing: -0.0050103910396901786em') r
            tspan(x='89.627' y='173') amos una botella de Ron Monte
            tspan(x='344.7705' y='173' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='351.2866' y='173') o.
            tspan(x='0' y='194') Y digamos &rdquo;salud&rdquo; por lo po
            tspan(x='226.2969' y='194' style='letter-spacing: -0.010020782079380357em') c
            tspan(x='234.2446' y='194') o
            tspan(x='249.7778' y='194' style='letter-spacing: -0.010020782079380357em') c
            tspan(x='257.7256' y='194') om&uacute;n.
            //tspan(x='307.4917' y='194' style='font-family: Helvetica, Helvetica') &#x2028;
            tspan(x='0' y='215' style='letter-spacing: -0.034975918127305834em') P
            tspan(x='9.3809' y='215') or lo aut&eacute;nti
            tspan(x='109.7598' y='215' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='117.708' y='215') o.
            //tspan(x='132.6357' y='215' style='font-family: Helvetica, Helvetica') &#x2028;
            tspan(x='142.7222' y='215')
            tspan(x='138.9668' y='215' style='letter-spacing: -0.034975918127305834em') Por lo raro.
            tspan(x='0' y='249') Que eso es digno de
            tspan(x='167.7349' y='249' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='175.6831' y='249') eleb
            tspan(x='209.9766' y='249' style='letter-spacing: -0.0050103910396901786em') r
            tspan(x='216.6938' y='249') ar en Motril,
            tspan(x='0' y='270') en Madrid, en
            tspan(x='114.1768' y='270' style='letter-spacing: -0.0649898547901842em') T
            tspan(x='121.439' y='270') ailandia y en cualquier
            tspan(x='0' y='291') parte del mundo.
          g
            path(d='M379.9972,500.3014v16.7657q0,31.2666,24.0162,31.2667,26.2755,0,26.2822-31.2667v-76.58q-5.4373,5.4373-10.1957,9.516a53.1535,53.1535,0,0,1-9.9688,6.7974,45.9572,45.9572,0,0,1-11.3288,4.078,68.8924,68.8924,0,0,1-14.7267,1.3593,72.4956,72.4956,0,0,1-23.11-3.6248A48.0433,48.0433,0,0,1,341.9331,446.83a57.5213,57.5213,0,0,1-12.9143-20.8445q-4.7582-12.68-4.758-30.8127v-38.97q0-52.1043,18.579-75.9012,18.5746-23.7893,61.1736-23.79,42.5886,0,61.1741,21.5237,18.5753,21.5293,18.5789,68.1984V503.02q0,46.6767-18.5789,68.1976-18.5856,21.527-61.1741,21.5237-16.7692.4467-30.1335-4.9841a66.5754,66.5754,0,0,1-22.8838-15.18,67.8767,67.8767,0,0,1-14.7272-23.11,79.7174,79.7174,0,0,1-5.2111-29.2273V500.3014Zm50.2984-168.1158q0-31.2668-26.2822-31.2667-26.2857,0-26.2821,31.2667V386.563q0,15.8664,6.5708,23.5631a21.2694,21.2694,0,0,0,16.9927,7.7036q7.6995,0,15.86-5.438,8.1565-5.4374,13.1409-9.5161Z' style='fill: #cecece')
            path(d='M612.8375,348.9521V332.1856q0-31.2668-24.0166-31.2667-26.2857,0-26.2821,31.2667v76.5812q5.4378-5.4384,10.1957-9.516a52.9,52.9,0,0,1,9.9691-6.7974,45.8275,45.8275,0,0,1,11.3284-4.0779,68.85,68.85,0,0,1,14.7272-1.36,72.6757,72.6757,0,0,1,23.11,3.6257,48.1314,48.1314,0,0,1,19.0317,11.7815,57.5885,57.5885,0,0,1,12.9147,20.8445q4.7576,12.6914,4.758,30.8136v38.97q0,52.1139-18.5789,75.9-18.5856,23.79-61.1741,23.79-42.5988,0-61.1737-21.5237Q509.0611,549.7,509.0683,503.02V346.2334q0-46.667,18.5789-68.1984,18.5748-21.516,61.1737-21.5237,16.7591-.4467,30.1339,4.985a66.727,66.727,0,0,1,22.8839,15.18,67.6157,67.6157,0,0,1,14.7267,23.3362,80.44,80.44,0,0,1,5.2111,29.0011v19.9383Zm-50.2987,168.115q0,31.2666,26.2821,31.2667,26.2755,0,26.2821-31.2667V462.69q0-15.8567-6.57-23.5639a21.3109,21.3109,0,0,0-16.9927-7.7028q-7.71,0-15.86,5.4381-8.1564,5.4372-13.1412,9.516Z' style='fill: #cecece')
            path(d='M738.1115,493.504v22.2038q0,15.41,6.1173,24.0162,6.1175,8.6134,19.2586,8.61,12.2344,0,19.4847-9.0621,7.2434-9.06,7.2505-29.4543V484.8942q0-26.7324-11.1019-36.4778-11.1093-9.7386-36.9309-9.7422V394.2666A85.4571,85.4571,0,0,0,763.2608,392a29.3223,29.3223,0,0,0,14.2737-7.93q5.4378-5.6607,7.93-15.4064,2.4851-9.74,2.4921-24.244,0-23.11-4.9846-33.3053Q777.981,300.919,765.3,300.9189q-11.7889,0-18.5789,7.0243-6.7966,7.0308-6.797,26.5087v13.594H689.1721V332.64a89.54,89.54,0,0,1,4.9845-30.5875A65.8218,65.8218,0,0,1,709.11,278.035a69.4418,69.4418,0,0,1,24.0166-15.86q14.04-5.6606,32.626-5.6642,18.1184,0,31.72,7.0243a70.5722,70.5722,0,0,1,22.8839,18.5782,77.7344,77.7344,0,0,1,13.8205,26.7356,109.688,109.688,0,0,1,4.5314,31.4929q0,28.548-6.797,45.9938-6.7971,17.4489-28.548,29.2273a94.0931,94.0931,0,0,1,20.1648,13.5948A54.1411,54.1411,0,0,1,835.99,445.9239a72.095,72.095,0,0,1,6.1173,21.7507,229.784,229.784,0,0,1,1.5859,29.0011q0,49.3954-19.7117,72.73-19.7113,23.3425-61.8537,23.3361-34.8987,0-54.83-18.8051-19.9455-18.7986-19.9383-60.9471V493.504Z' style='fill: #cecece')
          text(transform='translate(366.3301 224.9481)' style='font-size: 58.09785842895508px;fill: #cecece;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.04499749015184171em') RAROS DESDE
      g#Layer_23(data-name='Layer 23')
        g#Comprar.ComprarBtn(onclick="buyProduct('reserva')")
          circle(cx='167.0268' cy='517.2849' r='1.3604' style='fill: #b3b3b3')
          path(d='M166.1872,512.1411c.0475.3359.2009.44.5538.4377,2.7279-.0178,5.4562-.01,8.1842-.01,1.124,0,1.124,0,1.3677-1.1876H166.0153C166.08,511.6583,166.1527,511.897,166.1872,512.1411Z' style='fill: #b3b3b3')
          circle(cx='174.0961' cy='517.2849' r='1.3604' style='fill: #b3b3b3')
          path(d='M164.8306,506.6442a5.458,5.458,0,0,1,.15.6683c.0429.4339.2544.542.6871.5393,3.4838-.0208,6.9677-.0117,10.4516-.0117,1.0991,0,1.0992,0,1.347-1.07a.7752.7752,0,0,0,.0009-.1258Z' style='fill: #b3b3b3')
          path(d='M165.61,509.8266c.0407.3216.204.39.5058.3873,1.4681-.0149,2.9365-.0066,4.4048-.0066,1.9017,0,3.8034.0042,5.7052-.0088a.5274.5274,0,0,0,.4127-.1991,7.1469,7.1469,0,0,0,.2612-.989H165.4181A7.8184,7.8184,0,0,1,165.61,509.8266Z' style='fill: #b3b3b3')
          path.circleDark(d='M170.5285,495.5456a14,14,0,1,0,14,14A14,14,0,0,0,170.5285,495.5456Zm-3.5017,24.1a2.36,2.36,0,1,1,2.36-2.36A2.3627,2.3627,0,0,1,167.0268,519.6453Zm7.0693,0a2.36,2.36,0,1,1,2.36-2.36A2.3627,2.3627,0,0,1,174.0961,519.6453Zm4.709-13.42q-.8655,3.4728-1.7315,6.9458a.6571.6571,0,0,1-.7216.5546q-5.186-.0068-10.3721.0011a.674.674,0,0,1-.7451-.5779q-1.3421-5.4047-2.6953-10.8066c-.0335-.1336-.0721-.2659-.1165-.4287-.1724,0-.3387-.0074-.5043.0014-.35.0188-.65-.0589-.77-.4314-.1177-.3668.1266-.5647.3859-.7461h1.8481q.3963,1.6678.7927,3.3355c.0812.3392.1966.673.2461,1.0165.0475.3281.2154.3839.51.3834q6.4878-.0117,12.9756-.0033a1.6408,1.6408,0,0,1,.5371.0543A.5349.5349,0,0,1,178.8051,506.2253Z' style='fill: #b3b3b3')
          text(transform='translate(81.4976 516.5596)' style='font-size: 20.170000076293945px;fill: #282828;font-family: Share-Regular, Share')
            tspan(style='letter-spacing: -0.009998024565553359em') C
            tspan(x='8.3301' y='0') omp
            tspan(x='43.4053' y='0' style='letter-spacing: -0.0049869081368135405em') r
            tspan(x='50.1221' y='0') ar
        g#Info.InfoBtn(onclick="gotoTag('ProductDescription'); selectProd('RESERVA');")
          path.circleDark(d='M166.474,553.7273h10.1411v-13.42H166.474Zm3.8511-1.45c-2.015.0048-.03.0044-2.045,0-.5068-.0011-.96-.1335-.9567-.7492.0038-.6114.4368-.74.9592-.735.92.0082,1.032.0038,1.7942.0028.04-.0007.1163-.0015.2509-.0026.0108,0,.02.0023.0306.0023.4384,0,.2521.0014.0225.0019.4975.0062.903.1537.907.7341C171.2919,552.1453,170.83,552.2764,170.3251,552.2776Zm-2.0371-10.4805c1.019.0091,2.0382.0027,3.0574.0027.9958,0,1.9919.0059,2.9878-.0023.5229-.0043.956.1363.96.7383.0042.6131-.458.7442-.9626.7453q-3.0225.0073-6.045,0c-.5069-.0011-.96-.1335-.9567-.7493C167.3327,541.9209,167.7657,541.7925,168.288,541.7971Zm0,3c1.019.0091,2.0382.0027,3.0574.0027.9958,0-.0081.0059.9878-.0023.5229-.0043.956.1363.96.7383.0042.6131-.458.7442-.9626.7453-2.015.0049-2.03.0045-4.045,0-.5069-.0011-.96-.1335-.9567-.7493C167.3327,544.9209,167.7657,544.7925,168.288,544.7971Zm0,3c.9413.0084,1.8827.0033,2.824.0026.0451-.0006.1125-.0014.2212-.0022.0107,0,.02.0023.03.0023.4385,0,.2522.0014.0226.0018.4976.0063.903.1537.9069.7342.0042.6131-.458.7442-.9626.7453-2.015.0049-1.03.0045-3.045,0-.5069-.0011-.96-.1335-.9567-.7493C167.3327,547.9209,167.7657,547.7925,168.288,547.7971Z' style='fill: #b3b3b3')
          rect.circleDark(x='164.4726' y='540.3074' width='0.6836' height='13.4199' style='fill: #b3b3b3')
          path.circleDark(d='M170.5285,532.98a14,14,0,1,0,14,14A14,14,0,0,0,170.5285,532.98Zm7.2859,21.3469a.6.6,0,0,1-.6.6H163.873a.6.6,0,0,1-.6-.6V539.7078a.6.6,0,0,1,.6-.6h13.3418a.6.6,0,0,1,.6.6Z' style='fill: #b3b3b3')
          text(transform='translate(50.5764 553.9861)' style='font-size: 20.170000076293945px;fill: #282828;font-family: Share-Regular, Share') Informaci&oacute;n
  svg#home5(v-if="vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 974.2256 1397.3262')
    title Home5
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1')
        image(width='637' height='1000' transform='translate(0 26.0954) scale(0.5772)' xlink:href='/static/reserva.jpg')
        g(style='opacity: 0.8300000000000001')
          text(transform='translate(132.2959 624.665)' style='font-size: 45.72285079956055px;fill: #282828;font-family: Share-Regular, Share')
            | A los ojos de los dem&aacute;s, el ir en contra
            tspan(x='0' y='47.6055') de lo com&uacute;n, el serle fiel a tus principios
            tspan(x='0' y='95.2109') y el mantener tu integridad cuando ya
            tspan(x='0' y='142.8164') pocos lo hacen, no es normal.
            tspan(x='0' y='238.0273') Ron Montero existe porque en este mundo
            tspan(x='0' y='285.6328') ya hay demasiado de lo mismo. Y nosotros
            tspan(x='0' y='333.2383') de eso, no vendemos.
            tspan(x='0' y='428.4492') As&iacute; que abramos una botella de Ron Montero.
            tspan(x='0' y='476.0547') Y digamos &rdquo;salud&rdquo; por lo poco com&uacute;n.
            //tspan(x='696.9453' y='476.0547' style='font-family: Helvetica, Helvetica') &#x2028;
            tspan(x='0' y='523.6602' style='letter-spacing: -0.03498490026381676em') Por lo aut&eacute;ntico. Por lo raro.
            tspan(x='0' y='618.8711') Que eso es digno de celebrar en Motril,
            tspan(x='0' y='666.4766') en Madrid, en Tailandia y en cualquier
            tspan(x='0' y='714.082') parte del mundo.
          g
            path(d='M347.0224,408.4141V429.25q0,38.8576,29.8469,38.8577,32.6547,0,32.663-38.8577V334.0773q-6.7574,6.7574-12.671,11.8263a66.06,66.06,0,0,1-12.389,8.4477,57.118,57.118,0,0,1-14.0793,5.068,85.6192,85.6192,0,0,1-18.3021,1.6893,90.0943,90.0943,0,0,1-28.7212-4.5048,59.7053,59.7053,0,0,1-23.6527-14.643q-10.1368-10.1359-16.05-25.9051-5.9134-15.7591-5.9132-38.2936V229.3305q0-64.7544,23.09-94.3288,23.0844-29.5649,76.0256-29.5659,52.9282,0,76.0261,26.7493,23.0852,26.7564,23.09,84.7559V411.7927q0,58.009-23.09,84.7549-23.0978,26.7533-76.0261,26.7493-20.8407.5551-37.4494-6.1942a82.7391,82.7391,0,0,1-28.44-18.8658,84.3567,84.3567,0,0,1-18.3026-28.7207,99.07,99.07,0,0,1-6.4763-36.3232V408.4141Zm62.51-208.9316q0-38.8576-32.663-38.8577-32.6674,0-32.663,38.8577v67.58q0,19.7184,8.1661,29.2838a26.4334,26.4334,0,0,0,21.1182,9.5739q9.5689,0,19.7105-6.7584,10.1367-6.7573,16.3312-11.8263Z' style='fill: #cecece')
            path(d='M636.3924,220.32V199.4825q0-38.8576-29.8474-38.8577-32.6676,0-32.663,38.8577v95.1739q6.7581-6.7588,12.671-11.8263a65.7464,65.7464,0,0,1,12.3895-8.4477,56.9518,56.9518,0,0,1,14.0788-5.068,85.566,85.566,0,0,1,18.3026-1.69,90.3207,90.3207,0,0,1,28.7212,4.5059,59.814,59.814,0,0,1,23.6522,14.6419q10.1367,10.1359,16.05,25.9051,5.9127,15.7726,5.9132,38.2946v48.4317q0,64.7663-23.09,94.3277-23.0979,29.5664-76.0261,29.5659-52.941,0-76.0256-26.7493-23.0986-26.7414-23.09-84.7549V216.941q0-57.9971,23.09-84.7559,23.0842-26.74,76.0256-26.7493,20.8278-.5551,37.45,6.1953a82.9274,82.9274,0,0,1,28.44,18.8657,84.0332,84.0332,0,0,1,18.3021,29.0018,99.9677,99.9677,0,0,1,6.4763,36.0421V220.32ZM573.882,429.25q0,38.8576,32.663,38.8577,32.6547,0,32.663-38.8577V361.6718q0-19.7065-8.1657-29.2849a26.4846,26.4846,0,0,0-21.1182-9.5729q-9.5823,0-19.71,6.7584Q580.077,336.33,573.882,341.3987Z' style='fill: #cecece')
            path(d='M792.0808,399.9664v27.5945q0,19.1512,7.6025,29.8469,7.6027,10.7046,23.9343,10.7,15.2047,0,24.2153-11.2622,9.0018-11.26,9.0108-36.6053V389.2662q0-33.2226-13.7973-45.334-13.8065-12.1029-45.8971-12.1074V276.6359a106.2066,106.2066,0,0,0,26.1867-2.8166q10.9815-2.8116,17.739-9.855,6.7581-7.0348,9.8555-19.1468,3.0883-12.1044,3.0971-30.13,0-28.72-6.1947-41.3912Q841.63,160.6248,825.87,160.6248q-14.6511,0-23.09,8.73-8.4466,8.7378-8.4472,32.9446v16.8943H731.26V200.0466a111.2786,111.2786,0,0,1,6.1947-38.0135,81.8045,81.8045,0,0,1,18.5842-29.848,86.3021,86.3021,0,0,1,29.8475-19.71q17.4492-7.0348,40.547-7.0394,22.5173,0,39.4209,8.73a87.7039,87.7039,0,0,1,28.44,23.0885A96.6051,96.6051,0,0,1,911.47,170.4808a136.315,136.315,0,0,1,5.6316,39.1387q0,35.4791-8.4471,57.16-8.4476,21.6854-35.4791,36.3232a116.9412,116.9412,0,0,1,25.0605,16.8954,67.2856,67.2856,0,0,1,15.4871,20.8361,89.6022,89.6022,0,0,1,7.6025,27.0314,285.5855,285.5855,0,0,1,1.9709,36.0422q0,61.3876-24.4974,90.3869-24.4968,29.01-76.8708,29.0018-43.3713,0-68.1415-23.3707-24.788-23.3627-24.7789-75.744V399.9664Z' style='fill: #cecece')
          text(transform='translate(330.0371 66.21)' style='font-size: 72.20304870605469px;fill: #cecece;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.04499842452258596em') RAROS DESDE
</template>

<script>
export default {
  props: [
    'vertical'
  ],
}
</script>

<style lang="sass" scoped>
  #home5
    //Raros desde
    width: 100vw
    max-height: 100vh
  .fullPage
    min-height: 100vmin
  .vertical.fullPage
    min-height: 90vmin
    padding-top: 6vh
    padding-bottom: 5vh
    #home5

      width: 90vw
      max-height: 1000px
</style>
