<template lang="pug">
.fullPage.relative(style='background-color: #282828;' :class="{vertical}")
  //svg#home2.absCenter(v-if="!vertical" version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 932.5 406.3' style='enable-background:new 0 0 932.5 406.3;' xml:space='preserve')
  svg#home2.absCenter(v-if="!vertical" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1096 395.9395')
    title Home2
    g#Layer_2(data-name='Layer 2')
      g#Layer_2-2(data-name='Layer 2')
        text(transform='translate(252.4116 29.6465)' style='font-size: 34.734710693359375px;fill: #fff;font-family: Share-Regular, Share')
          | Ha
          tspan(x='35.8105' y='0' style='letter-spacing: -0.009994842675237021em') c
          tspan(x='49.4961' y='0') e casi 60 a&ntilde;os, un j
          tspan(x='313.8569' y='0' style='letter-spacing: -0.015013350178837046em') ov
          tspan(x='346.5767' y='0' style='letter-spacing: -0.000028114887975350272em') en Motrile&ntilde;o dijo:
        text(transform='translate(225.0933 141.2197)' style='font-size: 34.734710693359375px;fill: #fff;font-family: Share-Regular, Share')
          tspan(style='letter-spacing: -0.02999858546969874em') V
          tspan(x='15.3872' y='0' style='letter-spacing: -0.01499929273484937em') o
          tspan(x='32.5806' y='0') y a ha
          tspan(x='117.7139' y='0' style='letter-spacing: -0.009994842675237021em') c
          tspan(x='131.3994' y='0') er un
          tspan(x='212.0869' y='0' style='letter-spacing: -0.01499929273484937em') r
          tspan(x='223.3062' y='0') on do
          tspan(x='302.8481' y='0' style='letter-spacing: -0.005004450059612349em') r
          tspan(x='314.4146' y='0') ado de m&aacute;xima calidad.
          tspan(x='25.252' y='36.1641') Y lo
          tspan(x='87.2876' y='36.1641' style='letter-spacing: -0.01499929273484937em') vo
          tspan(x='120.0068' y='36.1641') y a ha
          tspan(x='205.1401' y='36.1641' style='letter-spacing: -0.009994842675237021em') c
          tspan(x='218.8257' y='36.1641') er a mi mane
          tspan(x='400.3813' y='36.1641' style='letter-spacing: -0.005004450059612349em') r
          tspan(x='411.9478' y='36.1641') a.
          tspan(x='445.6743' y='36.1641' style='letter-spacing: -0.009980785231249347em') C
          tspan(x='460.02' y='36.1641' style='letter-spacing: -0.000028114887975350272em') on la mejor
          tspan(x='37.4609' y='72.3281') materia prima.
          tspan(x='249.5825' y='72.3281' style='letter-spacing: -0.009994842675237021em') C
          tspan(x='263.9277' y='72.3281') on el m&eacute;todo t
          tspan(x='468.6167' y='72.3281' style='letter-spacing: -0.004976335171636998em') r
          tspan(x='480.1841' y='72.3281' style='letter-spacing: -0.000028114887975350272em') adicional
          tspan(style='font-size: 37.968299865722656px')
            tspan(x='322.0557' y='117.3271')
        text(transform='translate(218.6763 387.6025)' style='font-size: 34.734710693359375px;fill: #fff;font-family: Share-Regular, Share')
          | &iquest;
          tspan(x='12.5039' y='0' style='letter-spacing: -0.019989685350474042em') V
          tspan(x='28.2388' y='0') aliente y visionario? S&iacute;. &iquest;Ra
          tspan(x='404.27' y='0' style='letter-spacing: -0.015013350178837046em') r
          tspan(x='415.4888' y='0') o?
          tspan(x='454.7388' y='0' style='letter-spacing: -0.06500162099900983em') T
          tspan(x='467.2427' y='0') ambi&eacute;n.
        path(d='M156.2254,135.1729,166.35,116.9775h7.7769l-7.19,18.1954h6.6025v17.3139H156.2254Zm27.1453,0,10.1249-18.1954h7.7762l-7.19,18.1954h6.6033v17.3139H183.3707Z' style='fill: #fff')
        path(d='M1068.854,272.5823l-10.1234,18.194h-7.7777l7.19-18.194H1051.54V255.267h17.3139Zm27.146,0-10.1249,18.194h-7.7762l7.19-18.194h-6.6032V255.267H1096Z' style='fill: #fff')
        rect(x='255.3245' y='72.0805' width='585.3788' height='2.0052' style='fill: #dd4c23')
        text(transform='translate(0 320.8594)' style='font-size: 77.53797149658203px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.025000351764237868em') Y SIN TENER PRISA POR VENDERLO
  //svg#home2(v-if="vertical" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 907.8596 673.1035')
  svg#home2(v-if="vertical" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 847.8726 673.1035')
    title Home2
    g#Layer_2(data-name='Layer 2')
      g#Layer_2-2(data-name='Layer 2')
        text(transform='translate(272.7656 34.8438)' style='font-size: 40.82466125488281px;fill: #fff;font-family: Share-Regular, Share')
          | Ha
          tspan(x='42.0894' y='0' style='letter-spacing: -0.009998934772573945em') c
          tspan(x='58.1738' y='0') e casi 60 a&ntilde;os,
          tspan(x='-44.7241' y='42.5059') un j
          tspan(x='16.5938' y='42.5059' style='letter-spacing: -0.014998402158860917em') ov
          tspan(x='55.0503' y='42.5059' style='letter-spacing: -0.000011960448292552565em') en Motrile&ntilde;o dijo:
        text(transform='translate(0 180.1416)' style='font-size: 45.72285079956055px;fill: #fff;font-family: Share-Regular, Share')
          tspan(style='letter-spacing: -0.029997736520470473em') V
          tspan(x='20.2549' y='0' style='letter-spacing: -0.014993528684492895em') o
          tspan(x='42.8877' y='0') y a ha
          tspan(x='154.9521' y='0' style='letter-spacing: -0.00999568578966193em') c
          tspan(x='172.9668' y='0') er un
          tspan(x='279.1797' y='0' style='letter-spacing: -0.015004207835977577em') r
          tspan(x='293.9478' y='0' style='letter-spacing: 0.00001067915148468155em') on do
          tspan(x='398.6523' y='0' style='letter-spacing: -0.004987163743346284em') r
          tspan(x='413.8784' y='0') ado de m&aacute;xima calidad.
          tspan(x='33.2407' y='47.6055') Y lo
          tspan(x='114.9009' y='47.6055' style='letter-spacing: -0.015004207835977577em') vo
          tspan(x='157.9712' y='47.6055') y a ha
          tspan(x='270.0356' y='47.6055' style='letter-spacing: -0.00999568578966193em') c
          tspan(x='288.0503' y='47.6055' style='letter-spacing: 0.00001067915148468155em') er a mi mane
          tspan(x='527.0396' y='47.6055' style='letter-spacing: -0.004976484591861602em') r
          tspan(x='542.2661' y='47.6055') a.
          tspan(x='586.6616' y='47.6055' style='letter-spacing: -0.009974327486692568em') C
          tspan(x='605.5454' y='47.6055') on la mejor
          tspan(x='49.3115' y='95.2109') materia prima.
          tspan(x='328.5366' y='95.2109' style='letter-spacing: -0.00999568578966193em') C
          tspan(x='347.4199' y='95.2109') on el m&eacute;todo t
          tspan(x='616.8618' y='95.2109' style='letter-spacing: -0.004997842894830965em') r
          tspan(x='632.0874' y='95.2109') adicional
          tspan(x='417.9927' y='142.8164')
        text(transform='translate(193.9658 614.5244)' style='font-size: 45.72285079956055px;fill: #fff;font-family: Share-Regular, Share')
          | &iquest;
          tspan(x='16.4595' y='0' style='letter-spacing: -0.01998069242783918em') V
          tspan(x='37.1724' y='0' style='letter-spacing: -0.00001067915148468155em') aliente y visionario? S&iacute;.
          tspan(x='84.4717' y='47.6055') &iquest;Ra
          tspan(x='146.4707' y='47.6055' style='letter-spacing: -0.015004207835977577em') r
          tspan(x='161.2388' y='47.6055') o?
          tspan(x='212.9048' y='47.6055' style='letter-spacing: -0.06499331593577191em') T
          tspan(x='229.3647' y='47.6055') ambi&eacute;n.
        rect(x='231.1119' y='114.0023' width='381.6755' height='2.0052' style='fill: #dd4c23')
        text(transform='translate(50.9165 410.4385)' style='font-size: 102.24684143066406px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.02499981718734447em')
          | Y SIN TENER PRISA
          tspan(x='79.5059' y='122.6963') POR VENDERLO
</template>

<script>
export default {
  props:[
    'vertical'
  ]
}
</script>

<style lang="css" scoped>
.st0{fill:#282828;}
.st1{fill:#FFFFFF;}
.st2{font-family:'share';}
.st3{font-size:29.6006px;}
.st4{font-size:32.3562px;}
.st5{fill:#DD4C23;}
.st6{font-family:'Fjalla One';}
.st7{font-size:66.0771px;}
.st8{letter-spacing:2px;}
#home2{
  width: 45vw;
  max-height: 60vh;
  top: 56%;
}
.fullPage{
  min-height: calc(90vh + 5vw);
}
.vertical #home2{
  display: block; /*for the img inside your div */
  margin: 0 auto;
  width: 75vw;
}
.fullPage.vertical{
  min-height: 95vmin;
  padding-top: 25vh;
  padding-bottom: 25vh;
}
</style>
