<template lang="pug">
  .fullPage.noNavSpace.relative(style="background-color: #F7F7F7;" :class="{vertical}")
    svg#home1(v-if="!vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1070.40002 1080')
      title Home1
      g
        g
          g
            path(d='M345.9,500.8V469.4c29.4-14.9,52.2-29.3,68.7-43.4h29.3V771.9H391.7v-271H345.9Z' style='fill: #282828')
            path(d='M486.3,568.9V528.6c0-35.9,6.5-62,19.3-78.1,12.9-16.2,33.8-24.5,62.9-24.5q42.75,0,62.6,22.1c13.2,14.7,19.5,38.2,19.5,70.2V680c0,32-6.6,55.4-19.5,70.2-13.1,14.7-33.8,22.1-62.6,22.1-23.6.3-42.6-6.6-57.3-20.7-14.7-14.2-22-32-22-53.9v-20.5h54.4v17c0,21.4,8.2,32,24.8,32.3,18.1,0,27.1-10.8,26.9-32.3V615.4c-8.3,8.3-15.7,14.2-21.9,17.6-6.3,3.4-14.7,4.9-25.5,4.9q-27.15,0-44.4-17C492,609.8,486.3,592.4,486.3,568.9Zm55.1-8.8c0,21.5,8,32.2,24.1,32.2,7.2,0,17.1-5.2,29.8-15.6V503.9c0-21.5-9-32.2-27-32.2s-27,10.6-27,32.2l.1,56.2Z' style='fill: #282828')
            path(d='M693.5,680V518.4q0-48,20.1-70.2c13.4-14.7,34.9-22.1,64.3-22.1,22.9-.3,41.5,6.7,55.6,20.7q21.3,21.3,21.3,54.1v20.5h-54.4V504c0-21.5-8.2-32.2-24.7-32.2-18.1,0-27.1,10.6-27.1,32.2v78.8c8.3-8.3,15.7-14.3,21.9-17.6,6.3-3.3,14.8-4.9,25.8-4.9q27.15,0,44.3,17c11.4,11.3,17.2,28.8,17.2,52.1v40.2c0,35.9-6.5,62-19.3,78.2-12.9,16.2-33.8,24.5-62.8,24.5q-42.75,0-62.7-22.1Q693.5,728.15,693.5,680Zm55.2,14.2c0,21.4,9,32.2,27,32.2,18,.1,27-10.6,27-32.2V638.5c0-21.4-8-32.2-24.1-32.3-7.2,0-17.1,5.2-29.8,15.5l-.1,72.5Z' style='fill: #282828')
            path(d='M900.7,690.2V670.1h52.2v22.7c0,22.2,8.7,33.5,26.1,33.6q27.75,0,27.8-39.5V661.2c0-18.1-3.7-30.5-11.2-37.3-7.5-6.9-20.3-10.2-38.5-10.2V567.9c17.6,0,29.8-3.6,36.9-10.9,7-7.3,10.5-20.7,10.5-40.3,0-16.1-1.8-27.7-5.4-34.4-3.6-6.9-9.7-10.2-18.2-10.2-8.7,0-15.3,2.5-19.5,7.6-4.3,5.1-6.6,14-6.6,26.8v14.2H902.6v-16c0-23.4,7-42.4,21.1-56.8,14-14.4,33.4-21.7,57.9-21.7s43.5,8.3,57,25.1,20.3,37.2,20.3,61.2c0,20.9-2.5,37-7.69995,48.5s-15.4,21.2-30.4,29c16.19995,8.7,27.30005,18.9,32.80005,30.5s8.3,29.3,8.3,52.8c0,33.6-6.9,58.6-20.5,74.7-13.69995,16.1-34.9,24.4-63.7,24.4Q900.59992,772.25,900.7,690.2Z' style='fill: #282828')
          g
            path(d='M937.4,388.7V349.4h10.1c7.1,0,10.6,4,10.6,11.9v15.6c0,7.9-3.6,11.8-10.6,11.8Zm6.8-5.6h2.3c1.8,0,3.1-.4,3.8-1.2s1.1-2.2,1.1-4.3V360.4a6.7365,6.7365,0,0,0-1.1-4.3c-.7-.8-1.9-1.2-3.8-1.2h-2.3Z' style='fill: #282828')
            path(d='M964.7,388.7V349.4h18.1v5.9H971.5v10.2h8.7v5.9h-8.7v11.5h12.1v5.9l-18.9-.1Z' style='fill: #282828')
            path(d='M987,378.4l6.4-1a8.50045,8.50045,0,0,0,1.3,4.4,3.21884,3.21884,0,0,0,2.8,1.5,4.56289,4.56289,0,0,0,2.9-.9,3.38689,3.38689,0,0,0,1.1-2.7,6.48866,6.48866,0,0,0-1.5-4.1,23.05963,23.05963,0,0,0-3.4-3.6c-1.4-1.1-2.7-2.2-4.1-3.4a13.65321,13.65321,0,0,1-3.4-4.4,12.74177,12.74177,0,0,1-1.5-5.7,9.81231,9.81231,0,0,1,2.7-7.3c1.8-1.7,4.4-2.6,7.7-2.6a8.7364,8.7364,0,0,1,6.5,2.6,11.77026,11.77026,0,0,1,2.9,6.9l-6.4.7a5.29859,5.29859,0,0,0-1.2-3.4,3.25018,3.25018,0,0,0-2.4-1c-2.2,0-3.4,1.3-3.4,3.9a5.63737,5.63737,0,0,0,1.5,3.6,22.44829,22.44829,0,0,0,3.4,3.5c1.4,1.1,2.7,2.3,4.1,3.5a16.21883,16.21883,0,0,1,3.4,4.4,10.8381,10.8381,0,0,1,1.5,5.5,9.63551,9.63551,0,0,1-2.9,7.4,11.20331,11.20331,0,0,1-7.7,2.6,9.65466,9.65466,0,0,1-7.3-3.1C988.2,384.1,987.2,381.5,987,378.4Z' style='fill: #282828')
            path(d='M1013,388.7V349.4h10.1c7.1,0,10.6,4,10.6,11.9v15.6c0,7.9-3.6,11.8-10.6,11.8Zm6.7-5.6h2.3c1.8,0,3.1-.4,3.80005-1.2s1.1-2.2,1.1-4.3V360.4a6.7365,6.7365,0,0,0-1.1-4.3c-.69995-.8-1.9-1.2-3.8-1.2h-2.3v28.2Z' style='fill: #282828')
            path(d='M1040.1,388.7V349.4h18.1v5.9H1046.8999v10.2h8.7v5.9h-8.7v11.5h12.1v5.9l-18.8999-.1Z' style='fill: #282828')
        g
          path(d='M345.9,388.7V207.9h43.5c17.9,0,31,4.2,39.6,12.6,8.6,8.3,12.9,21.9,12.9,40.9q0,36-22.2,45.6l26.2,81.7h-31L393,313.9a134.76253,134.76253,0,0,1-16.1.8v74.1l-31-.1Zm31-99.6h11c8.5,0,14.4-2,17.9-6,3.4-4,5.1-11.2,5.1-21.8q0-15.75-5.1-21.9c-3.4-4.1-9.4-6.1-17.9-6.1h-11Z' style='fill: #dd4c23')
          path(d='M459,388.7,491.9,208h38.6l32.9,180.7h-29.6l-5.5-40.1H494l-5.5,40.1Zm39.7-67.1h25.1L511.5,244H511Z' style='fill: #dd4c23')
          path(d='M582.1,388.7V207.9h43.5c17.9,0,31,4.2,39.6,12.6,8.6,8.3,12.9,21.9,12.9,40.9q0,36-22.2,45.6l26.2,81.7h-31l-22-74.7a134.76281,134.76281,0,0,1-16.1.8v74.1l-30.9-.2Zm31-99.6h11c8.5,0,14.4-2,17.9-6,3.4-4,5.1-11.2,5.1-21.8q0-15.75-5.1-21.9c-3.4-4.1-9.4-6.1-17.9-6.1h-11Z' style='fill: #dd4c23')
          path(d='M707.2,344.9V251.8c0-13.5,4.1-24.7,12.2-33.3,8.1-8.7,19.9-13.1,35.4-13.1s27.3,4.4,35.4,13.1,12.2,19.8,12.2,33.3v93.1c0,13.5-4.1,24.6-12.2,33.3-8.1,8.6-19.9,13-35.4,13s-27.3-4.4-35.4-13S707.2,358.5,707.2,344.9Zm31.1-.8c0,7,1.3,12.1,3.8,15.3s6.8,4.7,12.8,4.7,10.2-1.5,12.8-4.7c2.5-3.2,3.8-8.3,3.8-15.3V252.5c0-7-1.3-12.1-3.8-15.3s-6.8-4.7-12.8-4.7-10.2,1.5-12.8,4.7c-2.5,3.2-3.8,8.3-3.8,15.3Z' style='fill: #dd4c23')
          path(d='M824.3,341.2l29.6-4.3c.7,8.9,2.6,15.7,5.9,20.3s7.5,7,12.7,7c5.5,0,10-1.5,13.1-4.3q4.8-4.2,4.8-12.3a30.79716,30.79716,0,0,0-6.5-18.7,86.73259,86.73259,0,0,0-15.8-16.3c-6.2-5-12.4-10.2-18.6-15.7a73.1112,73.1112,0,0,1-15.8-20.2,53.304,53.304,0,0,1-6.5-26.2q0-21.45,12.6-33.3c8.3-7.8,20.2-11.8,35.5-11.8,12.4,0,22.2,4,29.7,12,7.4,8,11.9,18.6,13.3,31.8l-29.5,3.3c-.5-7.2-2.3-12.3-5.5-15.4a15.3692,15.3692,0,0,0-11-4.6c-10.3,0-15.5,5.9-15.5,17.7,0,5.5,2.1,11.1,6.5,16.7A108.5699,108.5699,0,0,0,879.1,283c6.2,5.1,12.4,10.4,18.5,16.1a80.60567,80.60567,0,0,1,15.8,20.4,51.56811,51.56811,0,0,1,6.6,25.5c0,14.7-4.4,26-13.3,34.1-8.9,8-20.8,12.1-35.8,12.1-13.8,0-24.9-4.7-33.2-14.3C829.3,367.2,824.9,355.4,824.3,341.2Z' style='fill: #dd4c23')
      g#Botella
        image(width='1279' height='2008' transform='translate(-257.99081 -72.8623) scale(0.6697)' xlink:href='static/palido.png' style='isolation: isolate')
      g#Comprar.ComprarBtn.grey(onclick="buyProduct('palido')")
        circle(cx='327.70001' cy='881.29999' r='1.59999' style='fill: #b3b3b3')
        path(d='M326.8,875.3c.1.4.2.5.6.5h9.5c1.3,0,1.3,0,1.6-1.4h-12Z' style='fill: #b3b3b3')
        circle(cx='336' cy='881.29999' r='1.59999' style='fill: #b3b3b3')
        path(d='M325.2,868.9c.1.3.1.5.2.8,0,.5.3.6.8.6h12.2c1.3,0,1.3,0,1.6-1.2V869Z' style='fill: #b3b3b3')
        path(d='M326.1,872.6c0,.4.2.5.6.5h11.7a.76361.76361,0,0,0,.5-.2q.15-.6.3-1.2H325.8A3.17983,3.17983,0,0,1,326.1,872.6Z' style='fill: #b3b3b3')
        path(d='M331.8,856a16.3,16.3,0,1,0,16.3,16.3h0A16.30283,16.30283,0,0,0,331.8,856Zm-4.1,28a2.7,2.7,0,1,1,2.7-2.7h0a2.62786,2.62786,0,0,1-2.7,2.7Zm8.3,0a2.7,2.7,0,1,1,2.7-2.7h0A2.68879,2.68879,0,0,1,336,884Zm5.4-15.6c-.7,2.7-1.3,5.4-2,8.1-.1.4-.4.7-.8.6H326.5a.856.856,0,0,1-.9-.7c-1-4.2-2.1-8.4-3.1-12.6,0-.2-.1-.3-.1-.5h-.6c-.4,0-.8-.1-.9-.5a.80742.80742,0,0,1,.4-.9h2.1q.45,1.95.9,3.9.15.6.3,1.2c.1.4.2.4.6.4h15.1a1.26857,1.26857,0,0,1,.6.1.76039.76039,0,0,1,.5.9Z' style='fill: #b3b3b3')
        text(transform='translate(357.5459 880.42383)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share') C
        text(transform='translate(367.23441 880.42383)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share')
        text(transform='translate(367.23441 880.42383)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share') omp
        text(transform='translate(408.02921 880.42383)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share')
        text(transform='translate(408.0293 880.42383)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share') r
        text(transform='translate(415.84119 880.42383)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share')
        text(transform='translate(415.84131 880.42383)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share') ar
      g#Info.InfoBtn.grey(onclick="gotoTag('ProductDescription'); selectProd('PALIDO');")
        path(d='M327.1,923.7h11.8V908H327.1Zm4.5-1.7h-2.4c-.6,0-1.1-.2-1.1-.9s.5-.9,1.1-.9h2.4a.94492.94492,0,0,1,1.1.9c0,.7-.5.9-1.1.9Zm-2.4-12.2h7.1c.6,0,1.1.2,1.1.9s-.5.9-1.1.9h-7c-.6,0-1.1-.2-1.1-.9C328.1,909.9,328.6,909.8,329.2,909.8Zm0,3.5h4.7c.6,0,1.1.2,1.1.9s-.5.9-1.1.9h-4.7c-.6,0-1.1-.2-1.1-.9C328.1,913.4,328.6,913.3,329.2,913.3Zm0,3.5h3.6a.94492.94492,0,0,1,1.1.9c0,.7-.5.9-1.1.9h-3.5c-.6,0-1.1-.2-1.1-.9C328.1,916.9,328.6,916.7,329.2,916.8Z' style='fill: #b3b3b3')
        rect(x='324.79999' y='908' width='0.79999' height='15.59998' style='fill: #b3b3b3')
        path(d='M331.8,899.5a16.3,16.3,0,1,0,16.3,16.3h0A16.30283,16.30283,0,0,0,331.8,899.5Zm8.5,24.8a.68353.68353,0,0,1-.7.7H324.1a.68355.68355,0,0,1-.7-.7v-17a.68353.68353,0,0,1,.7-.7h15.5a.68354.68354,0,0,1,.7.7Z' style='fill: #b3b3b3')
        text(transform='translate(358.03711 923.95313)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share') Informaci&oacute;n
    svg#home1(v-if="vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1527.69995 1801')
      title Home1M
      image(width='1279' height='2008' transform='translate(-0.2897 0.1845) scale(0.8967)' xlink:href='static/palido.png' style='isolation: isolate')
      g
        g#Comprar.grey(onclick="buyProduct('palido')")
          circle(cx='806.40002' cy='1324.59998' r='3.30002' style='fill: #b3b3b3')
          path(d='M804.4,1312.1c.1.8.5,1.1,1.3,1.1h19.8c2.7,0,2.7,0,3.3-2.9H803.9A16.69973,16.69973,0,0,1,804.4,1312.1Z' style='fill: #b3b3b3')
          circle(cx='823.5' cy='1324.59998' r='3.30002' style='fill: #b3b3b3')
          path(d='M801.1,1298.80005a9.36533,9.36533,0,0,1,.4,1.6c.1,1,.6,1.30005,1.7,1.30005,8.4-.1,16.8,0,25.3,0,2.7,0,2.7,0,3.3-2.6v-.30005Z' style='fill: #b3b3b3')
          path(d='M803,1306.5c.1.80005.5.9,1.2.9h24.5a1.2306,1.2306,0,0,0,1-.5,10.54749,10.54749,0,0,0,.6-2.4H802.5C802.7,1305.2,802.8,1305.9,803,1306.5Z' style='fill: #b3b3b3')
          path(d='M814.9,1272a33.9,33.9,0,1,0,33.9,33.9A33.92877,33.92877,0,0,0,814.9,1272Zm-8.5,58.30005a5.7,5.7,0,1,1,5.7-5.69995h0a5.76276,5.76276,0,0,1-5.7,5.69995Zm17.1,0a5.7,5.7,0,1,1,5.7-5.69995h0A5.76271,5.76271,0,0,1,823.5,1330.30005Zm11.4-32.5q-2.1,8.4-4.2,16.80005a1.55281,1.55281,0,0,1-1.7,1.3H803.9a1.59367,1.59367,0,0,1-1.8-1.4c-2.2-8.69995-4.3-17.4-6.5-26.1-.1-.3-.2-.6-.3-1h-1.2c-.8,0-1.6-.1-1.9-1s.3-1.4.9-1.8h4.5c.6,2.69995,1.3,5.4,1.9,8.1a18.2842,18.2842,0,0,1,.6,2.5c.1.8.5.9,1.2.9h31.4a5.70327,5.70327,0,0,1,1.3.1,1.28416,1.28416,0,0,1,.9,1.6Z' style='fill: #b3b3b3')
          text(transform='translate(868.37689 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share') C
          text(transform='translate(888.52081 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share')
          text(transform='translate(888.52087 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share') omp
          text(transform='translate(973.34119 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share')
          text(transform='translate(973.34082 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share') r
          text(transform='translate(989.58368 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share')
          text(transform='translate(989.58392 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share') ar
        g#Info.grey(onclick="gotoTag('ProductDescription'); selectProd('PALIDO');")
          path(d='M805.1,1412.7h24.5v-32.5H805.1Zm9.3-3.5h-4.9c-1.2,0-2.3-.30005-2.3-1.80005s1.1-1.8,2.3-1.8h5.09991c1.2,0,2.2.4,2.2,1.8C816.7,1408.9,815.6,1409.2,814.4,1409.2Zm-5-25.3999h14.6c1.3,0,2.3.30005,2.3,1.80005s-1.1,1.8-2.3,1.8h-14.6c-1.2,0-2.3-.3-2.3-1.8s1.09991-1.80005,2.29992-1.80005Zm0,7.29993h9.8c1.3,0,2.3.3,2.3,1.8s-1.1,1.80005-2.3,1.80005h-9.8c-1.2,0-2.3-.30005-2.3-1.80005S808.2,1391.1,809.4,1391.1Zm0,7.3H816.9c1.2,0,2.2.4,2.2,1.80005,0,1.5-1.1,1.8-2.3,1.8h-7.4c-1.2,0-2.3-.3-2.3-1.8S808.2,1398.30005,809.4,1398.4Z' style='fill: #b3b3b3')
          rect(x='800.20001' y='1380.19995' width='1.70001' height='32.5' style='fill: #b3b3b3')
          path(d='M814.9,1362.5a33.9,33.9,0,1,0,33.9,33.9h0a33.99322,33.99322,0,0,0-33.9-33.9Zm17.6,51.6a1.39394,1.39394,0,0,1-1.5,1.4H798.7a1.45294,1.45294,0,0,1-1.5-1.4v-35.4a1.39393,1.39393,0,0,1,1.5-1.4H831a1.45294,1.45294,0,0,1,1.5,1.4Z' style='fill: #b3b3b3')
          text(transform='translate(869.39838 1413.32227)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share') Informaci&oacute;n
        g
          g
            g
              path(d='M780.8,878.3V845.8c30.4-15.4,54-30.3,71.1-44.9h30.3v357.7h-54V878.3Z' style='fill: #282828')
              path(d='M926,948.7V907c0-37.1,6.7-64.1,20-80.8,13.3-16.8,35-25.3,65.1-25.3,29.5,0,51.1,7.7,64.69995,22.9s20.2,39.5,20.2,72.6v167.2c0,33.1-6.80005,57.3-20.2,72.6-13.6,15.19995-35,22.9-64.7,22.9-24.4.3-44.1-6.80005-59.3-21.4-15.2-14.69995-22.8-33.1-22.8-55.69995v-21.19995h56.3v17.6c0,22.1,8.5,33.1,25.7,33.4,18.7,0,28.00006-11.19995,27.8-33.4V996.9c-8.6,8.6-16.2,14.7-22.6,18.2-6.5,3.5-15.2,5.1-26.4,5.1q-28.05,0-45.9-17.6C931.9,991,926,973,926,948.7Zm57-9.1q0,33.3,24.9,33.3c7.4,0,17.7-5.4,30.80005-16.1V881.5q0-33.3-27.9-33.3c-18.6,0-27.9,11-27.9,33.3l.1,58.1Z' style='fill: #282828')
              path(d='M1140.30005,1063.6V896.5q0-49.65,20.80005-72.6c13.9-15.2,36.1-22.9,66.5-22.9,23.69995-.3,42.9,6.9,57.5,21.4q22.04992,22.05,22,55.9v21.2h-56.30005V881.6q0-33.3-25.5-33.3c-18.69995,0-28,11-28,33.3v81.5c8.6-8.6,16.19995-14.8,22.6-18.2,6.5-3.4,15.30005-5.1,26.7-5.1q28.04992,0,45.8,17.6c11.80005,11.7,17.80005,29.8,17.80005,53.9v41.6q0,55.65-20,80.9c-13.30005,16.80005-35,25.30005-64.9,25.30005-29.5,0-51.1-7.7-64.80005-22.9Q1140.25,1113.4,1140.30005,1063.6Zm57.1,14.70007c0,22.1,9.30005,33.30005,27.9,33.30005q27.9.15,27.9-33.30005v-57.6c0-22.1-8.30005-33.3-24.9-33.4-7.4,0-17.69995,5.4-30.80005,16v75Z' style='fill: #282828')
              path(d='M1354.6,1074.2V1053.3999h54v23.5q0,34.5,27,34.80005c19.1,0,28.69995-13.69995,28.69995-40.9v-26.6c0-18.69995-3.8-31.5-11.6-38.6s-21-10.6-39.80005-10.6V947.6c18.2,0,30.80005-3.7,38.2-11.3,7.19995-7.5,10.9-21.4,10.9-41.7,0-16.6-1.9-28.6-5.6-35.6-3.69995-7.1-10-10.6-18.8-10.6-9,0-15.80005,2.6-20.2,7.9s-6.8,14.5-6.8,27.7v14.7h-54v-16.5c0-24.2,7.19995-43.8,21.8-58.7q21.75-22.35,59.9-22.4c25.30005,0,45,8.6,59,26s21,38.5,21,63.3c0,21.6-2.6,38.3-8,50.2s-15.9,21.9-31.4,30c16.80005,9,28.2,19.5,33.9,31.5s8.6,30.3,8.6,54.6q0,52.20007-21.19995,77.3c-14.19995,16.7-36.1,25.2-65.9,25.2Q1354.5,1159.04994,1354.6,1074.2Z' style='fill: #282828')
            g
              path(d='M1392.6,762.4v-40.6H1403c7.30005,0,11,4.1,11,12.3v16.1c0,8.2-3.69995,12.2-11,12.2Zm7-5.8h2.4q2.85,0,3.9-1.2c.7-.8,1.1-2.3,1.1-4.4v-17.8c0-2.1-.4-3.6-1.1-4.4s-2-1.2-3.9-1.2h-2.4Z' style='fill: #282828')
              path(d='M1420.80005,762.4v-40.6H1439.5v6.1h-11.69995v10.5h9v6.1h-9v11.9h12.5v6.1h-19.5Z' style='fill: #282828')
              path(d='M1443.9,751.7l6.6-1a9.30846,9.30846,0,0,0,1.30005,4.6,3.48231,3.48231,0,0,0,2.9,1.6,4.85947,4.85947,0,0,0,3-.9,3.60926,3.60926,0,0,0,1.1-2.8,6.75616,6.75616,0,0,0-1.5-4.2,24.39488,24.39488,0,0,0-3.5-3.7c-1.4-1.1-2.80005-2.3-4.19995-3.5a14.33428,14.33428,0,0,1-3.5-4.5,13.23218,13.23218,0,0,1-1.5-5.9c0-3.2.9-5.7,2.8-7.5s4.5-2.7,8-2.7a8.73942,8.73942,0,0,1,6.7,2.7,11.82872,11.82872,0,0,1,3,7.1l-6.6.7a5.3824,5.3824,0,0,0-1.19995-3.5,3.31675,3.31675,0,0,0-2.5-1c-2.30005,0-3.5,1.3-3.5,4a5.88028,5.88028,0,0,0,1.5,3.7,23.765,23.765,0,0,0,3.5,3.6c1.4,1.1,2.80005,2.4,4.19995,3.6a16.02291,16.02291,0,0,1,3.5,4.6,11.56576,11.56576,0,0,1,1.5,5.7,10.01818,10.01818,0,0,1-3,7.7,11.565,11.565,0,0,1-8,2.7,9.67016,9.67016,0,0,1-7.5-3.2A12.23528,12.23528,0,0,1,1443.9,751.7Z' style='fill: #282828')
              path(d='M1470.7,762.4v-40.6h10.4c7.3,0,11,4.1,11,12.3v16.1c0,8.2-3.7,12.2-11,12.2Zm7-5.8h2.4q2.85,0,3.9-1.2c.69995-.8,1.1-2.3,1.1-4.4v-17.8c0-2.1-.4-3.6-1.1-4.4s-2-1.2-3.9-1.2h-2.4Z' style='fill: #282828')
              path(d='M1498.80005,762.4v-40.6H1517.5v6.1h-11.69995v10.5h9v6.1h-9v11.9h12.5v6.1h-19.5Z' style='fill: #282828')
          g
            path(d='M780.8,762.4v-187h45c18.5,0,32.1,4.3,41,13,8.9,8.6,13.3,22.7,13.3,42.3q0,37.2-23,47.2l27.1,84.5H852.1L829.5,685a143.01885,143.01885,0,0,1-16.6.8v76.6H780.8Zm32.1-103h11.4c8.8,0,14.9-2.1,18.5-6.2,3.5-4.1,5.3-11.6,5.3-22.5s-1.8-18.4-5.3-22.6-9.7-6.3-18.5-6.3H812.9Z' style='fill: #dd4c23')
            path(d='M897.8,762.4l34-186.9h39.9l34,186.9H975.1l-5.7-41.5H934l-5.7,41.5Zm41-69.4h26l-12.7-80.3h-.5Z' style='fill: #dd4c23')
            path(d='M1025.1,762.4v-187h45c18.5,0,32.1,4.3,41,13,8.9,8.6,13.3,22.7,13.3,42.3q0,37.2-23,47.2l27.1,84.5h-32.1l-22.69995-77.3a143.01828,143.01828,0,0,1-16.6.8v76.6H1025.1Zm32.1-103h11.4c8.8,0,14.9-2.1,18.5-6.2,3.5-4.1,5.3-11.6,5.3-22.5s-1.8-18.4-5.3-22.6-9.7-6.3-18.5-6.3h-11.4Z' style='fill: #dd4c23')
            path(d='M1154.5,717.1V620.8c0-14,4.19995-25.5,12.6-34.4q12.6-13.5,36.6-13.5t36.6,13.5c8.4,9,12.6,20.5,12.6,34.4v96.3c0,14-4.19995,25.4-12.6,34.4-8.4,8.9-20.6,13.4-36.6,13.4s-28.19995-4.5-36.6-13.4S1154.5,731.1,1154.5,717.1Zm32.1-.9c0,7.2,1.3,12.5,3.9,15.8s7,4.9,13.19995,4.9,10.6-1.6,13.19995-4.9,3.9-8.6,3.9-15.8V621.5c0-7.2-1.3-12.5-3.9-15.8s-7-4.9-13.19995-4.9-10.6,1.6-13.19995,4.9-3.9,8.6-3.9,15.8Z' style='fill: #dd4c23')
            path(d='M1275.6,713.2l30.6-4.4c.69995,9.2,2.69995,16.2,6.1,21s7.80005,7.2,13.1,7.2c5.7,0,10.30005-1.5,13.6-4.4s5-7.1,5-12.7a32.08,32.08,0,0,0-6.7-19.3,89.48618,89.48618,0,0,0-16.3-16.9q-9.6-7.8-19.2-16.2a74.67135,74.67135,0,0,1-16.3-20.9,55.81758,55.81758,0,0,1-6.7-27.1c0-14.8,4.30005-26.3,13-34.4,8.6-8.1,20.9-12.2,36.7-12.2,12.8,0,23,4.1,30.69995,12.4s12.30005,19.2,13.80005,32.9l-30.5,3.4q-.75-11.1-5.7-15.9a15.90231,15.90231,0,0,0-11.4-4.8c-10.69995,0-16,6.1-16,18.3,0,5.7,2.2,11.5,6.7,17.3a105.96855,105.96855,0,0,0,16.3,16.6c6.4,5.3,12.80005,10.8,19.1,16.7a81.95949,81.95949,0,0,1,16.3,21.1,54.06819,54.06819,0,0,1,6.80005,26.4c0,15.2-4.6,26.9-13.80005,35.3-9.19995,8.3-21.5,12.5-37,12.5-14.3,0-25.8-4.9-34.3-14.8C1280.80005,740.1,1276.2,727.9,1275.6,713.2Z' style='fill: #dd4c23')
</template>

<script>
import home1 from '@/../static/home/home1/home1.svg';
/*window.addEventListener("resize", function(){ //change to an event
  var temp = document.getElementById("home1");
  temp.style.bottom = temp.clientHeight * -0.275 + 'px';
});*/
export default {
  components:{
    home1
  },
  props: [
    'vertical'
  ],
  mounted(){
    //coloca
    //if(this.vertical) return 0;
    //var temp = document.getElementById("home1");
    //temp.style.bottom = temp.clientHeight * -0.275 + 'px';
  }
}
</script>

<style lang="sass" scoped>
  #home1
    position: absolute
    width: 80vw
    max-height: 120vh
    left: 50%
    bottom: 0%
    transform: translate(-50%, 27.5%)
    z-index: 100
  .vertical
    #home1
      width: 110vw
      left: 37%
      transform: translate(-50%, 33%)
    &.fullPage, .noNavSpace
      min-height: 75vh
      //margin-bottom: 10vh
</style>
