<template lang="pug">
#theWholeThing
  transition#theWholeThing(name="fade")
    #masD18Thingy(v-show="!masD18" :class="{vertical}")
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 414.52344 268.49609')
        g#Layer_2(data-name='Layer 2')
          g#Content
            text(transform='translate(10.66406 91.59766)' style='font-size: 15.6597900390625px;fill: #fff;font-family: Share-Regular, Share')
              | Esta web es solo para mayores de 18 a&ntilde;os con edad legal para
              tspan(x='0.42285' y='18' style='letter-spacing: -0.009977783840667264em') consumir alcohol conforme la legislaci&oacute;n de su pa&iacute;s de acceso.
              tspan(x='-0.23535' y='36') No entres en este sitio si no cumples estos requisitos. Al entrar
              tspan(x='-10.66406' y='54') en esta web aceptas las&nbsp
              tspan.menu(style="text-decoration: underline;" onclick="window.open('/#/avisolegal')") condiciones de uso
              tspan ,&nbsp
              tspan.menu(style="text-decoration: underline;" onclick="window.open('/#/privacidad')") pol&iacute;tica de privacidad
              tspan(x='4.67383' y='72') y la&nbsp
              tspan.menu(style="text-decoration: underline;" onclick="window.open('/#/cookies')") pol&iacute;tica de cookies
              tspan . Bebe con moderaci&oacute;n, te durar&aacute; m&aacute;s.
              tspan(style='font-size: 17.11762046813965px')
                tspan(x='194.37207' y='92.28711')
            rect(x="126.4502" y="216.49707" width="158.75513" height="27.73433" style="fill: #e5c86a" @click="masD18=true")
            text.entrarBtn(transform='translate(177.76367 238.44531)' style='font-size: 19.28969955444336px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One' @click="masD18=true")
              | ENTRAR
              tspan(x='55.43945' y='0' style='font-size: 21.08544921875px;font-family: Share-Regular, Share;letter-spacing: -0.0000463145219183475em')

            text(transform='translate(75.62988 27.42871)' style='font-size: 27.18977928161621px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One')
              | 18 A&Ntilde;OS PARA PROBARLO.
              tspan(style='fill: #e5c86a')
                tspan(x='-42.0127' y='33.72949') TODA UNA VIDA PARA APRECIARLO.
      #lenguaje.shareFont
        span
          a(@click="$router.push({name: 'Home'})") Español
        span  |
        span(style="color:#999")
          a(@click="$router.push({name: 'English'})")  Inglés
  #RonMonteroWeb(v-show="masD18")
    home1( v-bind:vertical="vertical")
    home2( v-bind:vertical="vertical")
    home3
    home4( v-bind:vertical="vertical")
    home5( v-bind:vertical="vertical")
    productos( v-bind:vertical="vertical")
    historia( v-bind:vertical="vertical")
    maletas( v-bind:vertical="vertical" )
    .fullPage.relative#mapContainer(style="background-color: white;")
      //iframe#map.scrolloff(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.5099901630033!2d-3.552198684711943!3d36.73432797996223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd719079f691a9a7%3A0xb6cfd0e2d368bc8b!2sRon+Montero+S.L.!5e0!3m2!1ses!2ses!4v1482148266589" frameborder="0" style="border:0" scrolling="no")
      mapComp( v-bind:vertical="vertical" )
    visitantes( v-bind:vertical="vertical" )
    contacto( v-bind:vertical="vertical" )
</template>

<script>
import navMenu from '@/components/navMenu';
import historia from '@/components/historia';
import productos from '@/components/productos';
import maletas from '@/components/maletas';
import mapComp from '@/components/map'

import home1 from '@/components/home1';
import home2 from '@/components/home2';
import home3 from '@/components/home3';
import home4 from '@/components/home4';
import home5 from '@/components/home5';
import visitantes from '@/components/visitantes';
import contacto from '@/components/contacto';


import logo from '@/../static/logo.svg';
import social from '@/../static/Social.svg';
// left: 37, up: 38, right: 39, down: 40,
// spacebar: 32, pageup: 33, pagedown: 34, end: 35, home: 36
var keys = {37: 1, 38: 1, 39: 1, 40: 1, 32: 1};

function preventDefault(e) {
  e = e || window.event;
  if (e.preventDefault)
      e.preventDefault();
  e.returnValue = false;
}

function preventDefaultForScrollKeys(e) {
    if (keys[e.keyCode]) {
        preventDefault(e);
        return false;
    }
}

function disableScroll() {
  //console.log("scroll disabled");
  if (window.addEventListener) // older FF
      window.addEventListener('DOMMouseScroll', preventDefault, false);
  window.onwheel = preventDefault; // modern standard
  window.onmousewheel = document.onmousewheel = preventDefault; // older browsers, IE
  window.ontouchmove  = preventDefault; // mobile
  document.onkeydown  = preventDefaultForScrollKeys;
}

function enableScroll() {
    //console.log("scroll enabled");
    if (window.removeEventListener)
        window.removeEventListener('DOMMouseScroll', preventDefault, false);
    window.onmousewheel = document.onmousewheel = null;
    window.onwheel = null;
    window.ontouchmove = null;
    document.onkeydown = null;
}

window.prevScroll = 0;
window.indexPage = 0;
window.virtualScroll = false;

var scrollTo = function(y, delay = 500){
  var sections = document.getElementsByClassName('fullPage');
  var scrollV = window.pageYOffset;
  var delay2 = delay != 500 ? delay : Math.min(Math.abs(scrollV - y) / 2, 2000);
  virtualScroll = true;
  disableScroll();
  setTimeout(()=>{
    $(".onScreen").removeClass("onScreen");
    $('html, body').stop().animate({
      scrollTop: y
    }, delay2 );
    setTimeout(()=>{
      sections[indexPage].classList.add("onScreen");
      prevScroll = window.pageYOffset;
      virtualScroll = false;
      enableScroll();
    }, delay2 + 300);
  }, 100);
}

export default {
  components:{
    navMenu,
    historia,
    productos,
    home1,
    home2,
    home3,
    home4,
    home5,
    maletas,
    visitantes,
    contacto,
    logo,
    social,
    mapComp
  },
  data(){
    return {
      vertical: window.innerWidth < window.innerHeight,
      masD18: false,
    }
  },
  mounted(){
    //Desabilita la interaccion del mapa hasta que el usuario hace click en el.
    /*$('#map').addClass('scrolloff'); // set the pointer events to none on doc ready
    $('#mapContainer').on('click', function () {
        $('#map').removeClass('scrolloff'); // set the pointer events true on click
    });
    // you want to disable pointer events when the mouse leave the canvas area;
    $("#mapContainer").mouseleave(function () {
        $('#map').addClass('scrolloff'); // set the pointer events to none when mouse leaves the map area
    });*/

    /*window.addEventListener("wheel", onWheelFun);
    window.addEventListener("scroll", onWheelFun);
    window.addEventListener("touchmove", (e)=>{
      //console.log(e)
      e.preventDefault();
    });*/
    window.addEventListener("resize",  ()=>{
      this.vertical = window.innerWidth < window.innerHeight;
    });
    window.gotoTag = this.gotoTag;
    window.buyProduct = (name)=>{
      var links = {
        montero: 'http://tienda.ronmontero.com/index.php?controller=cart&add&id_product=19&qty=1',
        palido: 'http://tienda.ronmontero.com/index.php?controller=cart&add&id_product=33&qty=1',
        reserva: 'http://tienda.ronmontero.com/index.php?controller=cart&add&id_product=34&qty=1',
        plata: 'http://tienda.ronmontero.com/index.php?controller=cart&add&id_product=32&qty=1'
      }
      if(links[name]) window.open(links[name]);
    }
  },
  beforeDestroy(){
    //window.removeEventListener("wheel", onWheelFun );
    //window.removeEventListener("scroll", onWheelFun);
  },
  methods:{
    gotoTag(id){
      console.log("gotoTag", id)
      var indexes = {
        RonMonteroWeb: 0,
        Raros: 3,
        productos: 4,
        ProductDescription: 5,
        HistoriaDiv: 6,
        Maletas: 7,
        Visitas: 8,
        mapContainer: 9,
        Contacto: 10
      }
      indexPage = indexes[id];
      scrollTo(document.getElementById(id).offsetTop - (indexPage == 0 ? 0 : 65));
    }
  }
}
</script>

<style lang="sass">
  @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Share:400,700')

  html, body
    overflow-x: hidden
  body
    position: relative
  a
    color: inherit
    &:visited
      color: inherit
    &:hover
      color: inherit
  .scrolloff
    pointer-events: none
  .shareFont
    font-family: 'Share', sans-serif
  .fjallaFont
    font-family: 'Fjalla', sans-serif
  .relative
    position: relative
  .absCenter
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  .halfSize
    font-size: 50%
  .absTop
    position: absolute
    top: 0
  .absBottom
    position: absolute
    bottom: 0
  .emptyP
    opacity: 0
  .slidesHorizontal
    position: relative
    width: 100vw
    height: 100vh
    overflow: hidden
    display: grid
    grid-template-columns: 100vw 100vw 100vw 100vw
  li
    display: inline
    list-style-type: none
    padding: 10px
  .menu
    cursor: pointer
  .logo.menu
    path
      fill: white
  text.menu
    transition: fill 0.7s
    &:hover
      fill: black
  .fullPage
    min-height: calc(100vh - 65px)
    margin: 0
    .row, div
      margin: 0
    p
      padding: 0
      margin: 0
  .noNavSpace
    min-height: 100vh
  svg
    circle, path, rect
      stroke-width: 4px
      stroke: transparent
  .ProdBnts
    .ProdBtn
      cursor: pointer
      text
        opacity: 0
        transition: opacity 0.7s
      &:hover
        text
          opacity: 1
        circle, path, rect
          fill: #282828
  text.resena, text.receta, text.premio
    opacity: 0
    transition: opacity 0.7s
  .resena
    .ProdBtn.resena
      circle, path, rect
        fill: #282828
      text
        opacity: 0.5
    text.resena
      opacity: 1
  .receta
    .ProdBtn.receta
      circle, path, rect
        fill: #282828
      text
        opacity: 0.5
    text.receta
      opacity: 1
  .premio
    .ProdBtn.premio
      circle, path, rect
        fill: #282828
      text
        opacity: 0.5
    text.premio
      opacity: 1
  .ComprarBtn, .InfoBtn
    cursor: pointer
    text
      transition: opacity 0.7s
      opacity: 0
      //transform: translate(100%, 0)
    path, circle, rect
      transition: fill 0.7s
    &:hover
      path
        fill: #282828
      text
        opacity: 1
        //transform: translate(0, 0)
    &.grey
      &:hover
        path, circle, rect
          fill: white
        text
          opacity: 1
  #masD18Thingy
    position: fixed
    left: 0
    top: 65px
    z-index: 1000000
    background-color: #282828
    width: 100vw
    height: 100vh
    svg
      position: absolute
      left: 50%
      top: calc(50% - 65px)
      transform: translate(-50%, -50%)
      height: 40vh
      max-width: 90vw
    #lenguaje
      position: absolute
      left: 50%
      bottom: 15vh
      transform: translate(-50%, 0)
      color: white
    &.vertical
      #lenguaje
        bottom: calc(30vh)
    &:before
      position: absolute

  #Products1
    position: absolute
    left: 0
    bottom: 0
    width: 100vw
    z-index: 10
  #maletasHandle
    height: calc( (100vh - 80px) * 1.174)
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%, 0)
    z-index: 101
    .maletaH
      fill: none
      stroke: #e5c86a
      stroke-miterlimit: 10
      stroke-width: 45px
  #map
    width: 100vw
    height: calc( 100vh - 65px)
  input:focus, textarea:focus
     border-bottom: 1px solid #e5c86a !important
     box-shadow: 0 1px 0 0 #e5c86a !important
  .fade-enter-active, .fade-leave-active
   transition: opacity .5s
  .fade-enter, .fade-leave-to
   opacity: 0
  .fadeProd-enter-active, .fadeProd-leave-active
    transition: opacity 0.7s linear 0.3s
    //image
      transition: all 0.5s
  .fadeProd-enter, .fadeProd-leave-to
    opacity: 0
    transition: opacity 0.5s linear 0.1s
    //image
      opacity: 0
  @keyframes fadeInDown
    from
      opacity: 0
      transform: translate3d(0, -100%, 0)
    to
      opacity: 1
      transform: translate3d(0, 0, 0)

  .fadeInDown
    animation-name: fadeInDown
</style>
