<template lang="pug">
.fullPage.relative(:class="{vertical}")#Maletas
  maletas#maletasHandle
  #maletasText.menu(@click="openStore()")
    svg(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 670')
      title MaletasText
      g#maletasText2
        text.mundoText(transform='translate(187.4111 653.1689)' style='isolation: isolate;font-size: 241.60562133789062px;font-family: FjallaOne-Regular, Fjalla One') MUNDO
        text(transform='translate(200.9512 119.7251)' style='isolation: isolate;font-size: 120.26300811767578px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One') SE EXPORTA EN
        text(transform='translate(191.5342 318.6797)' style='isolation: isolate;font-size: 201.879150390625px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One') MALETAS
        text(transform='translate(204.9375 421.0918)' style='isolation: isolate;font-size: 86.1521224975586px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One') A TODAS PARTES DEL
</template>

<script>
import maletas from '@/../static/home/maletas/Maletas1.svg';

export default {
  components:{
    maletas,
  },
  props:[
    "vertical"
  ],
  methods:{
    openStore(){
      this.selector = '';
      window.open('http://tienda.ronmontero.com/index.php');
    },
  }
}
</script>

<style lang="sass" scoped>
#maletasText
  height: calc(60vh - 65px)
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -52%)
  z-index: 102
#Maletas:after
    content: ""
    position: absolute
    width: 100vw
    height: 100%
    left: 0
    background-color: #E5C86A
    z-index: 100
.mundoText
  transition: fill 0.7s
#maletasText svg
  height: 100%
  position: relative
  left: -2%
.vertical #maletasText svg
  height: inherit
  width: 90vw
.fullPage.vertical
  //min-height: 80vmin
  #maletasText2
    .mundoText
      fill: #f94a21
#maletasText2
  .mundoText
    fill: #333333
  &:hover
    .mundoText
      fill: #f94a21
</style>
