<template lang="pug">
nav#navMenu.z-depth-0(:class="{mobile: mobile, desktop: !mobile}")
  .left( @click="gotoTag('RonMonteroWeb')" )
    logo.logo.menu
  #menuOptions
    svg#menuIcon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 49' @click="active = !active" v-if="mobile")
      title menu
      rect(width='80' height='5' style='fill: #FFFFFF')
      rect(y='22' width='80' height='5' style='fill: #FFFFFF')
      rect(y='44' width='80' height='5' style='fill: #FFFFFF')
    div.deactivate(v-if="active" @click="active = !active")
    ul.menuList.shareFont(:class="{active}"  @click="active = !active")
      li(@click="gotoTag('Raros')" :class="{activeM: sectionId == 4}") RAROS DESDE 1963
      li(@click="gotoTag('productos')" :class="{activeM: sectionId == 5 || sectionId == 6}") NUESTROS RONES
      li(onclick="window.open('http://tienda.ronmontero.com')" :class="{activeM: sectionId == 8 || sectionId == 9}") COMPRAR
      li(@click="gotoTag('HistoriaDiv')" :class="{activeM: sectionId == 7}") ELABORACIÓN
      li(@click="gotoTag('Visitas')" :class="{activeM: sectionId == 10}") VISITAS
      li(@click="gotoTag('Contacto')" :class="{activeM: sectionId == 11}") CONTACTO
      li.relative.socialNav()
        svg.facebook(xmlns='http://www.w3.org/2000/svg' viewBox="0 0 28 28" onclick="window.open('https://www.facebook.com/ronmontero/')")
          path(d='M14,0A14,14,0,1,0,28,14,14,14,0,0,0,14,0Zm3.7736,8.6143H15.77c-1.0035,0-1.2322.667-1.2322,1.3652v1.3418h3.0882L17.2042,14H14.5375v8.08H11.8824V14H10.24V11.3213h1.6423v-1.62c0-2.1846.6531-3.76,3.0453-3.76h2.8459Z', style='')
        .hiddenSubNav(style="")
          svg.instagram(xmlns='http://www.w3.org/2000/svg' viewBox="0 0 28 28" onclick="window.open('https://www.instagram.com/ronmontero_es/')")
            path(data-name='<Path>', d='M10.8088,9.0368A1.9492,1.9492,0,1,1,8.86,10.9859,1.9492,1.9492,0,0,1,10.8088,9.0368Z')
            path(data-name='<Compound Path>', d='M13.2452,6.2017H8.3724a2.4209,2.4209,0,0,0-1.7277.62,2.4212,2.4212,0,0,0-.62,1.7276v4.8729a2.4417,2.4417,0,0,0,.6644,1.7718,2.4974,2.4974,0,0,0,1.7276.62h4.8286a2.4209,2.4209,0,0,0,1.7276-.62,2.2689,2.2689,0,0,0,.6645-1.7276V8.5938a2.4973,2.4973,0,0,0-.62-1.7276A2.3719,2.3719,0,0,0,13.2452,6.2017Zm-2.4364,7.7965a3.0123,3.0123,0,0,1,0-6.0246,3.0126,3.0126,0,1,1,0,6.0246ZM13.9539,8.55a.7088.7088,0,1,1,.7088-.7087A.7.7,0,0,1,13.9539,8.55Z')
            path(data-name='<Compound Path>', d='M10.8973,0A10.8974,10.8974,0,1,0,21.7947,10.8973,10.89,10.89,0,0,0,10.8973,0ZM16.7,13.4666a3.5108,3.5108,0,0,1-.9746,2.525,3.4469,3.4469,0,0,1-2.4806.93H8.4166a3.4469,3.4469,0,0,1-2.4806-.93,3.3373,3.3373,0,0,1-.9746-2.525V8.5938A3.2784,3.2784,0,0,1,8.4166,5.1386h4.8728a3.4057,3.4057,0,0,1,2.4807.9745,3.376,3.376,0,0,1,.93,2.4807Z')
          svg.pinterest(xmlns='http://www.w3.org/2000/svg' viewBox="0 0 28 28" onclick="window.open('https://www.pinterest.com/ronmontero/')")
            <path id="_Path_" data-name="&lt;Path&gt;" d="M10.8779,0A10.8777,10.8777,0,0,0,6.5108,20.84a9.5569,9.5569,0,0,1,.19-2.4976C6.9093,17.4594,8.1,12.4155,8.1,12.4155a4.1758,4.1758,0,0,1-.3477-1.721c0-1.6114.9343-2.8152,2.0978-2.8152a1.4566,1.4566,0,0,1,1.4675,1.6323,23.4347,23.4347,0,0,1-.9608,3.86,1.6841,1.6841,0,0,0,1.7171,2.0956c2.0607,0,3.449-2.6469,3.449-5.7833,0-2.384-1.6057-4.1687-4.526-4.1687a5.1506,5.1506,0,0,0-5.3552,5.209,3.14,3.14,0,0,0,.7174,2.1336.5268.5268,0,0,1,.1563.6057c-.0521.2-.1718.6824-.2213.8733a.3745.3745,0,0,1-.5447.2725c-1.5195-.62-2.2277-2.2846-2.2277-4.1559,0-3.0895,2.6059-6.7948,7.7742-6.7948,4.1524,0,6.8859,3.0056,6.8859,6.2316,0,4.2664-2.3717,7.4544-5.8685,7.4544a3.1206,3.1206,0,0,1-2.6575-1.3553s-.6317,2.5065-.7651,2.99a9.0956,9.0956,0,0,1-1.0951,2.33A10.8775,10.8775,0,1,0,10.8779,0Z" />
          svg.twitter(xmlns='http://www.w3.org/2000/svg' viewBox="0 0 28 28" onclick="window.open('https://www.twitter.com/ronmontero/')")
            <path id="_Compound_Path_" data-name="&lt;Compound Path&gt;" d="M10.8979,0A10.8975,10.8975,0,1,0,21.795,10.8979,10.8985,10.8985,0,0,0,10.8979,0Zm5.49,8.7007c.0058.1177.008.2359.008.3553a7.8111,7.8111,0,0,1-12.0238,6.58,5.6215,5.6215,0,0,0,.655.0381A5.51,5.51,0,0,0,8.4373,14.499a2.75,2.75,0,0,1-2.565-1.9078,2.686,2.686,0,0,0,.5165.0491,2.7323,2.7323,0,0,0,.7235-.096A2.7486,2.7486,0,0,1,4.9088,9.8517l0-.0353a2.738,2.738,0,0,0,1.244.3438,2.75,2.75,0,0,1-.85-3.667,7.7969,7.7969,0,0,0,5.6611,2.8691,2.7481,2.7481,0,0,1,4.68-2.5049,5.4843,5.4843,0,0,0,1.7441-.6665A2.7542,2.7542,0,0,1,16.18,7.71a5.4888,5.4888,0,0,0,1.5776-.4324A5.5491,5.5491,0,0,1,16.3874,8.7007Z" />
          svg.youtube(xmlns='http://www.w3.org/2000/svg' viewBox="0 0 28 28" onclick="window.open('https://www.youtube.com/user/ronpalidomontero')")
            <polygon points="9.6 12.59 13.358 10.643 9.599 8.682 9.6 12.59"/>
            <path d="M10.8818,0a10.882,10.882,0,1,0,10.882,10.8815A10.8817,10.8817,0,0,0,10.8818,0Zm7.109,11.3118a21.0836,21.0836,0,0,1-.1388,2.2508,3.0112,3.0112,0,0,1-.5532,1.3812,1.99,1.99,0,0,1-1.3935.5891c-1.9466.1406-4.8695.1452-4.8695.1452s-3.6165-.0335-4.7295-.14a2.36,2.36,0,0,1-1.5336-.5944A3.0113,3.0113,0,0,1,4.22,13.5626a21.0388,21.0388,0,0,1-.1391-2.2508V10.2559A21.0215,21.0215,0,0,1,4.22,8.0051a3.0113,3.0113,0,0,1,.5528-1.3812,1.99,1.99,0,0,1,1.3936-.5891c1.9467-.1406,4.8664-.1406,4.8664-.1406h.0061s2.92,0,4.8665.1406a1.99,1.99,0,0,1,1.3935.5891,3.0112,3.0112,0,0,1,.5532,1.3812,21.0662,21.0662,0,0,1,.1388,2.2508Z" />
</template>

<script>
import logo from '@/../static/logo.svg'

export default {
  components:{
    logo
  },
  data(){
    return {
      indexes:{
        RonMonteroWeb: 0,
        Raros: 3,
        productos: 4,
        HistoriaDiv: 6,
        Visitas: 8,
        Contacto: 10,
      },
      sectionId: 0,
      active: false,
    }
  },
  props:["mobile"],
  methods:{
    gotoTag(id){
      console.dir(this.$route)
      if(this.$route.name == "Home"){
        gotoTag(id);
      } else {
        this.$router.push({name:'Home'});
        setTimeout(()=>{
          gotoTag(id);
        },2000)
      }
    }
  },
  mounted(){
    window.addEventListener("scroll", ()=>{
      if(virtualScroll){
        this.sectionId = indexPage;
        return 0;
      }
      var sections = document.getElementsByClassName('fullPage');
      var scrollV = window.pageYOffset;
      var i = 0;
      while(scrollV > sections[i].offsetTop){
        i++;
      }
      this.sectionId = i;
      //console.log("section", this.sectionId)
    });
  }
}
</script>

<style lang="sass" scoped>
#navMenu.desktop
  background-color: #282828
  color: #b3b3b3
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 65px
  padding-left: 20px
  padding-right: 20px
  z-index: 10000000
  .logo
    height: 35px
    margin-top: 15px
    path
      fill: #b3b3b3
  .menuList
    position: absolute
    top: 50%
    right: 15px
    transform: translate(0,-50%)
    font-size: 120%
    li
      padding: 15px
      transition: color 0.7s
      cursor: pointer
      &:hover
        color: white
      &.activeM
        color: #E5C86A
  &.vertical
    .menuList
      opacity: 0
  .facebook
    height: 16.8px
    width: 16.8px
    position: relative
    top: 2px
  .socialNav
    svg
      fill: #b3b3b3
      transition: fill 0.7s, transform 0.7s
    .hiddenSubNav
      position: absolute
      right: 0
      right: 8px
      width: 22px
      opacity: 0
      transform: scale(0.1)
      transform-origin: center top
      transition: transform 0.7s, opacity 0.7s
      svg
        float: left
        margin-top: 13px
        margin-bottom: 15px
    &:hover
      //&:after
        content: ""
        position: absolute
        right: 0
        top: 0
        width: 22px
        height: 200px
        background-color: #282828
      svg
        transform: scale(2)
        &:hover
          fill: white
      .hiddenSubNav
        opacity: 1
        transform: scale(1)
        transition: transform 0.7s, opacity 0.7s
        svg
          //margin-top: -50px
          line-height: 0
          &:hover
            fill: #282828
#navMenu.mobile
  background-color: #282828
  color: #b3b3b3
  position: fixed
  top: 0px
  left: 0px
  width: 100%
  height: 65px
  padding-left: 20px
  padding-right: 20px
  z-index: 10000000
  .logo
    height: 35px
    margin-top: 15px
    path
      fill: white
  #menuIcon
    position: absolute
    top: 50%
    right: 25px
    width: 22px
    transform: translate(0, -50%)
  .deactivate
    position: absolute
    top: 65px
    left: 0
    width: 100vw
    height: calc( 100vh - 65px )
  .menuList
    position: absolute
    text-align: right
    top: 65px
    right: 0
    //width: 100vw
    height: 100vh
    font-size: 150%
    background-color: rgba(30,30,30,0.95)
    transform: translate(120%, 0)
    opacity: 0
    transition: transform 0.7s, opacity 0.7s
    &.active
      transform: translate(0%, 0)
      opacity: 1
    li
      padding: 15px
      transition: color 0.7s
      cursor: pointer
      display: block
      float: none
      padding: 0
      margin: 20px
      line-height: 1
      &:hover
        color: white
      &.activeM
        color: #E5C86A
  .facebook
    height: 33px
    margin-right: 16px
  .socialNav
    svg
      fill: #b3b3b3
      transition: fill 0.7s, transform 0.7s
    .hiddenSubNav
      width: 120px
      display: block
      float: right
      padding: 0
      margin: 0
      margin-right: -37px
      svg
        height: 42px
        float: left
        margin-right: 6.4px
        margin-bottom: 6px
    &:hover
      svg
        &:hover
          fill: white
      .hiddenSubNav
        svg
          &:hover
            fill: white
</style>
