<template lang="html">
<section class="container" style="padding-top:70px">
  <h3>Política de Privacidad y Uso de Cookies</h3>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>RESPONSABLE DEL TRATAMIENTO:</u></strong> la Mercantil <strong>"RON MONTERO, S.L.&rdquo; </strong>(en adelante, &ldquo;<strong>RON MONTERO</strong>&rdquo;), provista de <strong>CIF</strong>: B-18799866<strong>, </strong>titular del presente
    portal, informa a los usuarios del portal de Internet de su propiedad (en adelante, los "Usuarios" y el "Portal") acerca de su pol&iacute;tica de protecci&oacute;n de datos de car&aacute;cter personal (en adelante, "los Datos Personales") para que
    los Usuarios determinen libre y voluntariamente si desean facilitar a <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong>los Datos Personales que se les puedan requerir o que se puedan obtener de los <strong><span style="font-family: 'Calibri','sans-serif';">Usuarios </span></strong>con
    ocasi&oacute;n del registro, adquisici&oacute;n de productos, contacto o alta en alguna de las suscripciones o newsletters ofrecidos por <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong>en el Portal o a trav&eacute;s
    del Portal. <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong>se reserva el derecho a modificar la presente pol&iacute;tica para adaptarla a novedades legislativas o jurisprudenciales as&iacute; como a pr&aacute;cticas
    de la industria. En dichos supuestos, <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong>anunciar&aacute; en esta p&aacute;gina los cambios introducidos con razonable antelaci&oacute;n a su puesta en pr&aacute;ctica.</p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO, </span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">como Responsable del tratamiento de los datos personales del Usuario, le informa que estos datos ser&aacute;n tratados de conformidad con lo dispuesto en el <strong>Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR)</strong> &nbsp;relativo a la protecci&oacute;n de las personas f&iacute;sicas en lo que respecta al tratamiento de datos personales y la vigente Ley Org&aacute;nica 15/1999 de 13 de diciembre (L.O.P.D.) relativa a la protecci&oacute;n de datos de car&aacute;cter personal, y ello hasta la futura publicaci&oacute;n de la nueva LOPD, en fase de tramitaci&oacute;n parlamentaria.</span></p>
  <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph;"><strong><u><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif'; text-transform: uppercase;">Finalidades de tratamiento</span></u></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">:&nbsp;&iquest;Con qu&eacute; finalidad tratamos sus datos personales?</span></p>
  <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">&nbsp;</span></p>
  <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Gesti&oacute;n y mantenimiento, en su caso, de la relaci&oacute;n contractual existente y la relaci&oacute;n comercial con los usuarios e interesados en productos elaborados por <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>.
    Tratamos la informaci&oacute;n que nos facilitan las personas interesadas en nuestros productos con el fin de gestionar el env&iacute;o de la informaci&oacute;n que nos soliciten/adquieran, facilitar a los interesados ofertas de productos y promociones
    de su inter&eacute;s. Todo ello con el fin de poder ofrecerle nuestra oferta de productos/bebidas de acuerdo con sus intereses/mejorar su experiencia de usuario, elaboraremos un &ldquo;perfil comercial&rdquo;, en base a la informaci&oacute;n facilitada.
    No se tomar&aacute;n decisiones automatizadas en base a dicho perfil obtenido. </span>
  </p>
  <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">&nbsp;</span></p>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph;  margin: 0cm 0cm .0001pt 36.0pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Informaci&oacute;n afectada</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: datos de los usuarios registrados, datos de contacto de las personas que se registran/adquieren a trav&eacute;s de nuestra tienda online, personas que contactan con Ron Montero en RRSS o por el formulario de contacto habilitado, datos de env&iacute;o/entrega. </span></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  margin: 0cm 0cm .0001pt 36.0pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Categor&iacute;as de afectados</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: Usuarios Web, candidatos, clientes e interesados, visitantes de la bodega, participantes en actividades/eventos organizados por Ron Montero, candidatos y seguidores en RRSS.</span></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  margin: 0cm 0cm .0001pt 36.0pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Categor&iacute;as de Datos</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: Datos identificativos (nombre y apellidos + NIF), datos de contacto (email, tel&eacute;fono y direcci&oacute;n/domicilio), IP, im&aacute;genes obtenidas. </span></li>
  </ul>
  <p style="text-align: justify; text-justify: inter-ideograph; margin: 0cm 0cm .0001pt 36.0pt;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">&nbsp;</span></p>
  <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">En este sentido, las operaciones previstas para realizar el&nbsp;tratamiento son:</span></p>
  <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">&nbsp;</span></p>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph;  tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 35.7pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif'; text-transform: uppercase;">Remisi&oacute;n de comunicaciones comerciales publicitarias</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';"> por email, SMS, Wasap, redes sociales o cualquier otro medio electr&oacute;nico o f&iacute;sico, presente o futuro, que posibilite realizar comunicaciones comerciales. Estas comunicaciones ser&aacute;n realizadas por el&nbsp;responsable de la web y siempre relacionadas con los productos de <strong>RON MONTERO</strong>, o de sus colaboradores con los que &eacute;ste haya alcanzado alg&uacute;n acuerdo de promoci&oacute;n. En este caso, los terceros nunca tendr&aacute;n acceso a los datos personales.&nbsp;</span></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 36.0pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif'; text-transform: uppercase;">Actuaciones solicitadas por el Usuario</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: Tramitar solicitudes/pedidos, devoluciones, o cualquier tipo de petici&oacute;n que, sobre los productos de <strong>RON MONTERO</strong>, sea realizada por el usuario a trav&eacute;s de cualquiera de las formas de contacto que se ponen a su disposici&oacute;n, o mediante la suscripci&oacute;n de nuestras Condiciones Generales de Compra o nuestros Formularios de Contacto, disponibles en: </span></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  margin: 0cm 0cm .0001pt 54.0pt;"><a href="http://tienda.ronmontero.com/index.php"><strong><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';">http://tienda.ronmontero.com/index.php</span></strong></a></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  margin: 0cm 0cm .0001pt 54.0pt;"><a href="https://www.ronmontero.com"><strong><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';">https://www.ronmontero.com</span></strong></a></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  margin: 0cm 0cm .0001pt 54.0pt;"><a href="http://tienda.ronmontero.com/index.php?controller=contact"><strong><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';">http://tienda.ronmontero.com/index.php?controller=contact</span></strong></a></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  margin: 0cm 0cm .0001pt 54.0pt;"><strong><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';">http://tienda.ronmontero.com/index.php?controller=authentication&amp;back=my-account</span></strong></li>
  </ul>
  <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph;"><strong><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';"><span style="text-decoration: none;">&nbsp;</span></span></strong></p>
  <p style="margin: 0cm; margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph;"><strong><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';"><span style="text-decoration: none;">&nbsp;</span></span></strong></p>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph;  tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 36.0pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">DATOS ALMACENADOS DURANTE SU VISITA</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: Cuando usted visita nuestra p&aacute;gina web, nuestros servidores web almacenan generalmente, entre otros datos, informaci&oacute;n sobre el navegador y el sistema operativo que usted utiliza, la p&aacute;gina web desde la que nos visita, las p&aacute;ginas que visita usted en nuestra web y la fecha de su visita. Por razones de seguridad &mdash;por ejemplo, para poder detectar posibles ataques a nuestra p&aacute;gina web&mdash; se almacena tambi&eacute;n durante un periodo de tiempo de siete d&iacute;as la direcci&oacute;n IP que le ha asignado su proveedor de servicios de Internet. Con excepci&oacute;n de la direcci&oacute;n IP, los datos de car&aacute;cter personal s&oacute;lo se almacenan si usted nos facilita dicha informaci&oacute;n, por ejemplo, con motivo de una inscripci&oacute;n, una encuesta, solicitud de presupuesto, registro de usuario, promoci&oacute;n comercial. <strong>RON MONTERO </strong>utiliza sus datos de car&aacute;cter personal para la administraci&oacute;n t&eacute;cnica de las p&aacute;ginas web, la gesti&oacute;n de clientes, la realizaci&oacute;n de encuestas de productos y para tareas de marketing, &uacute;nicamente en la medida de lo necesario, y siempre informando previamente al Usuario y titular de los datos.</span></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 36.0pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif'; text-transform: uppercase;">Prestadores de servicios de pago</span></strong><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">:</span></strong>
      <span
      style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';"> A trav&eacute;s del presente Sitio Web, el Cliente puede acceder, por medio de enlaces, a sitios web de terceros, como </span><a href="https://www.paypal.es/"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">PayPal</span></a>
        <span
        style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">, <strong>VISA, Verified by VISA y MasterCard</strong>a trav&eacute;s de la pasarela de pagos de <strong><u>CAJA RURAL DE GRANADA</u></strong> para realizar pagos por los pedidos o productos adquiridos a <strong>RON MONTERO</strong>. En ning&uacute;n
          momento el personal de <strong>RON MONTERO tendr&aacute;</strong> acceso a los datos bancarios (por ejemplo, el n&uacute;mero de tarjeta de cr&eacute;dito)&nbsp;que el Cliente facilite a dichos terceros. Para que el cliente pueda pagar a trav&eacute;s
          de PayPal o resto de medios facilitados, <strong>RON MONTERO</strong> enviar&aacute; los datos estrictamente necesarios a estos procesadores de pago para la emisi&oacute;n de la correspondiente&nbsp;solicitud de pago.</span>
    </li>
    <li style="text-align: justify; text-justify: inter-ideograph;  tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 35.7pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">BOLET&Iacute;N DE NOTICIAS RON MONTERO/NEWSLETTERS SUSCRIPCI&Oacute;N</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: En el caso de suscripci&oacute;n a cualquiera de nuestros Newsletters informativos, presentes o futuros, tal y como se informa, da su consentimiento en el uso de sus datos personales para el env&iacute;o de publicidad o la realizaci&oacute;n de otras acciones de marketing, &eacute;stos ser&aacute;n almacenados y utilizados de forma continua para dichos usos, tales como env&iacute;o de newsletters ya mencionados, novedades en nuestra gama de productos, a trav&eacute;s de&nbsp; los canales de comunicaci&oacute;n como el e-mail, SMS, wasap, correo postal o cualquier otro canal autorizado por usted. Podemos utilizar sus datos para crear y mantener actualizado su perfil de usuario y as&iacute; poder enviarle informaci&oacute;n personalizada sobre acciones publicitarias o promociones. As&iacute; mismo, podemos&nbsp; utilizar los datos que usted nos facilite para analizar y mejorar nuestro cat&aacute;logo de productos de nuestra p&aacute;gina web, publicidad, marketing, prospecci&oacute;n de mercado y actividades de ventas.</span></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  margin: 0cm 0cm .0001pt 54.0pt;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">ENV&Iacute;O DE C. VITAE POR PARTE DE CANDIDATOS</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: En caso de env&iacute;o de C. Vitae al email de <strong>RON MONTERO </strong></span>
      <a
      href="mailto:info@ronmontero.com"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">info@ronmontero.com</span></strong></a><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">, </span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">o mediante el formulario de env&iacute;o habilitado<strong>: </strong></span>
        <a
        href="http://tienda.ronmontero.com/index.php?controller=contact"><strong><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';">http://tienda.ronmontero.com/index.php?controller=contact</span></strong></a><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">, el aspirante&nbsp;autoriza a <strong>RON MONTERO </strong>a&nbsp;analizar&nbsp;los documentos&nbsp;que le remita, todo&nbsp;el contenido que sea directamente accesible a trav&eacute;s de los buscadores (Google), los perfiles que mantenga en redes sociales profesionales, como Linkedin o an&aacute;logas,&nbsp;los datos obtenidos en&nbsp;las pruebas de acceso y la informaci&oacute;n que revele en la entrevista de trabajo, con el objetivo de&nbsp;valorar su candidatura y poder, en su caso, ofrecerle un puesto. En caso de que el candidato no sea seleccionado, <strong>RON MONTERO </strong>podr&aacute; mantener almacenado su C. VITAE para incorporarlo a futuras convocatorias, a menos que el candidato se manifieste en sentido contrario. </span></li>
  </ul>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><u><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">CRITERIOS DE CONSERVACI&Oacute;N DE LOS DATOS</span></u></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: Los datos suministrados, en l&iacute;neas generales, se conservar&aacute;n mientras exista un inter&eacute;s mutuo para mantener el fin del tratamiento y cuando ya no sea necesario para tal fin,&nbsp;se suprimir&aacute;n con medidas de seguridad adecuadas para garantizar la seudonimizaci&oacute;n de los datos o la destrucci&oacute;n total de los mismos.</span></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Ante esta norma general, se plantean las <strong><u>siguientes posibles variaciones</u></strong>: (<strong><em>i</em></strong>) Datos Desagregados: ser&aacute;n conservados sin plazo de supresi&oacute;n, (<strong><em>ii</em></strong>) Datos de Clientes </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>
    <span
    style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: plazo de conservaci&oacute;n de <strong>4 a&ntilde;os</strong> (Art. 66 y siguientes de la Ley General Tributaria), plazo de conservaci&oacute;n de <strong>6 a&ntilde;os</strong> Art. 30 del C&oacute;digo de Comercio sobre los libros de contabilidad
      y facturas), (<strong><em>iii</em></strong>) Datos suministrados con motivo de la suscripci&oacute;n a nuestro newsletter: desde que el Usuario da su consentimiento, hasta que lo retira, (<strong><em>iv</em></strong>) Documentaci&oacute;n de car&aacute;cter
      laboral o relacionada con la seguridad social: <strong>4 a&ntilde;os</strong> Art&iacute;culo 21 del Real Decreto Legislativo 5/2000, de 4 de agosto, por el que se aprueba el texto refundido de la Ley sobre Infracciones y Sanciones en el Orden Social
      (<strong><em>v</em></strong>) datos suministrados por candidatos a trav&eacute;s del env&iacute;o de su C. Vitae: el C. Vitae se podr&aacute; conservar un m&aacute;ximo de dos a&ntilde;os para futuros procesos de selecci&oacute;n salvo que el candidato
      manifieste lo contrario.</span>
  </p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><u><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif'; text-transform: uppercase;">Comunicaci&oacute;n de&nbsp;los datos</span></u></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: No se comunicar&aacute;n los datos a ning&uacute;n destinatario, salvo por motivos legales o fruto de alguna reclamaci&oacute;n judicial. En determinados casos, ser&aacute; necesaria la comunicaci&oacute;n de sus datos a empresa de transporte, prestadores de servicios electr&oacute;nicos (PayPal), etc.. cuya intervenci&oacute;n sea necesaria para la formalizaci&oacute;n del pedido y env&iacute;o/recepci&oacute;n del mismo.</span></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u><span style="text-transform: uppercase;">Legitimaci&oacute;n</span></u></strong><span style="text-transform: uppercase;">: </span>Por regla general, previo al tratamiento de los datos personales, <strong>RON MONTERO</strong> obtiene consentimiento
    expreso e inequ&iacute;voco del titular de los mismos mediante la incorporaci&oacute;n de cl&aacute;usulas de consentimiento informado en los diferentes sistemas de recogida de informaci&oacute;n, y en base a un inter&eacute;s leg&iacute;timo del
    Usuario.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">No obstante, en caso de que no se requiera el consentimiento del interesado, la base legitimadora del tratamiento en la cual se ampara <strong>RON MONTERO</strong> es la existencia de un pedido online/compra/suministro de productos de <strong>RON MONTERO</strong>.</p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><u><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif'; text-transform: uppercase;">Derechos que asisten al Usuario:</span></u></strong></p>
  <ul>
    <li style="margin-left: 36.0pt; text-align: justify; text-justify: inter-ideograph; "><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Derecho a retirar el consentimiento suministrado en cualquier momento.</span></li>
    <li style="margin-left: 36.0pt; text-align: justify; text-justify: inter-ideograph; "><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Derecho de acceso y rectificaci&oacute;n de sus datos.</span></li>
    <li style="margin-left: 36.0pt; text-align: justify; text-justify: inter-ideograph; "><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Derecho a la supresi&oacute;n (derecho al olvido) de sus datos.</span></li>
    <li style="margin-left: 36.0pt; text-align: justify; text-justify: inter-ideograph; "><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Derecho a la limitaci&oacute;n u oposici&oacute;n a su tratamiento.</span></li>
    <li style="margin-left: 36.0pt; text-align: justify; text-justify: inter-ideograph; "><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Derecho a la portabilidad de sus datos: entendido como facultad a recibir sus datos en un formato estructurado, de uso com&uacute;n y lectura mec&aacute;nica, y a transmitirlos a otro responsable del tratamiento (Art. 20 RGPD)</span></li>
    <li style="margin-left: 36.0pt; text-align: justify; text-justify: inter-ideograph; "><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Derecho a presentar una reclamaci&oacute;n ante la autoridad de control (agpd.es) si&nbsp;considera que el tratamiento no se ajusta a la normativa vigente.</span></li>
    <li style="margin-left: 36.0pt; text-align: justify; text-justify: inter-ideograph; "><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">M&aacute;s informaci&oacute;n sobre el ejercicio de los derechos por parte del interesado: </span>
      <a href="http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/derechos/index-ides-idphp.php"><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';">http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/derechos/index-ides-idphp.php</span></a>
    </li>
  </ul>
  <p style="margin-left: 36.0pt; text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';">&nbsp;</span></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">No obstante lo anterior, si un usuario considera&nbsp;que hay un problema con la forma en que <strong>RON MONTERO</strong> est&aacute; tratando sus datos, puede dirigir sus reclamaciones al <strong>Responsable de Protecci&oacute;n de datos</strong> designado internamente en la empresa, o a trav&eacute;s de la Autoridad de Control Espa&ntilde;ola, en este caso, la AEPD: </span></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><a href="http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/denunciasciudadano/index-ides-idphp.php"><span style="font-size: 10.0pt; font-family: 'Calibri','sans-serif';">http://www.agpd.es/portalwebAGPD/CanalDelCiudadano/denunciasciudadano/index-ides-idphp.php</span></a></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><u><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif'; text-transform: uppercase;">CAR&Aacute;CTER OBLIGATORIO O FACULTATIVO DE LA INFORMACI&Oacute;N FACILITADA:</span></u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Los datos recabados por cualquiera de los formularios de contacto habilitados en la presente P&aacute;gina Web, o incluso para el suministro/env&iacute;o de cualquier producto del cat&aacute;logo de &ldquo;<strong>RON MONTERO</strong>&rdquo;, o los facilitados por el Usuarios con motivo de su participaci&oacute;n en actividades/eventos desarrollados por <strong>RON MONTERO</strong>, ser&aacute;n incorporados, dependiendo de su finalidad, a ficheros registrados ante la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos y al Registro de Actividades de Tratamiento Interno (Art&iacute;culo 30 del </span>
    <span
    style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Reglamento (UE) 2016/679 de 27 de abril de 2016)</span><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">. <strong>El Registro de Actividades de Tratamiento </strong>est&aacute; a disposici&oacute;n de la Autoridad de Control,<strong> y los Ficheros </strong>se encuentran Inscritos en el Registro General de la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos (</span>
      <a
      href="https://www.agpd.es/portalwebAGPD/ficheros_inscritos/titularidad_privada/index-ides-idphp.php"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">ver registro</span></a><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">).</span></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Los Usuarios, mediante la marcaci&oacute;n de las casillas correspondientes y entrada de datos en los distintos campos, marcados con un asterisco (*) en el formulario de contacto o presentados en formularios de descarga/contrataci&oacute;n, aceptan expresamente y de forma libre e inequ&iacute;voca, que sus datos son necesarias para atender su petici&oacute;n, por parte de </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>
    <span
    style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">, siendo voluntaria la inclusi&oacute;n de datos en los campos restantes. El Usuario garantiza que los datos personales facilitados son veraces y se hace responsable de comunicar cualquier modificaci&oacute;n de los mismos.&nbsp;</span>
  </p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">informa y garantiza expresamente a los usuarios que sus datos personales no ser&aacute;n cedidos en ning&uacute;n caso a terceros y que, siempre que tenga previsto realizar cualquier cesi&oacute;n en el futuro, se pedir&aacute; previamente el consentimiento expreso, informado e inequ&iacute;voco por parte los Usuarios, informando sobre los datos del cesionario, y la finalidad de la cesi&oacute;n. Todos los datos solicitados a trav&eacute;s del sitio web son obligatorios, ya que son necesarios para la prestaci&oacute;n de un servicio &oacute;ptimo al Usuario. En caso de que no sean facilitados todos los datos, no se garantiza que la informaci&oacute;n y, en su caso, productos y pedidos facilitados/suministrados sean completamente ajustados a sus necesidades.</span></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><u><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">MEDIDAS DE SEGURIDAD:</span></u></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">De conformidad con lo dispuesto en las normativas vigentes en protecci&oacute;n de datos personales, y en particular en el </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Reglamento (UE) 2016/679 de 27 de abril de 2016</span></strong>
    <span
    style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">, </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">est&aacute; cumpliendo con todas las disposiciones de las normativas GDPR y LOPD&nbsp;para&nbsp;el tratamiento de los datos personales de su responsabilidad, y manifiestamente con los principios descritos en el art&iacute;culo 5 del GDPR y en el art&iacute;culo 4 de la LOPD, por los cuales son tratados de manera l&iacute;cita, leal y transparente en relaci&oacute;n con el interesado y adecuados, pertinentes y limitados a lo necesario en relaci&oacute;n con los fines para los que son tratados. </span></p>
  <p>En todo caso, <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong>tiene implementados los mecanismos suficientes para:</p>
  <ol>
    <li style=" line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;">Garantizar la confidencialidad, integridad, disponibilidad y resiliencia permanentes de los sistemas y servicios de tratamiento.</li>
    <li style=" line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;">Restaurar la disponibilidad y el acceso a los datos personales de forma r&aacute;pida, en caso de incidente f&iacute;sico o t&eacute;cnico.</li>
    <li style=" line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;">Verificar, evaluar y valorar, de forma regular, la eficacia de las medidas t&eacute;cnicas y organizativas implantadas para garantizar la seguridad del tratamiento.</li>
    <li style=" line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;">Seudonimizar y cifrar los datos personales, en caso necesario.</li>
  </ol>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">garantiza que ha implementado pol&iacute;ticas t&eacute;cnicas y organizativas apropiadas para aplicar las medidas de seguridad que establecen el GDPR y la LOPD con el fin de proteger los derechos y libertades de los Usuarios y les ha comunicado la informaci&oacute;n adecuada para que puedan ejercerlos. </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong>
    <span
    style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">ha instalado todos los medios y medidas t&eacute;cnicas a su alcance para evitar la p&eacute;rdida, mal uso, alteraci&oacute;n, acceso no autorizado y robo de los Datos Personales facilitados por el titular a <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>.
      Ello no obstante, el Usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables. </span>
  </p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Los datos de car&aacute;cter personal que se incorporen al Registro de Actividades de Tratamiento Interno, ser&aacute;n tratados con la m&aacute;xima confidencialidad y seguridad, el Titular del Fichero indicado podr&aacute; remitirle informaciones comerciales relativas a NOTICIAS Y PROMOCIONES SOBRE LOS ART&Iacute;CULOS OFRECIDOS por <strong>RON MONTERO</strong>, en este caso, el remitente se compromete a indicar su fin publicitario al realizar el env&iacute;o, y a coordinar un sistema sencillo, claro y gratuito para el caso en que usted desee dejar de recibirlas. </span></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">La oferta de productos/BEBIDAS de <strong>RON MONTERO </strong>contenidos en la web est&aacute;n destinados exclusivamente a mayores de edad (la venta de alcohol a menores de 18 a&ntilde;os est&aacute; prohibida legalmente en Espa&ntilde;a), en el caso en el que <strong>RON MONTERO </strong>ofrezca cualquier actividad promocional, evento, concurso o similar, en las que se pueda producir la recogida de Datos Personales de menores de edad, <strong>RON MONTERO </strong>solicitar&aacute; siempre la conformidad paterna para que los menores puedan acceder a ellos y sus Datos Personales puedan ser objeto de tratamiento automatizado seg&uacute;n lo previsto en este aviso sobre la Pol&iacute;tica de Protecci&oacute;n de Datos. </span></p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Tal y como se ha informado con car&aacute;cter previo, la recogida y tratamiento automatizado de los Datos Personales tiene como finalidad el mantenimiento de la relaci&oacute;n contractual en su caso establecida con <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>,
    la gesti&oacute;n de sus pedidos, administraci&oacute;n de su cuenta como usuario, garant&iacute;a, gesti&oacute;n de devoluciones y, en general, &nbsp;mejora de los servicios que el Usuario decida contratar, darse de alta, o utilizar la adecuaci&oacute;n
    de dichos servicios/productos a las preferencias y gustos de los Usuarios, el estudio de la utilizaci&oacute;n de los diferentes productos de <strong>RON MONTERO</strong> por parte de los Usuarios, el dise&ntilde;o de nuevos productos, el env&iacute;o
    de posibles actualizaciones/reparaciones, el env&iacute;o, por medios tradicionales y electr&oacute;nicos, de informaci&oacute;n t&eacute;cnica, operativa y comercial acerca de productos ofrecidos por <strong><span style="font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>    actualmente y en el futuro. </span>
  </p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong><u><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">Redes Sociales</span></u></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">: </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO </span></strong>
    <span
    style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">cuenta con un perfil en las principales redes sociales de Internet (<u><span style="color: #00b0f0;">Facebook</span></u>, <u><span style="color: #00b0f0;">Twitter</span></u><span style="color: #00b0f0;">, <u>Instagram</u>, <u>YouTube</u> y <u>Google+</u></span>)
      conoci&eacute;ndose en todos los casos responsable del tratamiento de los datos de sus seguidores, fans, suscriptores, comentaristas y otros perfiles de usuarios (en adelante, seguidores). El tratamiento que </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>
      <span
      style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';"> llevar&aacute; a cabo con dichos datos ser&aacute;, como m&aacute;ximo, el que la red social permita a los perfiles corporativos. As&iacute; pues, </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>
        <span
        style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';"> podr&aacute; informar a sus seguidores por cualquier v&iacute;a que la red social permita sobre sus noticias, actividades, promociones. En ning&uacute;n caso </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong>
          <span
          style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';"> extraer&aacute; datos de las redes sociales, a menos que se obtuviera puntual y expresamente el consentimiento del usuario para ello. Cuando, debido a la propia naturaleza de las redes sociales, el ejercicio efectivo de los derechos del seguidor
            quede supeditado a la modificaci&oacute;n del perfil personal de &eacute;ste, </span><strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';">RON MONTERO</span></strong><span style="font-size: 11.0pt; font-family: 'Calibri','sans-serif';"> le ayudar&aacute; y aconsejar&aacute; a tal fin en la medida de sus posibilidades.</span></p>
  <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal; border: none; padding: 0cm;"><strong><span style="font-size: 14.0pt;">&ldquo;INFORMACI&Oacute;N SOBRE EL USO DE COOKIES&rdquo; </span></strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>&nbsp;</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>De conformidad con la normativa espa&ntilde;ola que regula el uso de cookies en relaci&oacute;n a la prestaci&oacute;n de servicios de comunicaciones electr&oacute;nicas, recogida en el Real Decreto-ley 13/2012 del 30 de marzo, le informamos sobre las cookies utilizadas en el sitio web de RON MONTERO y el motivo de su uso. Asimismo, RON MONTERO le informa de que al navegar en el Sitio Web usted est&aacute; prestando su consentimiento para poder utilizarlas</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>1.-Pol&iacute;tica de Cookies</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas p&aacute;ginas web. Las cookies permiten a un Sitio Web, entre otras cosas, almacenar y recuperar informaci&oacute;n sobre los h&aacute;bitos de navegaci&oacute;n de
    un usuario o de su equipo y, dependiendo de la informaci&oacute;n que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al Usuario.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>RON MONTERO </strong>tiene la obligaci&oacute;n por el Real Decreto-ley 13/2012 que modifica la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Informaci&oacute;n y de Comercio Electr&oacute;nico, de informar y obtener el consentimiento
    del Usuario acerca del uso de las cookies en este Sitio Web.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>2.- &iquest;Qu&eacute; tipo de cookies utilizamos en RON MONTERO?</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>2.1.- Seg&uacute;n la entidad que las gestiona</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies propias: Son aquellas que se env&iacute;an a tu equipo desde nuestros propios equipos o dominios y desde el que prestamos el servicio que nos solicitas.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies de terceros: Son aquellas que se env&iacute;an a tu equipo desde un equipo o dominio que no es gestionado por nosotros, sino por otra entidad colaboradora. Como por ejemplo, las usadas por redes sociales, o por contenido externo como Google
    Maps.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>2.2.- Seg&uacute;n el plazo de tiempo que permanecen activadas</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies de sesi&oacute;n: Son cookies temporales que permanecen en el archivo de cookies de tu navegador hasta que abandonas la p&aacute;gina web, por lo que ninguna queda registrada en el disco duro de tu ordenador. La informaci&oacute;n obtenida por
    medio de estas cookies, sirven para analizar pautas de tr&aacute;fico en la web. A la larga, esto nos permite proporcionar una mejor experiencia para mejorar el contenido y facilitar su uso.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies persistentes: Son almacenadas en el disco duro y nuestra web las lee cada vez que realizas una nueva visita. Una web permanente posee una fecha de expiraci&oacute;n determinada. La cookie dejar&aacute; de funcionar despu&eacute;s de esa fecha.
    Estas cookies las utilizamos, generalmente, para facilitar los servicios de compra y registro.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>2.3.- Seg&uacute;n su finalidad</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies t&eacute;cnicas: Son aquellas necesarias para la navegaci&oacute;n y el buen funcionamiento de nuestra p&aacute;gina web. Permiten por ejemplo, controlar el tr&aacute;fico y la comunicaci&oacute;n de datos, acceder a partes de acceso restringido,
    realizar el proceso de compra de un pedido, utilizar elementos de seguridad, almacenar contenidos para poder difundir v&iacute;deos o compartir contenidos a trav&eacute;s de redes sociales.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies de personalizaci&oacute;n: Son aqu&eacute;llas que te permiten acceder al servicio con unas caracter&iacute;sticas predefinidas en funci&oacute;n de una serie de criterios, como por ejemplo el idioma, el tipo de navegador a trav&eacute;s del
    cual se accede al servicio, la configuraci&oacute;n regional desde donde se accede al servicio, etc.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies de an&aacute;lisis: Son aqu&eacute;llas que nos permiten cuantificar el n&uacute;mero de usuarios y as&iacute; realizar la medici&oacute;n y an&aacute;lisis estad&iacute;stico de la utilizaci&oacute;n que hacen los usuarios de los servicios
    prestados. Para ello se analiza su navegaci&oacute;n en nuestra p&aacute;gina web con el fin de mejorar la oferta de productos y servicios que ofrecemos.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies publicitarias: Son aqu&eacute;llas que permiten la gesti&oacute;n, de la forma m&aacute;s eficaz posible, de los espacios publicitarios que se pudieran incluir en nuestra p&aacute;gina web.</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Cookies de publicidad comportamental: Estas cookies almacenan informaci&oacute;n del comportamiento de los usuarios obtenida a trav&eacute;s de la observaci&oacute;n continuada. Gracias a ellas, podemos conocer los h&aacute;bitos de navegaci&oacute;n
    en internet y mostrarte publicidad relacionada con tu perfil de navegaci&oacute;n.</p>
  <p><strong>3.- Relaci&oacute;n de Cookies de terceros utilizadas en el dominio </strong><a href="http://www.ronmontero.com"><strong>www.ronmontero.com</strong></a></p>
  <table style="width: 100.0%; border: solid windowtext 1.0pt;" width="100%">
    <thead>
      <tr>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Nombre del proveedor</span></strong></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Finalidad de la cookie</span></strong></p>
        </td>
        <td style="width: 32.14%; border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;" width="32%">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Descripci&oacute;n de la finalidad de la cookie</span></strong></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Si desea m&aacute;s informaci&oacute;n sobre el uso de las cookies de este tercero</span></strong></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Caduca</span></strong></p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Google Analytics</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Estudio de la audiencia</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Obtener informaci&oacute;n de la navegaci&oacute;n, medir y analizar la audiencia</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">M&aacute;s informaci&oacute;n sobre Google Analytics</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Temporal</span></p>
        </td>
      </tr>
      <tr>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Google Adwords</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Estudio de la audiencia</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Obtener informaci&oacute;n de la navegaci&oacute;n, medir y analizar la audiencia</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">M&aacute;s informaci&oacute;n sobre Google Analytics</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Temporal</span></p>
        </td>
      </tr>
      <tr>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">PayPal</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">T&eacute;cnica</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Refuerzan la seguridad en el acceso a la plataforma de pagos PayPal</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">M&aacute;s informaci&oacute;n https://www.paypal.com/es/home</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Sesi&oacute;n</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p><strong>&nbsp;</strong></p>
  <p><strong>Cookies de redes sociales utilizadas por RON MONTERO:</strong></p>
  <p>Usamos redes sociales para dinamizar tu visita y mejorar tu experiencia. Los distintos servicios que usamos instalan las siguientes cookies:</p>
  <table style="width: 100.0%; border: solid windowtext 1.0pt;" width="100%">
    <thead>
      <tr>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Nombre de la/s cookie/s</span></strong></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Procedencia</span></strong></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Caduca</span></strong></p>
        </td>
        <td style="width: 40.5%; border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;" width="40%">
          <p style="text-align: center;"><strong><span style="font-size: 8.0pt; line-height: 115%;">Descripci&oacute;n</span></strong></p>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">guest_id</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">twitter.com</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">2 a&ntilde;os</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Identificaci&oacute;n de miembro an&oacute;nimo en Twitter</span></p>
        </td>
      </tr>
      <tr>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">NID</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">google.es y google.com</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">6 meses</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Identificaci&oacute;n en Google+</span></p>
        </td>
      </tr>
      <tr>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">APISID, HSID, SAPISID, SID, SSID</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">google.es y google.com</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">2 a&ntilde;os</span></p>
        </td>
        <td style="border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;">
          <p style="text-align: center;"><span style="font-size: 8.0pt; line-height: 115%;">Identificaci&oacute;n del usuario en Google. Pol&iacute;tica de privacidad de Google</span></p>
        </td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Estas listas se actualizar&aacute;n con la mayor celeridad posible a medida de que cambien o evolucionen los servicios del sitio web ofrecidos en el mismo. Sin embargo, ocasionalmente durante esta actualizaci&oacute;n puede ser que la lista no incluya ya una cookie, aunque siempre se referir&aacute; a cookies con prop&oacute;sitos id&eacute;nticos a los registrados en estas listas.</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph;">A trav&eacute;s de la anal&iacute;tica web no se obtiene informaci&oacute;n sobre los datos personales de los Usuarios, garantizando la tutela de su privacidad. La informaci&oacute;n que se obtiene es la relativa al n&uacute;mero de usuarios que acceden
    a la web, el n&uacute;mero de p&aacute;ginas vistas, la frecuencia y repetici&oacute;n de las visitas, su duraci&oacute;n, el navegador utilizado, el operador que presta el servicio, el idioma, el terminal que utiliza, o la ciudad a la que est&aacute;
    asignada su direcci&oacute;n IP. Informaci&oacute;n que posibilita un mejor y m&aacute;s apropiado servicio por parte de este Sitio Web.</p>
  <p style="text-align: justify; text-justify: inter-ideograph;">Al acceder el Usuario a los perfiles de <strong>RON MONTERO</strong> en las distintas redes sociales acepta el uso de cookies por parte de las mismas.</p>
  <ul>
    <li style=" line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 35.7pt;"><span style="font-size: 9.0pt;">Para m&aacute;s informaci&oacute;n sobre Facebook pulse aqu&iacute;: </span><a href="http://es-es.facebook.com/help/cookies"><span style="font-size: 9.0pt;">http://es-es.facebook.com/help/cookies</span></a></li>
    <li style=" line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 35.7pt;"><span style="font-size: 9.0pt;">Para m&aacute;s informaci&oacute;n sobre Twitter pulse aqu&iacute;: </span><a href="https://twitter.com/privacy"><span style="font-size: 9.0pt;">https://twitter.com/privacy</span></a></li>
    <li style=" line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 35.7pt;"><span style="font-size: 9.0pt;">Para m&aacute;s informaci&oacute;n sobre LinkedIn pulse aqu&iacute;: </span><a href="http://es-es.facebook.com/help/cookies"><span style="font-size: 9.0pt;">http://es-es.facebook.com/help/cookies</span></a></li>
    <li style=" line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm 6.0pt 35.7pt;"><span style="font-size: 9.0pt;">Para m&aacute;s informaci&oacute;n sobre Google+ pulse aqu&iacute;: </span><a href="https://www.linkedin.com/legal/cookie_policy"><span style="font-size: 9.0pt;">https://www.linkedin.com/legal/cookie_policy</span></a></li>
  </ul>
  <p style="text-align: justify; text-justify: inter-ideograph;">Dadas las caracter&iacute;sticas de Internet, no siempre contamos con informaci&oacute;n de las cookies que colocan terceras partes a trav&eacute;s de este Sitio Web. Por consiguiente, en caso de que se encuentre con este tipo de cookies en este Sitio
    Web y no est&eacute;n aqu&iacute; descritas, le rogamos que nos lo comunique. Tambi&eacute;n puede ponerse en contacto directamente con el tercero para pedirle informaci&oacute;n sobre las cookies que coloca, la finalidad y la duraci&oacute;n de la
    cookie, y c&oacute;mo garantiza la privacidad del Usuario.</p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong>4.- Modificar la configuraci&oacute;n de las cookies.</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph;">En todo caso el usuario puede configurar su navegador para aceptar, o no, las cookies que recibe o para que el navegador le avise cuando el servidor web quiera almacenarle alguna. A continuaci&oacute;n puede encontrar informaci&oacute;n sobre c&oacute;mo
    hacerlo seg&uacute;n el navegador que utilice:</p>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph;  line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;"><span style="font-size: 10.0pt;">Firefox desde aqu&iacute;: </span><a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"><span style="font-size: 10.0pt;">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</span></a></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;"><span style="font-size: 10.0pt;">Chrome desde aqu&iacute;: </span><a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647"><span style="font-size: 10.0pt;">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</span></a></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;"><span style="font-size: 10.0pt;">Explorer: </span><a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies"><span style="font-size: 10.0pt;">https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies</span></a></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;"><span style="font-size: 10.0pt;">Safari desde aqu&iacute;: </span><a href="http://support.apple.com/kb/ph5042"><span style="font-size: 10.0pt;">http://support.apple.com/kb/ph5042</span></a></li>
    <li style="text-align: justify; text-justify: inter-ideograph;  line-height: normal; tab-stops: list 36.0pt; margin: 0cm 0cm .0001pt 35.7pt;"><span style="font-size: 10.0pt;">Opera desde aqu&iacute;: </span><a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html"><span style="font-size: 10.0pt;">http://help.opera.com/Windows/11.50/es-ES/cookies.html</span></a></li>
  </ul>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal; margin: 0cm 0cm .0001pt 35.7pt;"><span style="font-size: 10.0pt;">&nbsp;</span></p>
  <p style="text-align: justify; text-justify: inter-ideograph;">Actualmente, la mayor&iacute;a de los navegadores vienen configurados por defecto para bloquear la instalaci&oacute;n de cookies de publicidad o de terceros en su equipo. El usuario puede ampliar las restricciones de origen, impidiendo la entrada de
    cualquier tipo de cookie, o, por el contrario eliminar dichas restricciones, aceptando la entrada de cualquier tipo de cookies. Si el usuario ha modificado voluntariamente la configuraci&oacute;n del navegador para admitir cookies de publicidad o
    de terceros, dicha acci&oacute;n significar&aacute; que da su consentimiento para el tratamiento de sus datos a los efectos de publicidad.</p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong>5.- Gu&iacute;a sobre el uso de las cookies.</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph;">Puede obtener m&aacute;s informaci&oacute;n sobre el uso de las cookies en la gu&iacute;a elaborada por la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos pulsando sobre el siguiente link:
    <a href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf"><span style="font-size: 9.0pt; line-height: 115%;">http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf</span></a>
  </p>
  <p style="text-align: justify; text-justify: inter-ideograph;"><strong>6.- Derecho de Informaci&oacute;n.</strong></p>
  <p style="text-align: justify; text-justify: inter-ideograph;">Tras la correspondiente solicitud, <strong>RON MONTERO</strong> o el distribuidor autorizado le comunicar&aacute;n inmediatamente por escrito, de conformidad con la legislaci&oacute;n aplicable, si tenemos almacenados datos de car&aacute;cter personal
    suyos, y cu&aacute;les son &eacute;stos. En caso de que figure registrado como usuario, le ofrecemos la posibilidad de consultar personalmente sus datos, y, en su caso, proceder a su eliminaci&oacute;n, modificaci&oacute;n y/o actualizaci&oacute;n.&nbsp;</p>
  <p style="margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong><u>CONTACTO:</u></strong> Por favor, si tienes cualquier duda sobre la Presente Pol&iacute;tica de Privacidad, ponte en contacto con nosotros a trav&eacute;s de:</p>
  <ul>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Domicilio Social</strong>: Camino de la V&iacute;a, S/N, CP: 18613 &ndash; Motril (Granada) - Espa&ntilde;a</li>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Email de contacto</strong>: <a href="mailto:info@ronmontero.com"><strong>info@ronmontero.com</strong></a></li>
    <li style="text-align: justify; text-justify: inter-ideograph; line-height: normal;"><strong>Tel&eacute;fono de contacto:</strong> (+34) 958 600 183</li>
  </ul>
  <p style="text-align: justify; text-justify: inter-ideograph; line-height: normal;">Redacci&oacute;n de Pol&iacute;tica de Privacidad actualizada y revisada a <strong>1 de agosto de 2018.</strong></p>
</section>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
ul{
  list-style-type: circle !important;
}
ul li{
  list-style-type: circle !important;
  display: block;
}
strong {
    font-weight: bold !important;
}
</style>
