<template lang="pug">
#productos(:class="{vertical}")
  #Botellas.fullPage.relative(style="background-color:#EDEDED; color:black; z-index: 100;")
    //productsBg#IntroBg
    products1#IntroProds(v-if="!vertical")
    products1M#IntroProds(v-if="vertical")
  #ProductDescription.fullPage.relative(style="background-color:white;")
    transition(name="fadeProd")
      Palido.ProductDescription(v-show="menu[selected]==0 && !vertical" :class="{resena: subMenu=='resena', receta: subMenu=='receta', premio: subMenu=='premio' }")
    transition(name="fadeProd")
      PalidoM.ProductDescription(v-show="menu[selected]==0 && vertical" :class="{resena: subMenu=='resena', receta: subMenu=='receta', premio: subMenu=='premio' }")
    transition(name="fadeProd")
      Reserva.ProductDescription(v-show="menu[selected]==1 && !vertical" :class="{resena: subMenu=='resena', receta: subMenu=='receta', premio: subMenu=='premio'}")
    transition(name="fadeProd")
      ReservaM.ProductDescription(v-show="menu[selected]==1 && vertical" :class="{resena: subMenu=='resena', receta: subMenu=='receta', premio: subMenu=='premio'}")
    transition(name="fadeProd")
      Montero.ProductDescription(v-show="menu[selected]==2 && !vertical" :class="{resena: subMenu=='resena', receta: subMenu=='receta', premio: subMenu=='premio'}")
    transition(name="fadeProd")
      MonteroM.ProductDescription(v-show="menu[selected]==2 && vertical" :class="{resena: subMenu=='resena', receta: subMenu=='receta', premio: subMenu=='premio'}")
    transition(name="fadeProd")
      Plata.ProductDescription(v-show="menu[selected]==3 && !vertical" :class="{resena: subMenu=='resena', receta: subMenu=='receta', premio: subMenu=='premio'}")
    transition(name="fadeProd")
      PlataM.ProductDescription(v-show="menu[selected]==3 && vertical" :class="{resena: subMenu=='resena', receta: subMenu=='receta', premio: subMenu=='premio'}")
    ProdsLines#ProductLines()
</template>

<script>
import products1 from '@/components/products1.vue'
import products1M from '@/components/products1M.vue'
//import productsBg from '@/../static/home/Products1/products1Bg.svg'
import Palido from '@/../static/home/Products2/Palido.svg'
import Reserva from '@/../static/home/Products2/Reserva.svg'
import Montero from '@/../static/home/Products2/Montero.svg'
import Plata from '@/../static/home/Products2/Plata.svg'
import PalidoM from '@/../static/home/Products2/PalidoM.svg'
import ReservaM from '@/../static/home/Products2/ReservaM.svg'
import MonteroM from '@/../static/home/Products2/MonteroM.svg'
import PlataM from '@/../static/home/Products2/PlataM.svg'
import ProdsLines from '@/../static/home/Products2/ProdsLines.svg'

export default {
  components:{
    products1,
    products1M,
    //productsBg,
    Palido,
    Reserva,
    Montero,
    Plata,
    PalidoM,
    ReservaM,
    MonteroM,
    PlataM,
    ProdsLines
  },
  props:[
    "vertical",
  ],
  data(){
    return {
      active: 0,
      menu: {PALIDO:0, RESERVA:1, "FRANCISCO MONTERO":2, PLATA: 3},
      colors: {
        PALIDO: ["#FCDF24", "#974B27"],
        RESERVA: ["#000000", "#E6C963"],
        "FRANCISCO MONTERO": ["#661A02", "#000000"],
        PLATA: ["#71CFE7", "#FDCE05"],
      },
      selected: "PALIDO",
      lines: [],
      subMenu: "resena"
    }
  },
  methods:{
    selectProd(name){
      console.log("selected", name)
      this.selected = name;
      this.lines[0].style.fill = this.colors[name][0];
      this.lines[1].style.fill = this.colors[name][1];
      this.subMenu= "resena";
      if(Math.abs(document.getElementById("ProductDescription").offsetTop - (window.pageYOffset + 65)) > 3 ){
        $('html, body').stop().animate({
          scrollTop: document.getElementById("ProductDescription").offsetTop - 65
        }, 500, 'linear', function() {
        });
      }
    },
    selectSubMenu(name){
      this.subMenu = name;
    }
  },
  mounted(){
    this.lines = document.querySelectorAll("#ProductLines>path");

    window.selectProd = this.selectProd;
    window.selectSubMenu = this.selectSubMenu;
  }
}
</script>

<style lang="sass" scoped>
  #IntroBg
    position: absolute
    width: 100vw
    top: 75%
    left: 0
  #IntroProds
    position: absolute
    width: 100vw
    max-height: 100vh
    bottom: 0
  #IntroProdsPre
    width: 100vw
    position: absolute
    bottom: 0
  #ProductDescription
    height: calc(100vh - 65px)
    overflow: hidden
  .ProductDescription
    height: calc(100vh - 65px)
    max-width: 110vw
    position: absolute
    left: 50%
    bottom: 0px
    transform: translate(-50%, 0)
  #Lines
    max-height: 100vh
    width: 100vw
    position: absolute
    right: 0
    top: 0px
    z-index: 300
  .vertical
    #Botellas.fullPage
      min-height: 110vw
    #IntroProds
      max-height: 1000vh
    .ProductDescription
      //height: calc(100vh - 65px)
      height: 130vh
      width: 100vw
      position: absolute
      left: 50%
      bottom: 50%
      transform: translate(-50%, 50%)
</style>
