<template lang="pug">
.relative#Visitas(:class="{vertical}")
  div(v-if="!vertical")
    svg#visitantes(xmlns='http://www.w3.org/2000/svg' viewBox='0 50 1366 550')
      title Visitas
      g#Layer_2(data-name='Layer 2')
        g#Layer_20(data-name='Layer 20')
          rect(width='1366' height='768' style='fill: #9ac0d1')
          text(transform='translate(755.9245 235.2983)' style='font-size: 20.17292022705078px;fill: #fff;font-family: Share-Regular, Share')
            | Desde
            tspan(x='53.0132' y='0' style='letter-spacing: -0.029989731875247012em') K
            tspan(x='62.333' y='0' style='letter-spacing: -0.014982763543807828em') y
            tspan(x='71.3706' y='0') oto, Finlandia, Wis
            tspan(x='217.5815' y='0' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='225.5298' y='0') onsin y hasta de
            tspan(x='0' y='21') Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch
            tspan(x='0' y='42') (nos han dicho que est&aacute; en Gales). La casa de
            tspan(x='0' y='63') Ron Monte
            tspan(x='85.2495' y='63' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='91.7656' y='63') o
            tspan(x='107.2983' y='63' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='113.8145' y='63') ecibe visitas de muchos luga
            tspan(x='344.8911' y='63' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='351.4072' y='63') es
            tspan(x='0' y='84') dif&iacute;ciles de p
            tspan(x='102.4766' y='84' style='letter-spacing: -0.015006968331439182em') r
            tspan(x='108.9922' y='84') onuncia
            tspan(x='172.395' y='84' style='letter-spacing: -0.04998288645874502em') r
            tspan(x='178.2051' y='84') .
            tspan(x='0' y='126' style='letter-spacing: -0.009996577291749005em') F
            tspan(x='9.0376' y='126') undada en 1963 en el seno de una familia de
            tspan(x='0' y='147') g
            tspan(x='10.5098' y='147' style='letter-spacing: -0.004986186252058825em') r
            tspan(x='17.2275' y='147') an t
            tspan(x='48.8584' y='147' style='letter-spacing: -0.004986186252058825em') r
            tspan(x='55.5762' y='147') adici&oacute;n azuca
            tspan(x='164.811' y='147' style='letter-spacing: -0.015006968331439182em') r
            tspan(x='171.3267' y='147') e
            tspan(x='180.7671' y='147' style='letter-spacing: -0.004986186252058825em') r
            tspan(x='187.4849' y='147') a, aqu&iacute; puedes degustar
            tspan(x='0' y='168') nuest
            tspan(x='44.1377' y='168' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='50.6538' y='168') os
            tspan(x='74.2959' y='168' style='letter-spacing: -0.015006968331439182em') r
            tspan(x='80.8115' y='168') ones y ap
            tspan(x='158.4561' y='168' style='letter-spacing: -0.015006968331439182em') r
            tspan(x='164.9717' y='168' style='letter-spacing: 0.00002420478763135352em') ender sob
            tspan(x='244.7544' y='168' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='251.2705' y='168') e el p
            tspan(x='296.0532' y='168' style='letter-spacing: -0.015006968331439182em') r
            tspan(x='302.5688' y='168') o
            tspan(x='312.8569' y='168' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='320.8052' y='168') eso de
            tspan(x='0' y='189') elabo
            tspan(x='44.8438' y='189' style='letter-spacing: -0.004986186252058825em') r
            tspan(x='51.5615' y='189' style='letter-spacing: -0.00002420478763135352em') aci&oacute;n que nos ha ganado
            tspan(x='259.6821' y='189' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='266.1982' y='189') e
            tspan(x='275.6387' y='189' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='283.5869' y='189') onocimiento mundial.
            tspan(x='0' y='231') La bodega of
            tspan(x='105.1997' y='231' style='letter-spacing: -0.014982763543807828em') r
            tspan(x='111.7158' y='231') e
            tspan(x='121.1563' y='231' style='letter-spacing: -0.009996577291749005em') c
            tspan(x='129.1045' y='231') e visitas guiadas en puertas abiertas
            tspan(x='0' y='252') todos los martes a s&aacute;bados del a&ntilde;o a las 12:00h en
            tspan(x='0' y='273') Espa&ntilde;ol y a las 13:00h en Ingl&eacute;s. Las visitas son g
            tspan(x='401.7764' y='273' style='letter-spacing: -0.004986186252058825em') r
            tspan(x='408.4941' y='273') atuitas.
            tspan(x='0' y='294' style='letter-spacing: -0.029989731875247012em') P
            tspan(x='9.4814' y='294' style='letter-spacing: -0.00002420478763135352em') a
            tspan(x='19.1841' y='294' style='letter-spacing: -0.004986186252058825em') r
            tspan(x='25.9019' y='294') a ot
            tspan(x='57.6133' y='294' style='letter-spacing: -0.004986186252058825em') r
            tspan(x='64.3311' y='294') as fechas y grupos,
            tspan.menu(x='224.6826' y='294' style='font-family: Share-Bold, Share;font-weight: 700;letter-spacing: -0.009996577291749005em' onclick="gotoTag('Contacto')") Cont&aacute;ctanos.
          text(transform='translate(164.9169 258.9427)' style='font-size: 75.16866302490234px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.02500236741775469em')
            | LLEGAN COMO
            tspan(x='0' y='90.2021') VISITANTES Y SE
            tspan(x='0' y='180.4053') VAN COMO FIELES
            tspan(x='0' y='270.6074') CONSUMIDORES

    img(src="/static/Visitas1.png")
  div(v-if="vertical")
    svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1242 2708')
      title Visitantes
      g#BlueBodegaIsolada
        g#BlueBodegaIsolada-2(data-name='BlueBodegaIsolada')
          g#BlueBodegaIsolada-3(data-name='BlueBodegaIsolada')
            image#BlueBodegaIsolada-4(data-name='BlueBodegaIsolada' width='1717' height='478' transform='translate(-594.3772 1081.3062) scale(1.614)' xlink:href='/static/Visitas1.png')
      text(transform='translate(120.5288 1988.6143)' style='font-size: 45.72285079956055px;fill: #fff;font-family: Share-Regular, Share')
        tspan(style='letter-spacing: -0.00999568578966193em') F
        tspan(x='20.4839' y='0') undada en 1963 en el seno de una familia
        tspan(x='0' y='47.6055') de g
        tspan(x='80.1509' y='47.6055' style='letter-spacing: -0.004987163743346284em') r
        tspan(x='95.377' y='47.6055') an t
        tspan(x='167.0693' y='47.6055' style='letter-spacing: -0.004987163743346284em') r
        tspan(x='182.2954' y='47.6055') adici&oacute;n azuca
        tspan(x='429.8809' y='47.6055' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='444.6494' y='47.6055' style='letter-spacing: -0.00001067915148468155em') e
        tspan(x='466.0469' y='47.6055' style='letter-spacing: -0.004987163743346284em') r
        tspan(x='481.2729' y='47.6055') a, aqu&iacute; puedes
        tspan(x='0' y='95.2109') degustar nuest
        tspan(x='273.1445' y='95.2109' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='287.9131' y='95.2109') os
        tspan(x='341.4995' y='95.2109' style='letter-spacing: -0.015004207835977577em') r
        tspan(x='356.2676' y='95.2109' style='letter-spacing: 0.00001067915148468155em') ones y ap
        tspan(x='532.252' y='95.2109' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='547.0205' y='95.2109' style='letter-spacing: 0.00001067915148468155em') ender sob
        tspan(x='727.8516' y='95.2109' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='742.6201' y='95.2109') e
        tspan(x='0' y='142.8164') el p
        tspan(x='68.2173' y='142.8164' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='82.9858' y='142.8164') o
        tspan(x='106.3042' y='142.8164' style='letter-spacing: -0.00999568578966193em') c
        tspan(x='124.3188' y='142.8164' style='letter-spacing: -0.00001067915148468155em') eso de elabo
        tspan(x='357.2725' y='142.8164' style='letter-spacing: -0.004987163743346284em') r
        tspan(x='372.4985' y='142.8164') aci&oacute;n que nos ha
        tspan(x='0' y='190.4219') ganado
        tspan(x='149.1914' y='190.4219' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='163.96' y='190.4219' style='letter-spacing: -0.00001067915148468155em') e
        tspan(x='185.3574' y='190.4219' style='letter-spacing: -0.00999568578966193em') c
        tspan(x='203.3721' y='190.4219' style='letter-spacing: 0.00001067915148468155em') onocimiento mundial.
        tspan(x='0' y='285.6328') La bodega of
        tspan(x='238.4404' y='285.6328' style='letter-spacing: -0.015004207835977577em') r
        tspan(x='253.2085' y='285.6328') e
        tspan(x='274.6064' y='285.6328' style='letter-spacing: -0.00999568578966193em') c
        tspan(x='292.6211' y='285.6328') e visitas guiadas en
        tspan(x='0' y='333.2383') puertas abiertas todos los martes a
        tspan(x='0' y='380.8438' xml:space='preserve') s&aacute;bados  del a&ntilde;o a las 12:00h en
        tspan(x='0' y='428.4492') Espa&ntilde;ol y a las 13:00h en Ingl&eacute;s.
        tspan(x='0' y='476.0547') Las visitas son g
        tspan(x='300.3936' y='476.0547' style='letter-spacing: -0.004987163743346284em') r
        tspan(x='315.6196' y='476.0547') atuitas.
        tspan(x='0' y='571.2656' style='letter-spacing: -0.029997736520470473em') P
        tspan(x='21.4897' y='571.2656') a
        tspan(x='43.4819' y='571.2656' style='letter-spacing: -0.004987163743346284em') r
        tspan(x='58.708' y='571.2656') a ot
        tspan(x='130.583' y='571.2656' style='letter-spacing: -0.004987163743346284em') r
        tspan(x='145.8091' y='571.2656') as fechas y grupos,
        tspan.menu(onclick="gotoTag('Contacto')" style='font-family: Share-Bold, Share;font-weight: 700;letter-spacing: -0.00999568578966193em')
          tspan(x='0' y='666.4766') C
          tspan(x='19.3408' y='666.4766' style='letter-spacing: 0.00001067915148468155em') ont&aacute;ctanos.
      text(transform='translate(106.8342 195.9155)' style='font-size: 145.87411499023438px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.025004168407425687em')
        | LLEGAN COMO
        tspan(style='letter-spacing: 0.024997473850957835em')
          tspan(x='0' y='175.0488') VISITANTES Y SE
          tspan(x='0' y='350.0977') VAN COMO FIELES
          tspan(x='0' y='525.1465') CONSUMIDORES
      text(transform='translate(120.5293 815.5491)' style='font-size: 45.72285079956055px;fill: #fff;font-family: Share-Regular, Share')
        | Desde
        tspan(x='120.1572' y='0' style='letter-spacing: -0.029997736520470473em') K
        tspan(x='141.2808' y='0' style='letter-spacing: -0.015004207835977577em') y
        tspan(x='161.7642' y='0' style='letter-spacing: 0.00001067915148468155em') oto, Finlandia, Wis
        tspan(x='493.1587' y='0' style='letter-spacing: -0.00999568578966193em') c
        tspan(x='511.1733' y='0') onsin y hasta de
        tspan(x='0' y='47.6055') Llanfairpwllgwyngyllgogerychwyrndrobwllllanty-
        tspan(x='0' y='95.2109') siliogogogoch (nos han dicho que est&aacute; en Gales).
        tspan(x='0' y='142.8164') La casa de Ron Monte
        tspan(x='394.9014' y='142.8164' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='409.6699' y='142.8164') o
        tspan(x='444.876' y='142.8164' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='459.6445' y='142.8164') ecibe visitas
        tspan(x='0' y='190.4219') de muchos luga
        tspan(x='287.7305' y='190.4219' style='letter-spacing: -0.015004207835977577em') r
        tspan(x='302.4985' y='190.4219') es dif&iacute;ciles de p
        tspan(x='586.4321' y='190.4219' style='letter-spacing: -0.014993528684492895em') r
        tspan(x='601.2007' y='190.4219') onuncia
        tspan(x='744.9058' y='190.4219' style='letter-spacing: -0.04998910809979434em') r
        tspan(x='758.0742' y='190.4219') .
</template>

<script>
export default {
  props:[
    "vertical"
  ]
}
</script>

<style lang="sass" scoped>
#Visitas
  background-color: #9ac0d1
  padding: 0
  img
    width: 100vw
    bottom: -10%
    z-index: 200
    margin-bottom: -4%
#visitantes
  width: 100vw
  max-height: 100vh
.vertical
  div
    padding-top: 10vmin
    padding-bottom: 10vmin
</style>
