<template lang="html">
<section class="container" style="padding-top:70px">
  <h3>Legal Notice</h3>
<ol>
<li>Data of the Web Portal Manager</li>
</ol>
<p>Pursuant to <strong>Article 10 of Law 34/2002 </strong>dated July 11, Services by the Society of Information and Electronic Trade, the following are the identification data of this Web Portal that will be offered to users by the owner/manager: &nbsp;</p>
<p>&nbsp;</p>
<ul>
<li><strong>Name:</strong> &ldquo;RON MONTERO, S.L.&rdquo; (hereinafter referred to as &ldquo;RON MONTERO&rdquo;)</li>
<li><strong>CIF:</strong> B-18799866</li>
<li><strong>Registered Address: </strong>Camino de la V&iacute;a, S/N, CP: 18613 &ndash; Motril (Granada) - Espa&ntilde;a</li>
<li><strong>Province:</strong> Granada (Spain)</li>
<li>Contact e-mail: <a href="mailto:info@ronmontero.com">info@ronmontero.com</a></li>
<li>Webpage: www.ronmontero.com /http://tiendaronmontero.com/index.php</li>
<li>Contact telephone: (+34) 958 600 183</li>
<li><strong>Business Purpose:</strong> PRODUCTION, BOTTLING, AND COMMERCIALIZATION OF ALCOHOLIC BEVERAGES AND RELATED PRODUCTS; PARTICULARLY RUM.</li>
<li><strong>CNAE 2009: </strong>1101, Distillation, rectification, and mixture of alcoholic beverages.</li>
<li><strong>Registration data:</strong> <strong>Granada</strong>, Volume 239, Book 0, Page 42, Page GR-31257, Registration 1a</li>
<li>Record of Treatment Activities according to RGPD available upon request by the Control Authority.</li>
<li>Additional information about GRPD: <a href="http://www.agpd.es">agpd.es</a></li>
</ul>
<ol start="2">
<li>Intellectual Property</li>
</ol>
<p>The font code, graphic design, logos, images, photos, sounds, animations, software, texts as well as the information and contents collected in this Website are protected by the Spanish legislation on intellectual and industrial property rights conferred to <strong>RON MONTERO, </strong>thus it is not permitted to reproduce and/or publish, totally or partially, of the Website nor its computing adaptation, distribution, dissemination, modification, transformation or fragmentation. This also applies to all other rights legally belonging to its owner without prior written consent by <strong>RON MONTERO</strong>. The user may only to use the material in this Website for personal and private purpose; it is prohibited to use it for commercial purposes or illicit acts. All rights derived from the intellectual property are expressly reserved for <strong>RON MONTERO&reg;</strong>.</p>
<p><strong>RON MONTERO</strong> will ensure compliance with the conditions above and the appropriate use of the contents of its Web pages exercising all the pertinent civil and criminal actions in the event of a breach or non-compliance with these rights by the user.</p>
<ol start="3">
<li>Personal Data Protection</li>
</ol>
<p><strong>RON MONTERO</strong>, as the entity responsible for the User personal data, hereby informs that such information will be managed as per the provisions in the <strong>(EU) Regulation 2016/679 dated April 27, 2016 (GDPR) </strong>regarding the protection of individuals through the management of personal information and the current Organic Law 15/1999 dated December 13 (L.O.P.D.) regarding the protection of personal data before the future publication of the new LOPD currently under parliamentary processing.</p>
<p>RON MONTERO, based on articles 37 and others of the (EU) Regulation 2016/679 dated April 27, 2016 (GDPR), has a Delegate for Data Protection officially appointed before the Control Authority (agpd.es) whose contact information is the following:</p>
<ul>
<li><strong>Address:</strong> Camino de la Via, S/N, CP: 18613 &ndash; Motril (Granada) &ndash; Espa&ntilde;a.</li>
<li>Contact E-mail: <a href="mailto:info@ronmontero.com">info@ronmontero.com</a></li>
</ul>
<p>The fields in any of the Contact/Registration/purchase forms marked as (*)/required are strictly necessary in order for us to provide the selected product, process your purchase/order, or facilitate shipping; the remaining fields are optional. Not providing the information or giving partial personal information requested in the required fields may result in <strong>RON MONTERO</strong>&rsquo;s not being able to respond to your inquiry.</p>
<ol start="4">
<li>Miscellaneous</li>
</ol>
<p><strong>A.-RON MONTERO </strong>uses cookies to identify users (<em>Google Analytics</em>) that will be stored in our computer. Cookies are small files that our computer sends to yours; however, they do not give us your name or any other personal information about you. When a user surfs <strong>RON MONTERO</strong>&rsquo;s Web pages, the server automatically recognizes his computer IP address, the day and tine of the visit as well as the information about the different sections consulted. Notwithstanding the above, in the Privacy Policy <strong>RON MONTERO </strong>regulates the Use of Cookies whereby the Website owner agrees to inform the User in advance of the use of cookies for acceptance and also give the instructions to deactivate them.</p>
<p><strong>B.-RON MONTERO, </strong>without previous notice, may modify the information in its Website as well as its configuration and appearance.</p>
<p><strong>C.-RON MONTERO </strong>hereby agrees not to MAKE ANY MISLEADING PUBLICITY. Therefore, for this purpose, formal or numerical errors that may be found in the content of its different sections will not be deemed misleading publicity as long as they were made due to maintenance and/or incomplete update of the said contents. <strong>RON MONTERO </strong>makes all reasonable efforts in order for the information in its Webpage to be clear, comprehensible, and appropriate and to avoid errors as much as possible or correct, repair, or update them if they occur. However, <strong>RON MONTERO </strong>cannot guarantee the total absence of errors or the permanent update of the contents.</p>
<p><strong>D.-RON MONTERO </strong>agrees NOT TO ISSUE COMMERCIAL MESSAGES WITHOUT IDENTIFYING THEM AS SUCH pursuant to the provisions set out in Law 34/2002 for Services by the Society of Information and Electronic Trade. For this purpose, the following will not be deemed commercial messages: any information sent to CUSTOMERS of RON MONTERO as long as it is intended to keep the contractual relationship existing between the CUSTOMERS and <strong>RON MONTERO </strong>and if such data has informative purposes; SHIPMENT AND RETURN OF PRODUCTS, and other activities typical of the products acquired from <strong>RON MONTERO</strong> by the customer.</p>
<p><strong>E.-RON MONTERO </strong>does not take responsibility for non-compliance by the user of any applicable regulation when accessing this Website and/or using the information thereto.</p>
<p><strong>F.-RON MONTERO </strong>is not liable for any damages that occur or may occur whatsoever arising from the use of the information and contents of this Website and its programs. The Links and hypertext that this Website facilitates in for the users to access products offered by third parties do not belong to or are under the control of <strong>RON MONTERO</strong>; this entity does not take responsibility for the contents of such parties or for the consequences derived from the information.</p>
<p><strong>G.-RON MONTERO</strong> does not take responsibility for third parties&rsquo; illegal use of the brand names, product names, and trademarks that do not belong to the entity, but appear in this Website. Furthermore, the entity does not take responsibility for the integrity, accuracy, and legitimacy of the content in the links that you may access from this Website.</p>
<p><strong>RON MONTERO</strong> reserves the right to take the legal actions it deems convenient against the illegal use of the contents the Websites that may be accessed from this Website.</p>
<p><strong>H.-</strong>Ultimately, the User is the only person responsible for making appropriate use of the services, contents, links, and hypertext included in this Website.</p>
<p><strong>I.-TERM AND TERMINATION: </strong>The Website services and the products offered through: <a href="http://www.ronmontero.com">www.ronmontero.com</a> and <a href="http://tienda.ronmontero.com.index.php">http://tienda.ronmontero.com.index.php</a> has an initial definite term. However, RON MONTERO is authorize to terminate or suspend the services of the Internet Portal and/or any of the products/beverages offered at any time without prejudice to the provisions set out in the pertinent <u>General Purchase Conditions</u>. Whenever reasonably possible, <strong>RON MONTERO</strong> will advise in advance of the termination or suspension of the online offer of <em>its products and beverages produced by Ron Montero</em>.</p>
<p>K.-APPLICABLE LAW AND JURISDICTION: This Legal Notice, as well as the <u>General Purchase Conditions</u> of the Website applicable to the purchases, are governed by the Spanish law. The settlement of any dispute that may arise with respect to the validity, execution, compliance, or resolution (total or partial) of this instrument will be competence of the <strong>Courts of GRANADA. </strong>This This Contract is the entire agreement between <strong>RON MONTERO </strong>and the user. Using the Portal makes you a user and implies the full acceptance of each and every provision set out in this Legal Notice.</p>
<p><strong>Dispute Settlement online pursuant to Art. 14.1 of the (EU) Regulation 524/2013: </strong>The European Commission facilitates a dispute settlement platform online that is available at: <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a>.</p>
  <img src="/static/tee.png" style="width:200px"/>
</section>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
strong {
    font-weight: bold !important;
}
ul{
  list-style-type: circle !important;
  padding-left: 12px
}
ul li{
  list-style-type: circle !important;
  display: list-item;
}
</style>
