<template lang="html">
  <section class="container" style="padding-top:70px">
    	<p><strong><span style="text-decoration: underline;">USO DE COOKIES POR PARTE DE RON MONTERO</span></strong></p>
<p><strong><span style="text-decoration: underline;">1. Política de cookies</span></strong><span style="text-decoration: underline;">:</span></p>
<p>1.1.&nbsp;<strong>RON MONTERO</strong> le informa que este Sitio Web&nbsp;utiliza cookies que ayudan a optimizar su visita. Si continua navegando en este Sitio Web, consideramos que acepta su uso, tal y como se advierte en el aviso habilitado en la web.</p>
<p>1.2.&nbsp;Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a un Sitio Web, entre otras cosas, almacenar y recuperar información sobre los hábitos de&nbsp;navegación de un usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para&nbsp;reconocer al Usuario.</p>
<p>1.3. <strong>RON MONTERO</strong> tiene la obligación por el Real Decreto-ley 13/2012 que modifica la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico, de informar y obtener el consentimiento del Usuario acerca del uso de las cookies en este Sitio Web.</p>
<p><strong><span style="text-decoration: underline;">2. Tipos de cookies:</span></strong></p>
<p>2.1. Según quien sea la entidad que gestione el dominio desde donde se envían las cookies y trate los datos que se obtengan se pueden distinguir dos tipos: cookies propias y cookies de terceros.</p>
<p>2.2. Existe también una segunda clasificación según el plazo de tiempo que permanecen almacenadas en el navegador del cliente, pudiendo tratarse de cookies de sesión o cookies persistentes.</p>
<p>2.3. Por último, existe otra clasificación con cinco tipos de cookies según la finalidad para la que se traten los datos obtenidos: cookies técnicas, cookies de personalización, cookies de análisis, cookies publicitarias y cookies de publicidad comportamental.</p>
<p><strong><span style="text-decoration: underline;">3. Cookies utilizadas en este Sitio Web.</span></strong></p>
<p>3.1. A continuación se identifican las cookies que están siendo utilizadas en este Sitio Web así como su tipología y función.</p>
<p>3.2. <strong>RON MONTERO</strong> utiliza <strong><em><span style="text-decoration: underline;">Google Analytics</span></em></strong>, un servicio de analítica web desarrollada por Google, que permite la medición y análisis de la navegación en las páginas web. En su navegador podrá observar 4 cookies de este servicio (__utma,&nbsp;__utmb, __utmv, &nbsp;__utmc, y&nbsp;__utmz). Según la tipología anterior se trata de cookies propias, de sesión y de análisis. Puede encontrar más información al respecto e inhabilitar el uso de estas cookies pulsando&nbsp;<a href="http://www.google.es/intl/es/analytics/privacyoverview.html" target="_blank">aquí</a>, es un servicio prestado por Google, Inc., una compañía de Delaware cuya oficina principal está en 1600 Amphitheatre Parkway, Mountain View (California), CA 94043, Estados Unidos (“Google”). Google no asociará su dirección IP con ningún otro dato del que disponga Google. Usted puede rechazar el tratamiento de los datos o la información rechazando el uso de cookies mediante la selección de la configuración apropiada de su navegador, sin embargo, debe saber que si lo hace puede ser que no pueda usar la plena funcionabilidad de este website. Al utilizar este website Ud. consiente el tratamiento de información acerca de Ud. por Google en la forma y para los fines arriba indicados.</p>
<p>3.3. A través de la analítica web no se obtiene información sobre los datos personales de los Usuarios, garantizando la tutela de su privacidad. La información que se obtiene es la relativa al número de usuarios que acceden a la web, el número de páginas vistas, la frecuencia y repetición de las visitas, su duración, el navegador utilizado, el operador que presta el servicio, el idioma, el terminal que utiliza, o la ciudad a la que está asignada su dirección IP. Información que posibilita un mejor y más apropiado servicio por parte de este Sitio Web.</p>
<p>3.4. Otras cookies utilizadas por este Sitio Web son las siguientes:</p>
<p>&nbsp;</p>
<table border="1" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="150">
<p><strong>&nbsp;Nombre</strong></p>
</td>
<td valign="top" width="68">
<p><strong>&nbsp;Servicio</strong></p>
</td>
<td valign="top" width="99">
<p><strong>&nbsp;Finalidad</strong></p>
</td>
<td valign="top" width="80">
<p><strong>&nbsp;Tipo</strong></p>
</td>
<td valign="top" width="83">
<p><strong>&nbsp;Dominio</strong></p>
</td>
<td valign="top" width="89">
<p><strong>&nbsp;Más información</strong></p>
</td>
</tr>
<tr>
<td valign="top" width="150">
<p>&nbsp;</p>
</td>
<td valign="top" width="68">&nbsp;</td>
<td valign="top" width="99">
<p>&nbsp;</p>
</td>
<td valign="top" width="80">&nbsp;</td>
<td valign="top" width="83">&nbsp;</td>
<td valign="top" width="89">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>3.5.&nbsp;Al acceder el Usuario a los perfiles de <strong>RON MONTERO</strong> en las distintas redes sociales acepta el uso de cookies por parte de las mismas.</p>
<ul>
<li>Para más información sobre Facebook pulse&nbsp;<a href="http://es-es.facebook.com/help/cookies" target="_blank"><strong>aquí</strong></a><strong><span style="text-decoration: underline;">.</span></strong></li>
<li>Para más información sobre Twitter pulse&nbsp;<a href="https://twitter.com/privacy" target="_blank"><strong>aquí</strong></a><strong>.</strong></li>
</ul>
<p>3.6. Dadas las características de Internet, no siempre contamos con información de las cookies que colocan terceras partes a través de este Sitio Web.&nbsp;Por consiguiente, en caso de que se encuentre con este tipo de cookies en este Sitio Web y no estén aquí descritas, le rogamos que nos lo comunique. También puede ponerse en contacto directamente con el tercero para pedirle información sobre las cookies que coloca, la finalidad y la duración de la cookie, y cómo garantiza la privacidad del Usuario.</p>
<p><strong><span style="text-decoration: underline;">4. Modificar la configuración de las cookies.</span></strong></p>
<p>En todo caso el usuario puede configurar su navegador para aceptar, o no, las cookies que recibe o para que el navegador le avise cuando el servidor web quiera almacenarle alguna.</p>
<ul>
<li>Si utiliza Microsoft Internet Explorer, menú Herramientas -&gt; Opciones de Internet -&gt;Privacidad.</li>
<li>Si utiliza Netscape/Mozilla, menú Herramientas -&gt; Gestor de Cookies.</li>
<li>Si utiliza Opera, Preferencias -&gt; Privacidad -&gt; Filtro de cookies.</li>
</ul>
<p>Actualmente, la mayoría de los navegadores vienen configurados por defecto para bloquear la instalación de cookies de publicidad o de terceros en su equipo. El usuario puede ampliar las restricciones de origen, impidiendo la entrada de cualquier tipo de cookie, o, por el contrario eliminar dichas restricciones, aceptando la entrada de cualquier tipo de cookies.<br> Si el usuario ha modificado voluntariamente la configuración del navegador para admitir cookies de publicidad o de terceros, dicha acción significará que da su consentimiento para el tratamiento de sus datos a los efectos de publicidad.</p>
<p><strong><span style="text-decoration: underline;">5. USO DE PUBLICIDAD EN INTERNET (Cookies DoubleClick)</span></strong></p>
<p><strong>RON MONTERO</strong> informa a todos los Usuarios del Portal que tanto en el presente sitio web como aquellos otros vinculados no afiliados, <strong>RON MONTERO</strong> puede mostrar publicidad basada en los intereses del Usuario generada a partir de la información que, mediante su navegación, usted pone a nuestra disposición cuando interactúa con nuestros sitios web, contenidos o servicios. La referida publicidad, basada en los intereses del usuario, en ocasiones denominados también anuncios personalizados o dirigidos, se generan y se le muestran a partir de la información recogida de actividades y navegaciones que Usted realiza en otros sitios web, uso de dispositivos, apps o software relacionado, la interacción con otras herramientas de Google (<strong>Cookies DoubleClick</strong>).</p>
<p>DoubleClick usa las cookies para mejorar la publicidad. Las cookies suelen usarse comúnmente para orientar anuncios basados en contenido relevante para un usuario, mejorar los informes de rendimiento de la campaña y evitar mostrar anuncios que el usuario ya haya visto.</p>
<p>El ID de cookie de cada cookie de DoubleClick es esencial para estas aplicaciones. Por ejemplo, DoubleClick usa ID de cookies para tener un registro de qué anuncios se han mostrado en determinados navegadores. En el momento de publicar un anuncio en un navegador, DoubleClick puede usar el ID de cookie de dicho navegador para comprobar qué anuncios de DoubleClick ya se han mostrado en ese navegador en concreto. Así es como DoubleClick evita mostrar anuncios que el usuario ya ha visto. Del mismo modo, los ID de cookies permiten a DoubleClick registrar las conversiones relativas a las solicitudes de anuncios, como cuando un usuario ve un anuncio de DoubleClick y, más adelante, usa el mismo navegador para visitar el sitio web del anunciante y realizar una compra.</p>
<p>Las cookies de DoubleClick no contienen información personal identificativa. En ocasiones, la cookie contiene un identificador adicional similar en apariencia al ID de cookie. Este identificador se usa para identificar una campaña publicitaria a la que se previamente ya se había expuesto un usuario; no obstante, DoubleClick no almacena ningún otro tipo de datos en la cookie y, además, la información no es personal identificativa.</p>
<p>DoubleClick envía una cookie al navegador tras cualquier impresión, clic u otra actividad que de lugar a una llamada del servidor de DoubleClick. Si el navegador acepta la cookie, esta se almacena en el navegador.</p>
<p>Lo más habitual es que DoubleClick envíe una cookie al navegador cuando un usuario visita una página que muestra anuncios de DoubleClick. Las páginas con anuncios de DoubleClick incluyen etiquetas de anuncio que indican a los navegadores que deben solicitar contenido publicitario del servidor de anuncios de DoubleClick. Cuando el servidor publica el contenido publicitario, también envía una cookie. No obstante una página no tiene que mostrar anuncios de DoubleClick para que esto ocurra, tan solo necesita incluir etiquetas de anuncio de DoubleClick, lo que podría cargar un sistema de registrador de clics o un píxel de impresión en su lugar.</p>
<p>El Uso de estas cookies nos permite saber qué anuncios ve usted y en cuáles hace clic, así como conocer otras acciones que usted realiza tanto en nuestros sitios web como en otros. Ello nos permite ofrecerle anuncios más útiles y adecuados. Estas cookies almacenan información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite desarrollar un perfil específico para mostrar publicidad en función del mismo.</p>
<p><strong><span style="text-decoration: underline;">Cómo inhabilitar este proceso</span>: </strong>No obstante lo anterior, Usted como Usuario de Internet, en cualquier momento podrá proceder al borrado de la información referente a sus hábitos de navegación, y el perfil relacionado que ha generado los referidos hábitos, accediendo de forma directa y gratuita a: <a href="https://www.google.com/settings/ads/preferences?hl=es" target="_blank">https://www.google.com/settings/ads/preferences?hl=es</a> Si un usuario inhabilita esta función, el ID de cookie único de DoubleClick en el navegador del usuario se sobrescribe con la fase “OPT_OUT”. Debido a que ya no existe un ID de cookie único, la cookie inhabilitada no se puede asociar con un determinado navegador.</p>
<p>Esta información es proporcionada por Google y está a disposición de los PSSi como herramientas de comunicación y remarketing. <strong>RON MONTERO</strong> cumple con el deber de información a los Usuarios de la web y proporciona los medios para bloquear el uso y activación de cualquier Cookie, así como la información para proceder al borrado de cualquier información/perfil de navegación generada por herramientas que Google pone al servicio de los PSSi.</p>
<p><strong><span style="text-decoration: underline;">6. Guía sobre el uso de las cookies.</span></strong></p>
<p>Puede obtener más información sobre el uso de las cookies en la guía elaborada por la Agencia Española de Protección de Datos pulsando sobre el siguiente link:</p>
<p><a href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf">http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf</a></p>

    </section>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
