<template lang="pug">
footer.fullPage.relative#Footer.shareFont(:class="{mobile}")
  div.gridStart( onclick="gotoTag('RonMonteroWeb')")
    logo(style="height: 35px")
  div.gridStart(style="padding-bottom: 5px")
    span Drink with moderation, it will last longer. 40° alc./vol.
    br
    span (C) Ron Montero, S.L. | Camino de la Vía s/n 18600 Motril (Granada) Spain.
  div.legalThings(style="font-size:65%; padding-bottom: 5px")
    span
      a(href="/#/avisolegalEn" target="_blank") Legal Notice
    br(v-if="!mobile")
    span
      a(href="/#/privacidadEn" target="_blank") Privacy Policy
    br(v-if="!mobile")
    span
      a(href="/#/privacidadEn" target="_blank") Cookies
  social(style="height: 30px")
</template>

<script>
import logo from '@/../static/logo.svg';
import social from '@/../static/Social.svg';

export default {
  components:{
    social,
    logo
  },
  props:["mobile"]
}
</script>

<style lang="sass" scoped>
  #Footer
    color: #828282
    background-color: #EDEDED
    min-height: 80px
    padding-right: 20px
    padding-left: 20px
    padding-top: 22.5px
    padding-bottom: 22.5px
    display: grid
    grid-template-columns: auto auto auto auto
    grid-gap: 10px
    align-items: center
    justify-items: center
    .gridStart
      justify-self: start
    &.mobile
      grid-template-columns: auto
      grid-gap: 20px
      padding-top: 30px
      padding-bottom: 30px
      .gridStart
        justify-self: center
        text-align: center
      .legalThings
        span
          margin-left: 10px
          margin-right: 10px
</style>
