<template lang="pug">
.randomDiv#HistoriaDiv(:class="{vertical}")
  #backBlack(@click.self="deactive($event)")
    .leftArrow(@click="prev()" v-show="'01'!=selected")
      i.material-icons chevron_left
    .rightArrow(@click="next()" v-show="'XXI'!=selected")
      i.material-icons chevron_right
    .bigBall(@click="deactive($event)")
      RondeMotril(:class="{selected: 'XV'==selected}")
      MateriaPrima(:class="{selected: '01'==selected}")
      Fermentacion(:class="{selected: '02'==selected}")
      Destilacion(:class="{selected: '03'==selected}")
      Anejamiento(:class="{selected: '04'==selected}")
      SolerasyCriaderas(:class="{selected: '05'==selected}")
      Blending(:class="{selected: '06'==selected}")
      Actualidad(:class="{selected: 'XXI'==selected}")
  hScroll.fullPage(idd="NuestraHistoriaScroll" @click="deactive($event)" :vertical="vertical")
    timeLine#time-line(:vertical="vertical")
</template>

<script>
import hScroll from '@/components/hScroll';
import timeLine from '@/components/en/timeline';
import RondeMotril from '@/../static/timeline/RonDeMotrilEn.svg';
import MateriaPrima from '@/../static/timeline/MateriaPrimaEn.svg';
import Fermentacion from '@/../static/timeline/FermentacionEn.svg';
import Destilacion from '@/../static/timeline/DestilacionEn.svg';
import Anejamiento from '@/../static/timeline/AnejamientoEn.svg';
import SolerasyCriaderas from '@/../static/timeline/SolerasEn.svg';
import Blending from '@/../static/timeline/BlendingEn.svg';
//import ElPadreDelRon from '@/../static/timeline/ElPadreDelRon.svg';
//import LaBodega from '@/../static/SVG/LaBodega1.svg';
import Actualidad from '@/../static/timeline/ActualidadEn.svg';


export default {
  components:{
    hScroll,
    timeLine,
    RondeMotril,
    MateriaPrima,
    Fermentacion,
    Destilacion,
    Anejamiento,
    SolerasyCriaderas,
    Blending,
    //ElPadreDelRon,
    //LaBodega,
    Actualidad
  },
  data(){
    return {
      bigBallActive: false,
      selected: 'XV',
      order: ["01", "02", "03", "04", "05", "06", "XV", "XXI"],
      stages: {
        "XV":{ color: "#dd4c23", image: "/static/SVG/RondeMotril.svg"},
        "01":{ color: "#e5c86a", image: "/static/SVG/MateriaPrima.svg"},
        "02":{ color: "#e5c86a", image: "/static/SVG/Fermentacion.svg"},
        "03":{ color: "#e5c86a", image: "/static/SVG/Destilacion.svg"},
        "04":{ color: "#e5c86a", image: "/static/SVG/Anejamiento.svg"},
        "05":{ color: "#e5c86a", image: "/static/SVG/SolerasyCriaderas.svg"},
        "06":{ color: "#e5c86a", image: "/static/SVG/Blending.svg"},
        "1929":{ color: "#631e13", image: "/static/SVG/ElPadreDelRon.svg"},
        "1963":{ color: "#9ac0d1", image: "/static/SVG/LaBodega.svg"},
        "2007":{ color: "#f9ae37", image: "/static/SVG/Actualidad.svg"},
        "2018":{ color: "#f9ae37", image: "/static/SVG/Actualidad.svg"},
      },
      balls: [],
    }
  },
  props:[
    "vertical"
  ],
  methods:{
    deactive: (eventObj)=>{
      //if(eventObj.target.id === "backBlack"){
        var bigBall = document.getElementById('backBlack');
        bigBall.classList.remove('active');
        this.bigBallActive = false;
      //}
    },
    activateHist(ballName){
      console.log("activeateHist", ballName);
      this.selected = ballName;
      var bigBall = document.getElementById('backBlack');
      bigBall.classList.add('active');
      this.bigBallActive = true;
    },
    getIndex(ballName){
      return this.order.indexOf(ballName);
    },
    next(){
      let i = this.getIndex(this.selected);
      if(i < 7) this.selected = this.order[i+1]
    },
    prev(){
      let i = this.getIndex(this.selected);
      if(i > 0) this.selected = this.order[i-1]
    }
  },
  mounted(){
    var scrollDiv = document.getElementById('NuestraHistoriaScrollscroll');
    /*var delta = document.getElementsByClassName("histClick");
    var this2 = this;
    this.balls = delta;
    for(let o of delta){
      this2.stages[o.textContent].element = o;
      o.addEventListener("click",function(){
        //console.log(o.textContent)
        var bigBall = document.getElementById('backBlack');
        this2.selected = o.textContent;
        bigBall.classList.add('active');
        this2.bigBallActive = true;
      }, false);
    }*/
    window.activateHist = this.activateHist;

    scrollDiv.onscroll = (e)=> {
      if(this.bigBallActive){
        var bigBall = document.getElementById('backBlack');
        bigBall.classList.remove('active');
        this.bigBallActive = false;
      }
    }
  }
}
</script>

<style lang="sass" scoped>
#HistoriaDiv
  //margin-bottom: 200px
#NuestraHistoriaScroll
  min-height: 100vh
  &:before
    content: ""
    display: block
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    z-index: -10
    background: url("/static/bg.jpg") no-repeat center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    opacity: 1
#time-line
  margin-top: calc(50vh - 20vh + 33px)
  min-height: 25vw
  height: 40vh
  padding-left: 18vw
  padding-right: 10vw
#backBlack
  position: fixed
  width: 100vw
  height: 100vh
  background-color: rgba(0,0,0,0.5)
  top: 0
  left: 0
  z-index: 130
  //Transition
  transform: scale(0)
  opacity: 0
  will-change: opacity
  transition: opacity 0.3s cubic-bezier(0,0,0.3,1), transform 0s linear 0.7s
  cursor: pointer
  .leftArrow
    position: fixed
    left: calc(100vw / 2 - 55vh)
    top: 50%
    color: white
    transform: scale(4)
    z-index: 400
  .rightArrow
    position: fixed
    right: calc(100vw / 2 - 55vh)
    top: 50%
    color: white
    transform: scale(4)
    z-index: 400
  .bigBall
    position: absolute
    width: 120vmin
    height: 120vmin
    top: 50%
    left: 50%
    transform: translate(-50%, -45%) scale(0.8)
    will-change: transform
    transition: transform 0.7s
    svg
      position: absolute
      top: 0
      left: 0
      opacity: 0
      width: 100%
      transform: scale(0)
      &.selected
        opacity: 1
        transform: scale(1)
  &.active
    transform: scale(1)
    opacity: 1
    transition: opacity 0.3s cubic-bezier(0,0,0.3,1)
    .bigBall
      transform: translate(-50%, -45%) scale(1)
.vertical
  #time-line
    height: 65vh
    margin-top: calc(17.5vh + 27.5px)
    margin-left: -135vh
    //margin-right: -1000px
  //.vue-h-scroll
    margin-bottom: -100vh
  svg.selected
    transform: scale(1.4) !important
</style>
