<template lang="pug">
  .fullPage.relative(style="background-color: #E5C86A;" :class="{vertical}")
    svg#home4.absCenter(v-if="!vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1920 1080')
      title Home4
      path(d='M1376.6,532.1h53.6v17.3h-31.6v43.2h24.5v17.3h-24.5v49.5h32.5v17.3h-54.4V532.1Z' style='fill: #282828')
      g#FranciscoEnTransparente
        g#Raro_ShadesOfFrancisco
          g#Raro_ShadesOfFrancisco-2(data-name='Raro_ShadesOfFrancisco')
            g#Raro_ShadesOfFrancisco-3(data-name='Raro_ShadesOfFrancisco')
              g#Raro_ShadesOfFrancisco-4(data-name='Raro_ShadesOfFrancisco')
                image#Raro_ShadesOfFrancisco-5(data-name='Raro_ShadesOfFrancisco' width='1364' height='1428' transform='translate(731.56299 159.85181) scale(0.5683)' xlink:href='static/francisco.png' style='isolation: isolate')
      text(transform='translate(207.10789 493.58789)' style='isolation: isolate;font-size: 47.05569839477539px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.02100237131130816em') FRANCISCO MONTERO NEVER WANTED TO BE
      text(transform='translate(209.10789 749.49707)' style='isolation: isolate;font-size: 47.05569839477539px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.02100237131130816em') THAT&apos;S WHY RON MONTERO ISN&apos;T EITHER.
      path(d='M210.1,532.1H232V659.4h29.9v17.3H210.1V532.1Z' style='fill: #282828')
      path(d='M281.5,532.1h21.9V676.6H281.5Z' style='fill: #282828')
      path(d='M333.9,532.1h21.9v63.1h.7l25-63.1h21.8l-27.9,67.8,31.1,76.8H383l-26.6-68.8h-.7v68.8H333.8V532.1Z' style='fill: #282828')
      path(d='M424.6,532.1h53.6v17.3H446.6v43.2H471v17.3H446.5v49.5H479v17.3H424.6Z' style='fill: #282828')
      path(d='M543.4,532.1H597v17.3H565.4v43.2h24.5v17.3H565.4v49.5h32.5v17.3H543.5V532.1Z' style='fill: #282828')
      path(d='M608.6,532.1H631l15.9,114.5h.9l16-114.5h22.3l-26.3,144.5h-25Z' style='fill: #282828')
      path(d='M705.9,532.1h53.6v17.3H727.9v43.2h24.5v17.3H727.9v49.5h32.5v17.3H706V532.1Z' style='fill: #282828')
      path(d='M781.8,532.1h23.8c2.7,0,5.7.1,8.9.3a47.00962,47.00962,0,0,1,9.7,1.7,42.48044,42.48044,0,0,1,9.4,3.9,25.85214,25.85214,0,0,1,8,7.2,36.27483,36.27483,0,0,1,5.6,11.5,58.043,58.043,0,0,1,2.1,16.7V577c0,11-1.6,20-4.7,26.9-3.2,6.9-7.8,11.9-14,14.9l23.2,57.8H830.6l-19.2-54.1h-8.2v54.1h-21.5V532.1Zm24.8,74.6a30.362,30.362,0,0,0,9.7-1.3,12.60735,12.60735,0,0,0,6.4-4.3,20.44177,20.44177,0,0,0,3.6-8,59.822,59.822,0,0,0,1.1-12.2V569.5a38.77528,38.77528,0,0,0-1-9.6,15.75582,15.75582,0,0,0-3.4-6.7,15.10817,15.10817,0,0,0-6.4-3.9,35.18438,35.18438,0,0,0-10-1.3h-3.3v58.6h3.3Z' style='fill: #282828')
      path(d='M893.4,628.4l-29.1-96.4h22.1l17.7,69.1h1L922.6,532h22l-29.3,96.4v48.1H893.4Z' style='fill: #282828')
      path(d='M963.1,532.1h22.2q4.95,0,10.2.3a67.71006,67.71006,0,0,1,10.2,1.4,39.63088,39.63088,0,0,1,9.5,3.3,24.84814,24.84814,0,0,1,7.8,5.8,26.48323,26.48323,0,0,1,5.30005,9,37.99765,37.99765,0,0,1,2,12.9v7a32.73164,32.73164,0,0,1-1.6,10.6,31.01843,31.01843,0,0,1-4.4,8.5,25.58622,25.58622,0,0,1-6.2,6.1,21.68884,21.68884,0,0,1-7.1,3.3v.7q10.8,1.95,16.2,10.2c3.6,5.5,5.5,12.5,5.5,21.1v7.4a50.78963,50.78963,0,0,1-1.7,13.7,28.68844,28.68844,0,0,1-4.9,9.9,27.649,27.649,0,0,1-7.4,6.7,40.68149,40.68149,0,0,1-9.5,4.1,53.65857,53.65857,0,0,1-11,2,117.91309,117.91309,0,0,1-12,.5h-23V532.1Zm25.7,61.8a28.6471,28.6471,0,0,0,8-1.1,16.06968,16.06968,0,0,0,6.2-3.3,15.40353,15.40353,0,0,0,4-5.8,24.78128,24.78128,0,0,0,1.4-8.7v-5.9a34.88475,34.88475,0,0,0-1-9,17.08977,17.08977,0,0,0-3.3-6.6,14.64171,14.64171,0,0,0-6.1-4.1,27.39367,27.39367,0,0,0-9.2-1.4h-4.2v45.9H988.8Zm2,67.5a28.6471,28.6471,0,0,0,8-1.1,15.37329,15.37329,0,0,0,6.2-3.6,17.49728,17.49728,0,0,0,4-6.1,25.78278,25.78278,0,0,0,1.4-8.8v-11.3a34.88486,34.88486,0,0,0-1-9,17.08972,17.08972,0,0,0-3.3-6.6,15.64728,15.64728,0,0,0-6.1-4.1,26.77771,26.77771,0,0,0-9.1-1.4h-6.3v52H990.8Z' style='fill: #282828')
      path(d='M1089.4,677.9a68.98719,68.98719,0,0,1-7.5-.5,29.1445,29.1445,0,0,1-8-2.3,32.67086,32.67086,0,0,1-7.69995-5,29.45312,29.45312,0,0,1-6.5-8.6,49.63324,49.63324,0,0,1-4.5-13.2,91.08547,91.08547,0,0,1-1.7-18.7V578.4a91.08547,91.08547,0,0,1,1.7-18.7,51.60324,51.60324,0,0,1,4.6-13A28.581,28.581,0,0,1,1074.1,533.5a34.11678,34.11678,0,0,1,8-2.2,53.52987,53.52987,0,0,1,14.6,0,33.94862,33.94862,0,0,1,7.9,2,27.51343,27.51343,0,0,1,7.69995,4.7,28.63454,28.63454,0,0,1,6.6,8.4,48.74483,48.74483,0,0,1,4.6,13.1,85.89794,85.89794,0,0,1,1.69995,18.9v51.2a82.75265,82.75265,0,0,1-1.80005,18.5,49.948,49.948,0,0,1-4.69995,13.1,28.36891,28.36891,0,0,1-6.6,8.6,32.10493,32.10493,0,0,1-7.7,5.1,29.16318,29.16318,0,0,1-7.8,2.4A50.86707,50.86707,0,0,1,1089.4,677.9Zm0-16.5a13.97907,13.97907,0,0,0,5.6-1.1,9.07574,9.07574,0,0,0,4-3.8,25.1894,25.1894,0,0,0,2.4-7.2,59.15755,59.15755,0,0,0,.80005-11.2v-65.8a74.30744,74.30744,0,0,0-.80005-11.6,22.05053,22.05053,0,0,0-2.4-7.5,9.0803,9.0803,0,0,0-4-4,12.47136,12.47136,0,0,0-5.6-1.2,13.36167,13.36167,0,0,0-5.8,1.2,9.80924,9.80924,0,0,0-4.1,4,22.05053,22.05053,0,0,0-2.4,7.5,74.30744,74.30744,0,0,0-.80005,11.6v65.8a68.85145,68.85145,0,0,0,.80005,11.2,20.96242,20.96242,0,0,0,2.4,7.2,8.79,8.79,0,0,0,4.1,3.8A14.99276,14.99276,0,0,0,1089.4,661.4Z' style='fill: #282828')
      path(d='M1151.5,532.1h22.80005c3.4,0,7,.1,10.69995.3a48.76866,48.76866,0,0,1,10.80005,1.8,35.12842,35.12842,0,0,1,10,4.7A28.32368,28.32368,0,0,1,1214,547.8a48.08409,48.08409,0,0,1,5.6,14.4,91.347,91.347,0,0,1,2.1,21.2v42a91.94693,91.94693,0,0,1-2.1,21.2,50.90484,50.90484,0,0,1-5.6,14.4,29.10909,29.10909,0,0,1-8.19995,8.8,35.13,35.13,0,0,1-10,4.7,48.76691,48.76691,0,0,1-10.80005,1.8c-3.69995.2-7.30005.3-10.69995.3H1151.5ZM1179,661.3a27.667,27.667,0,0,0,9.80005-1.5,11.836,11.836,0,0,0,6.1-5.4,29.06872,29.06872,0,0,0,3.1-10.5,130.825,130.825,0,0,0,.80005-16.8V582.3A152.0686,152.0686,0,0,0,1198,565.5a29.06885,29.06885,0,0,0-3.1-10.5,11.83626,11.83626,0,0,0-6.1-5.4A27.28766,27.28766,0,0,0,1179,548.1h-5.6V661.3Z' style='fill: #282828')
      path(d='M1264.1,628.4,1235,532h22.1l17.69995,69.1h1l17.5-69.1h22l-29.3,96.4v48.1h-21.9V628.4Z' style='fill: #282828')
      path(d='M1452.6,532.1h21.9V659.4h29.9v17.3h-51.8Z' style='fill: #282828')
      path(d='M1518.4,647.3a75.2183,75.2183,0,0,1,.5-8.6,79.77325,79.77325,0,0,1,1.7-8.5h17v7a63.31064,63.31064,0,0,0,.69995,10.3,25.16945,25.16945,0,0,0,2.4,7.6,11.782,11.782,0,0,0,4.4,4.7,13.82354,13.82354,0,0,0,6.69995,1.6c4.2,0,7.4-1.1,9.6-3.4s3.30005-5.6,3.30005-10a38.91872,38.91872,0,0,0-.5-6.2,22.34639,22.34639,0,0,0-1.6-5.6,42.34279,42.34279,0,0,0-3.1-5.9,72.646,72.646,0,0,0-5-6.9l-22.80005-27.2a66.61008,66.61008,0,0,1-9.4-15.7,43.5206,43.5206,0,0,1-3.3-16.9,37.31958,37.31958,0,0,1,2.19995-13.2,30.05677,30.05677,0,0,1,6.5-10.4,28.4889,28.4889,0,0,1,10.5-6.8,38.58486,38.58486,0,0,1,14.1-2.4c6.4,0,11.7.9,16,2.7a26.953,26.953,0,0,1,10.2,7.1,26.59644,26.59644,0,0,1,5.4,9.9,38.03687,38.03687,0,0,1,1.6,11,46.07755,46.07755,0,0,1-.7,8.6c-.5,2.6-1,5.5-1.69995,8.7H1566v-6.9c0-7.7-1.1-13.6-3.30005-17.6-2.19995-4.1-5.80005-6.1-10.69995-6.1-4.1,0-7.19995,1.1-9.19995,3.4s-3,5.3-3,9.2a30.33121,30.33121,0,0,0,.5,5.5,21.47,21.47,0,0,0,1.4,4.5,22.39257,22.39257,0,0,0,2.19995,4,44.89408,44.89408,0,0,0,2.9,4.1l25.5,30.8a88.11773,88.11773,0,0,1,10.69995,17.4,42.43412,42.43412,0,0,1,3.69995,17.6,38.243,38.243,0,0,1-2.4,13.9,29.10741,29.10741,0,0,1-6.9,10.5,29.667,29.667,0,0,1-10.8,6.6,40.11519,40.11519,0,0,1-14.30005,2.3,44.89175,44.89175,0,0,1-16.3-2.6,27.02824,27.02824,0,0,1-10.3-6.9,23.6833,23.6833,0,0,1-5.4-9.8A32.127,32.127,0,0,1,1518.4,647.3Z' style='fill: #282828')
      path(d='M1610.6,532.1h53.6v17.3h-31.6v43.2h24.5v17.3h-24.5v49.5h32.5v17.3h-54.4V532.1Z' style='fill: #282828')
      path(d='M1681.9,661.4q0-9,3.6-12.9a12.43662,12.43662,0,0,1,9.6-3.9c4.19995,0,7.5,1.4,9.8,4.1,2.30005,2.8,3.5,7,3.5,12.6,0,5.2-1.19995,9.2-3.5,12.1-2.3,2.8-5.6,4.3-9.9,4.3a12.2484,12.2484,0,0,1-9.6-4.1C1683,670.9,1681.9,666.8,1681.9,661.4Z' style='fill: #282828')

    svg#home4.absCenter(v-if="vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 908.70001 605')
      title Home4M
      path(d='M806.7,279.5h40.2v13H823.1V325h18.4v13H823.1v37h24.4v13h-40.8V279.5Z' style='fill: #282828')
      path(d='M860.2,376.6c0-4.5.9-7.7,2.7-9.7a9.4864,9.4864,0,0,1,7.2-2.9,9.10842,9.10842,0,0,1,7.4,3.1c1.7,2.1,2.6,5.2,2.6,9.5,0,3.9-.9,6.9-2.6,9.1a9.17714,9.17714,0,0,1-7.4,3.2,8.96825,8.96825,0,0,1-7.2-3.1C861.1,383.7,860.2,380.6,860.2,376.6Z' style='fill: #282828')
      g#FranciscoEnTransparente
        g#Raro_ShadesOfFrancisco
          g#Raro_ShadesOfFrancisco-2(data-name='Raro_ShadesOfFrancisco')
            g#Raro_ShadesOfFrancisco-3(data-name='Raro_ShadesOfFrancisco')
              g#Raro_ShadesOfFrancisco-4(data-name='Raro_ShadesOfFrancisco')
                image#Raro_ShadesOfFrancisco-5(data-name='Raro_ShadesOfFrancisco' width='1364' height='1428' transform='translate(315.72 -2.1338) scale(0.4318)' xlink:href='static/francisco.png' style='isolation: isolate')
      text(transform='translate(2.8159 198.40625)' style='isolation: isolate;font-size: 40.792598724365234px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.023999547390081952em') FRANCISCO MONTERO
      text(transform='translate(2.8159 247.35754)' style='isolation: isolate;font-size: 40.792598724365234px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.023999547390081952em') NEVER WANTED TO BE LIKE
      path(d='M631,279.5h40.2v13H647.4V325h18.4v13H647.4v37h24.4v13H631Z' style='fill: #282828')
      path(d='M5.5,279.5H45.7v13H21.9V325H40.3v13H21.9v37H46.3v13H5.5Z' style='fill: #282828')
      path(d='M54.4,279.5H71.2l11.9,86h.7l12-86h16.8L92.9,388H74.1Z' style='fill: #282828')
      path(d='M127.5,279.5h40.2v13H143.9V325h18.4v13H143.9v37h24.4v13H127.5V279.5Z' style='fill: #282828')
      path(d='M184.5,279.5h17.9c2,0,4.3.1,6.7.3a46.29286,46.29286,0,0,1,7.3,1.2,29.08413,29.08413,0,0,1,7.1,3,19.1816,19.1816,0,0,1,6,5.4,25.57421,25.57421,0,0,1,4.2,8.6,41.73032,41.73032,0,0,1,1.6,12.5v2.7c0,8.3-1.2,15-3.6,20.2a22.54816,22.54816,0,0,1-10.5,11.2L238.6,388H221.2l-14.4-40.6h-6.2V388H184.5Zm18.6,56a22.19508,22.19508,0,0,0,7.3-1,9.52126,9.52126,0,0,0,4.8-3.2,15.16489,15.16489,0,0,0,2.7-6,46.91593,46.91593,0,0,0,.8-9.2v-8.6a29.82427,29.82427,0,0,0-.8-7.2,11.37436,11.37436,0,0,0-2.6-5,10.52194,10.52194,0,0,0-4.8-2.9,26.177,26.177,0,0,0-7.5-1h-2.5v44h2.6Z' style='fill: #282828')
      path(d='M268.3,351.8l-21.9-72.4H263l13.3,51.9h.8l13.2-51.9h16.5l-22,72.4V388H268.3Z' style='fill: #282828')
      path(d='M320.6,279.5h16.6c2.5,0,5,.1,7.6.3a49.24976,49.24976,0,0,1,7.7,1.1,39.49807,39.49807,0,0,1,7.1,2.4,19.37969,19.37969,0,0,1,5.9,4.4,19.74626,19.74626,0,0,1,4,6.8,27.8486,27.8486,0,0,1,1.5,9.7v5.3a24.708,24.708,0,0,1-1.2,7.9,22.80481,22.80481,0,0,1-3.3,6.4,22.2725,22.2725,0,0,1-4.6,4.6,14.784,14.784,0,0,1-5.3,2.4v.5c5.4,1,9.4,3.5,12.2,7.7s4.1,9.4,4.1,15.9v5.5a35.337,35.337,0,0,1-1.3,10.3,22.33179,22.33179,0,0,1-3.7,7.4,20.92387,20.92387,0,0,1-5.6,5.1,32.46753,32.46753,0,0,1-7.1,3.1,42.18189,42.18189,0,0,1-8.3,1.5,87.70858,87.70858,0,0,1-9,.4h-17.3V279.5Zm19.3,46.4a22.33329,22.33329,0,0,0,6-.8,12.49373,12.49373,0,0,0,4.7-2.5,10.77648,10.77648,0,0,0,3-4.4,18.12946,18.12946,0,0,0,1-6.5v-4.4a26.75018,26.75018,0,0,0-.8-6.7,12.4144,12.4144,0,0,0-2.5-5,10.73127,10.73127,0,0,0-4.6-3.1,20.10775,20.10775,0,0,0-6.9-1h-3.2v34.4Zm1.5,50.6a18.89445,18.89445,0,0,0,6-.9,12.448,12.448,0,0,0,4.6-2.7,11.51281,11.51281,0,0,0,3-4.6,19.08455,19.08455,0,0,0,1-6.6v-8.4a28.196,28.196,0,0,0-.8-6.8,11.80354,11.80354,0,0,0-2.5-5,10.82225,10.82225,0,0,0-4.5-3,20.10775,20.10775,0,0,0-6.9-1h-4.7v39Z' style='fill: #282828')
      path(d='M415.4,388.9a40.05172,40.05172,0,0,1-5.7-.4,27.02868,27.02868,0,0,1-6-1.7A20.27189,20.27189,0,0,1,398,383a23.51269,23.51269,0,0,1-4.9-6.4,38.16265,38.16265,0,0,1-3.4-9.9,70.232,70.232,0,0,1-1.3-14V314.3a62.90406,62.90406,0,0,1,1.3-14,37.28107,37.28107,0,0,1,3.5-9.8,21.53825,21.53825,0,0,1,4.9-6.3,19.91518,19.91518,0,0,1,5.8-3.6,22.27263,22.27263,0,0,1,6-1.6,36.519,36.519,0,0,1,5.5-.4q2.4,0,5.4.3a21.34727,21.34727,0,0,1,5.9,1.5,19.09726,19.09726,0,0,1,5.7,3.5,20.472,20.472,0,0,1,5,6.3,39.69106,39.69106,0,0,1,3.5,9.8,64.82427,64.82427,0,0,1,1.3,14.2v38.4a62.55987,62.55987,0,0,1-1.3,13.9,39.69061,39.69061,0,0,1-3.5,9.8,22.42732,22.42732,0,0,1-5,6.5,25.12254,25.12254,0,0,1-5.8,3.8,22.198,22.198,0,0,1-5.9,1.8A26.15962,26.15962,0,0,1,415.4,388.9Zm0-12.4a10.8425,10.8425,0,0,0,4.2-.8,6.4247,6.4247,0,0,0,3-2.9,16.24091,16.24091,0,0,0,1.8-5.4,48.35894,48.35894,0,0,0,.6-8.4V309.6a52.19528,52.19528,0,0,0-.6-8.7,17.54686,17.54686,0,0,0-1.8-5.6,7.21316,7.21316,0,0,0-3-3,9.27889,9.27889,0,0,0-4.2-.9,9.42115,9.42115,0,0,0-4.3.9,7.213,7.213,0,0,0-3,3,17.54635,17.54635,0,0,0-1.8,5.6,52.195,52.195,0,0,0-.6,8.7V359a48.3587,48.3587,0,0,0,.6,8.4,17.07778,17.07778,0,0,0,1.8,5.4,6.94654,6.94654,0,0,0,3,2.9A9.71961,9.71961,0,0,0,415.4,376.5Z' style='fill: #282828')
      path(d='M462,279.5h17.1c2.6,0,5.3.1,8,.2a31.25179,31.25179,0,0,1,8.1,1.4,28.35079,28.35079,0,0,1,7.5,3.5,21.1967,21.1967,0,0,1,6.2,6.7,35.8045,35.8045,0,0,1,4.2,10.8,70.88711,70.88711,0,0,1,1.6,15.9v31.5a65.48288,65.48288,0,0,1-1.6,15.9,33.81472,33.81472,0,0,1-4.2,10.8,20.80062,20.80062,0,0,1-6.2,6.6,24.40254,24.40254,0,0,1-7.5,3.5,37.14213,37.14213,0,0,1-8.1,1.4c-2.8.1-5.5.2-8,.2H462Zm20.7,97a21.17185,21.17185,0,0,0,7.3-1.1,9.39364,9.39364,0,0,0,4.6-4,21.19138,21.19138,0,0,0,2.3-7.9,108.19339,108.19339,0,0,0,.6-12.6V317.2a108.19356,108.19356,0,0,0-.6-12.6,21.79088,21.79088,0,0,0-2.3-7.9,8.55865,8.55865,0,0,0-4.6-4,19.353,19.353,0,0,0-7.3-1.1h-4.2v85h4.2Z' style='fill: #282828')
      path(d='M546.6,351.8l-21.9-72.4h16.6l13.3,51.9h.8l13.2-51.9H585l-22,72.4V388H546.5V351.8Z' style='fill: #282828')
      path(d='M688.1,279.5h16.5V375H727v13H688.1Z' style='fill: #282828')
      path(d='M737.5,366a42.22856,42.22856,0,0,1,.4-6.4c.3-2,.7-4.1,1.2-6.4h12.8v5.3a60.16852,60.16852,0,0,0,.5,7.8,21.22747,21.22747,0,0,0,1.8,5.7,8.58379,8.58379,0,0,0,3.3,3.5,10.00142,10.00142,0,0,0,5,1.2,9.7597,9.7597,0,0,0,7.2-2.6c1.7-1.7,2.5-4.2,2.5-7.5a33.77337,33.77337,0,0,0-.3-4.7,16.60186,16.60186,0,0,0-1.2-4.2,26.67349,26.67349,0,0,0-2.3-4.4c-1-1.5-2.2-3.3-3.7-5.2l-17.2-20.4a54.40365,54.40365,0,0,1-7.1-11.8,31.977,31.977,0,0,1-2.5-12.7,28.56213,28.56213,0,0,1,1.7-9.9,21.67373,21.67373,0,0,1,12.7-12.9,29.07575,29.07575,0,0,1,10.6-1.8,31.99193,31.99193,0,0,1,12,2,21.95865,21.95865,0,0,1,7.7,5.3,18.47645,18.47645,0,0,1,4,7.4,33.17963,33.17963,0,0,1,1.2,8.2,41.5788,41.5788,0,0,1-.5,6.4c-.4,2-.8,4.1-1.2,6.5H773.4v-5.1c0-5.8-.8-10.2-2.5-13.2-1.7-3.1-4.3-4.6-8.1-4.6-3.1,0-5.4.9-6.9,2.6a10.07789,10.07789,0,0,0-2.3,6.9,25.42123,25.42123,0,0,0,.3,4.1,16.89338,16.89338,0,0,0,1,3.4,21.86453,21.86453,0,0,0,1.6,3,28.617,28.617,0,0,0,2.2,3l19.1,23.1a64.99671,64.99671,0,0,1,8,13.1,31.62251,31.62251,0,0,1,2.8,13.2,28.3553,28.3553,0,0,1-1.8,10.4,21.35446,21.35446,0,0,1-5.2,7.9,23.05817,23.05817,0,0,1-8.1,5,30.42082,30.42082,0,0,1-10.7,1.7,32.74007,32.74007,0,0,1-12.2-2,20.942,20.942,0,0,1-7.8-5.2,19.27457,19.27457,0,0,1-4.1-7.4A28.23544,28.23544,0,0,1,737.5,366Z' style='fill: #282828')
      text(transform='translate(2.8159 453.92676)' style='isolation: isolate;font-size: 40.792598724365234px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.023999547390081952em') THAT&apos;S WHY RON MONTERO
      text(transform='translate(2.8159 502.87793)' style='isolation: isolate;font-size: 40.792598724365234px;fill: #282828;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.023999547390081952em') ISN&apos;T EITHER.
</template>

<script>
export default {
  props:[
    "vertical"
  ]
}
</script>

<style lang="css" scoped>
.st0{fill:#282828;}
.st1{font-family:'Fjalla One';}
.st2{font-size:47.0557px;}
.st3{letter-spacing:2px;}
#home4{
  width: 100vw;
  max-height: calc(100vh - 65px);
  top: 56%;
}
.vertical #home4{
  width: 85vw;
  max-height: 1000px;
  top: 63%;
}
.fullPage.vertical{
  min-height: 100vmin;
}
</style>
