<template lang="pug">
.div(style="background-color: #282828;")
  img#home3(src="/static/home/home3/barrels.gif")
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
  #home3
    position: relative
    width: 100vw
    margin-top: -20vh
    z-index: 100
    margin-bottom: -20vh
</style>
