<template lang="pug">
  .fullPage.noNavSpace.relative(style="background-color: #F7F7F7;" :class="{vertical}")
    svg#home1(v-if="!vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1070.40002 1080')
      title Home1
      g
        g
          g
            path(d='M347.3,528.1V499.9c26.4-13.4,46.9-26.3,61.7-38.9h26.3V771.4H388.4V528.1Z' style='fill: #282828')
            path(d='M473.2,589.2V553q0-48.3,17.4-70.1Q507.85,461,547.1,461q38.4,0,56.1,19.8c11.8,13.2,17.6,34.3,17.6,63v145c0,28.8-5.9,49.7-17.6,63-11.8,13.2-30.3,19.8-56.1,19.8-21.2.3-38.3-5.9-51.5-18.6-13.2-12.8-19.8-28.8-19.8-48.3V686.3h48.9v15.3c0,19.1,7.4,28.8,22.3,28.9,16.3,0,24.3-9.7,24.1-28.9V630.9c-7.5,7.5-14.1,12.8-19.7,15.7-5.6,3.1-13.2,4.5-22.9,4.5-16.3,0-29.5-5.2-39.9-15.3C478.4,625.9,473.2,610.3,473.2,589.2Zm49.5-7.9c0,19.2,7.3,28.8,21.7,28.8,6.5,0,15.4-4.6,26.7-14V530.8c0-19.2-8-28.8-24.2-28.8s-24.2,9.6-24.2,28.8v50.5Z' style='fill: #282828')
            path(d='M659.1,688.9v-145c0-28.8,5.9-49.7,18-63q18.15-19.8,57.7-19.8,30.9-.45,49.9,18.6c12.8,12.8,19.1,28.8,19.1,48.5v18.4H754.9V531c0-19.2-7.4-28.8-22.1-28.8-16.3,0-24.3,9.6-24.3,28.8v70.7c7.5-7.5,14.1-12.8,19.7-15.7,5.6-3,13.3-4.5,23.2-4.5,16.3,0,29.5,5.2,39.8,15.3,10.2,10.1,15.5,25.8,15.5,46.8v36.1q0,48.3-17.4,70.3c-11.6,14.7-30.3,21.9-56.3,21.9q-38.4,0-56.2-19.8Q659.1,732,659.1,688.9Zm49.6,12.7c0,19.1,8,28.8,24.2,28.8,16.2.1,24.2-9.6,24.2-28.8v-50c0-19.1-7.3-28.8-21.7-28.9-6.5,0-15.4,4.6-26.7,13.9v65Z' style='fill: #282828')
            path(d='M845.1,698.1v-18H892v20.4c0,19.9,7.8,30,23.4,30.2,16.6,0,24.8-11.9,24.8-35.5V672.1c0-16.3-3.3-27.4-10.1-33.5-6.7-6.2-18.2-9.2-34.5-9.2v-41.1c15.7,0,26.7-3.2,33.1-9.8,6.3-6.6,9.5-18.6,9.5-36.2q0-21.6-4.8-30.9c-3.2-6.2-8.7-9.2-16.3-9.2-7.8,0-13.6,2.3-17.6,6.8-3.9,4.5-5.9,12.6-5.9,24v13H846.7V531.7c0-21,6.3-37.9,18.9-51,12.6-12.9,29.9-19.5,52-19.5,21.9,0,39,7.5,51.1,22.6,12.2,15,18.2,33.4,18.2,55q0,28.05-6.9,43.5c-4.6,10.3-13.7,19-27.3,26,14.6,7.8,24.5,16.9,29.5,27.4,4.9,10.4,7.5,26.3,7.5,47.4,0,30.2-6.2,52.6-18.4,67.1-12.3,14.5-31.3,21.9-57.2,21.9C868.1,771.7,845.1,747.2,845.1,698.1Z' style='fill: #282828')
          g
            path(d='M347.1,427.5v-202h48.6c19.9,0,34.7,4.6,44.3,14,9.6,9.3,14.4,24.6,14.4,45.6,0,26.7-8.2,43.8-24.7,51l29.4,91.3H424.5L400,343.9a140.72847,140.72847,0,0,1-17.9.9v82.8l-35-.1Zm34.8-111.3h12.2c9.5,0,16.2-2.2,19.9-6.6s5.7-12.5,5.7-24.3-1.9-19.8-5.7-24.4c-3.8-4.5-10.4-6.7-19.9-6.7H381.9Z' style='fill: #dd4c23')
            path(d='M473.7,427.5l36.7-202h43.1l36.7,202h-33L551,382.7H512.8l-6.2,44.8Zm44.2-75H546l-13.6-86.6h-.6Z' style='fill: #dd4c23')
            path(d='M611.1,427.5v-202h48.6c19.9,0,34.7,4.6,44.3,14,9.6,9.3,14.4,24.6,14.4,45.6,0,26.7-8.2,43.8-24.7,51l29.4,91.3H688.5L664,343.9a140.729,140.729,0,0,1-17.9.9v82.8l-35-.1Zm34.8-111.3h12.2c9.5,0,16.2-2.2,19.9-6.6,3.8-4.5,5.7-12.5,5.7-24.3s-1.9-19.8-5.7-24.4c-3.8-4.5-10.4-6.7-19.9-6.7H645.9Z' style='fill: #dd4c23')
            path(d='M750.9,427.5v-202h92.8v30.2H785.5v52.2h44.8v30.2H785.5v59.3h62v30.2H750.9Z' style='fill: #dd4c23')
          g
            path(d='M347.5,119.1h12l7.7,46.7h.2l8.2-46.7h10.3l8.6,46.7h.2l7-46.7h12.1l-13.1,73.3H390L380.9,144h-.2l-8.6,48.4H361.5Z' style='fill: #dd4c23')
            path(d='M421.2,192.3V119h33.7v11H433.8v18.9h16.3v10.9H433.8v21.4h22.5v10.9H421.2v.2Z' style='fill: #dd4c23')
            path(d='M465,143.6l5.1-12.6h-4.6V119h12v12l-7,12.6Z' style='fill: #dd4c23')
            path(d='M488.8,192.3V119h17.6c7.3,0,12.6,1.7,16.1,5.1s5.2,8.9,5.2,16.6c0,9.7-3.1,15.8-9,18.5l10.7,33.1h-12.6l-8.9-30.2a56.22532,56.22532,0,0,1-6.6.3v30L488.8,192.3ZM501.4,152h4.5c3.4,0,5.9-.9,7.3-2.4,1.4-1.6,2.1-4.5,2.1-8.8s-.7-7.3-2.1-8.8c-1.4-1.6-3.8-2.4-7.3-2.4h-4.5V152Z' style='fill: #dd4c23')
            path(d='M539.4,192.3V119H573v11H552v18.9h16.3v10.9H552v21.4h22.5v10.9H539.4v.2Z' style='fill: #dd4c23')
        g
          path(d='M868.4,416.2l6.7-1a10.08963,10.08963,0,0,0,1.3,4.6,3.61893,3.61893,0,0,0,2.9,1.6,4.03962,4.03962,0,0,0,3-1,3.29784,3.29784,0,0,0,1.1-2.8,6.64085,6.64085,0,0,0-1.5-4.3,25.47733,25.47733,0,0,0-3.6-3.8c-1.4-1.1-2.8-2.4-4.2-3.6a17.831,17.831,0,0,1-3.6-4.5,12.03815,12.03815,0,0,1-1.5-5.9,10.03031,10.03031,0,0,1,2.8-7.5c1.8-1.7,4.5-2.6,8-2.6a8.5935,8.5935,0,0,1,6.7,2.7,12.56909,12.56909,0,0,1,3.1,7.3l-6.7.8a5.17249,5.17249,0,0,0-1.2-3.5,3.47136,3.47136,0,0,0-2.5-1c-2.4,0-3.5,1.3-3.5,4a5.60147,5.60147,0,0,0,1.5,3.8,20.43706,20.43706,0,0,0,3.6,3.6c1.4,1.1,2.8,2.4,4.2,3.7a18.3607,18.3607,0,0,1,3.6,4.6,11.9395,11.9395,0,0,1,1.5,5.8A9.95672,9.95672,0,0,1,887,425a11.70323,11.70323,0,0,1-8.1,2.8,9.349,9.349,0,0,1-7.5-3.2A14.03956,14.03956,0,0,1,868.4,416.2Z' style='fill: #282828')
          path(d='M896.4,426.9v-41h7.1v41Z' style='fill: #282828')
          path(d='M911.2,426.9v-41h6.6l8.6,23.4h.1V385.9h6.4v41h-6.1l-9-25.6h-.1v25.6Z' style='fill: #282828')
          path(d='M939.6,417V395.8a10.10793,10.10793,0,0,1,2.8-7.5c1.8-1.9,4.5-3,8-3a9.95663,9.95663,0,0,1,7.8,3.1,11.91829,11.91829,0,0,1,2.7,8v3.1h-7.1v-3.1a5.45741,5.45741,0,0,0-1-3.7,2.62355,2.62355,0,0,0-2.4-1.2c-1.4,0-2.4.3-2.9,1a5.3149,5.3149,0,0,0-.9,3.4v20.7a4.95029,4.95029,0,0,0,.9,3.4c.6.8,1.6,1,2.9,1a2.88353,2.88353,0,0,0,2.6-1,5.225,5.225,0,0,0,.8-3.1V412h7.1v4.7a10.45693,10.45693,0,0,1-2.7,7.5c-1.8,1.9-4.4,2.9-7.8,2.9-3.5,0-6.1-1-8-2.9C940.4,422.5,939.6,420.1,939.6,417Z' style='fill: #282828')
          path(d='M967.9,426.9v-41h18.9V392H975v10.6h9.1v6.1H975v12h12.6v6.1l-19.7.1Z' style='fill: #282828')
      g#Botella
        image(width='1279' height='2008' transform='translate(-257.99081 -72.8623) scale(0.6697)' xlink:href='static/palido.png' style='isolation: isolate')
      g#Comprar.ComprarBtn.grey(onclick="buyProduct('palido')")
        circle(cx='327.70001' cy='881.29999' r='1.59999' style='fill: #b3b3b3')
        path(d='M326.8,875.3c.1.4.2.5.6.5h9.5c1.3,0,1.3,0,1.6-1.4h-12Z' style='fill: #b3b3b3')
        circle(cx='336' cy='881.29999' r='1.59999' style='fill: #b3b3b3')
        path(d='M325.2,868.9c.1.3.1.5.2.8,0,.5.3.6.8.6h12.2c1.3,0,1.3,0,1.6-1.2V869Z' style='fill: #b3b3b3')
        path(d='M326.1,872.6c0,.4.2.5.6.5h11.7a.76361.76361,0,0,0,.5-.2q.15-.6.3-1.2H325.8A3.17983,3.17983,0,0,1,326.1,872.6Z' style='fill: #b3b3b3')
        path(d='M331.8,856a16.3,16.3,0,1,0,16.3,16.3h0A16.30283,16.30283,0,0,0,331.8,856Zm-4.1,28a2.7,2.7,0,1,1,2.7-2.7h0a2.62786,2.62786,0,0,1-2.7,2.7Zm8.3,0a2.7,2.7,0,1,1,2.7-2.7h0A2.68879,2.68879,0,0,1,336,884Zm5.4-15.6c-.7,2.7-1.3,5.4-2,8.1-.1.4-.4.7-.8.6H326.5a.856.856,0,0,1-.9-.7c-1-4.2-2.1-8.4-3.1-12.6,0-.2-.1-.3-.1-.5h-.6c-.4,0-.8-.1-.9-.5a.80742.80742,0,0,1,.4-.9h2.1q.45,1.95.9,3.9.15.6.3,1.2c.1.4.2.4.6.4h15.1a1.26857,1.26857,0,0,1,.6.1.76039.76039,0,0,1,.5.9Z' style='fill: #b3b3b3')
        text(transform='translate(357.5459 880.42383)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share') Buy now
      g#Info.InfoBtn.grey(onclick="gotoTag('ProductDescription'); selectProd('PALIDO');")
        path(d='M327.1,923.7h11.8V908H327.1Zm4.5-1.7h-2.4c-.6,0-1.1-.2-1.1-.9s.5-.9,1.1-.9h2.4a.94492.94492,0,0,1,1.1.9c0,.7-.5.9-1.1.9Zm-2.4-12.2h7.1c.6,0,1.1.2,1.1.9s-.5.9-1.1.9h-7c-.6,0-1.1-.2-1.1-.9C328.1,909.9,328.6,909.8,329.2,909.8Zm0,3.5h4.7c.6,0,1.1.2,1.1.9s-.5.9-1.1.9h-4.7c-.6,0-1.1-.2-1.1-.9C328.1,913.4,328.6,913.3,329.2,913.3Zm0,3.5h3.6a.94492.94492,0,0,1,1.1.9c0,.7-.5.9-1.1.9h-3.5c-.6,0-1.1-.2-1.1-.9C328.1,916.9,328.6,916.7,329.2,916.8Z' style='fill: #b3b3b3')
        rect(x='324.79999' y='908' width='0.79999' height='15.59998' style='fill: #b3b3b3')
        path(d='M331.8,899.5a16.3,16.3,0,1,0,16.3,16.3h0A16.30283,16.30283,0,0,0,331.8,899.5Zm8.5,24.8a.68353.68353,0,0,1-.7.7H324.1a.68355.68355,0,0,1-.7-.7v-17a.68353.68353,0,0,1,.7-.7h15.5a.68354.68354,0,0,1,.7.7Z' style='fill: #b3b3b3')
        text(transform='translate(358.03711 923.95313)' style='isolation: isolate;font-size: 23.458999633789062px;fill: #fff;font-family: Share-Regular, Share') Learn more
    svg#home1(v-if="vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1527.69995 1801')
      title Artboard 1
      image(width='1279' height='2008' transform='translate(-0.2897 0.1845) scale(0.8967)' xlink:href='static/palido.png' style='isolation: isolate')
      g#Comprar.grey(onclick="buyProduct('palido')")
        circle(cx='806.40002' cy='1324.59998' r='3.30002' style='fill: #b3b3b3')
        path(d='M804.4,1312.1c.1.8.5,1.1,1.3,1.1h19.8c2.7,0,2.7,0,3.3-2.9H803.9A16.69973,16.69973,0,0,1,804.4,1312.1Z' style='fill: #b3b3b3')
        circle(cx='823.5' cy='1324.59998' r='3.30002' style='fill: #b3b3b3')
        path(d='M801.1,1298.80005a9.36533,9.36533,0,0,1,.4,1.6c.1,1,.6,1.30005,1.7,1.30005,8.4-.1,16.8,0,25.3,0,2.7,0,2.7,0,3.3-2.6v-.30005Z' style='fill: #b3b3b3')
        path(d='M803,1306.5c.1.80005.5.9,1.2.9h24.5a1.2306,1.2306,0,0,0,1-.5,10.54749,10.54749,0,0,0,.6-2.4H802.5C802.7,1305.2,802.8,1305.9,803,1306.5Z' style='fill: #b3b3b3')
        path(d='M814.9,1272a33.9,33.9,0,1,0,33.9,33.9A33.92877,33.92877,0,0,0,814.9,1272Zm-8.5,58.30005a5.7,5.7,0,1,1,5.7-5.69995h0a5.76276,5.76276,0,0,1-5.7,5.69995Zm17.1,0a5.7,5.7,0,1,1,5.7-5.69995h0A5.76271,5.76271,0,0,1,823.5,1330.30005Zm11.4-32.5q-2.1,8.4-4.2,16.80005a1.55281,1.55281,0,0,1-1.7,1.3H803.9a1.59367,1.59367,0,0,1-1.8-1.4c-2.2-8.69995-4.3-17.4-6.5-26.1-.1-.3-.2-.6-.3-1h-1.2c-.8,0-1.6-.1-1.9-1s.3-1.4.9-1.8h4.5c.6,2.69995,1.3,5.4,1.9,8.1a18.2842,18.2842,0,0,1,.6,2.5c.1.8.5.9,1.2.9h31.4a5.70327,5.70327,0,0,1,1.3.1,1.2841,1.2841,0,0,1,.9,1.6Z' style='fill: #b3b3b3')
        text(transform='translate(868.37689 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share')
          | B
          tspan(x='24.97266' y='0' style='letter-spacing: -0.009990706446900949em') u
          tspan(x='48.43408' y='0') y n
          tspan(x='108.37891' y='0' style='letter-spacing: -0.009990706446900949em') o
          tspan(x='132.76709' y='0') w
      g#Info.grey(onclick="gotoTag('ProductDescription'); selectProd('PALIDO');")
        path(d='M805.1,1412.7h24.5v-32.5H805.1Zm9.3-3.5h-4.9c-1.2,0-2.3-.30005-2.3-1.80005s1.1-1.8,2.3-1.8h5.09991c1.2,0,2.2.4,2.2,1.8C816.7,1408.9,815.6,1409.2,814.4,1409.2Zm-5-25.3999h14.6c1.3,0,2.3.30005,2.3,1.80005s-1.1,1.8-2.3,1.8h-14.6c-1.2,0-2.3-.3-2.3-1.8s1.09991-1.80005,2.29992-1.80005Zm0,7.29993h9.8c1.3,0,2.3.3,2.3,1.8s-1.1,1.80005-2.3,1.80005h-9.8c-1.2,0-2.3-.30005-2.3-1.80005S808.2,1391.1,809.4,1391.1Zm0,7.3H816.9c1.2,0,2.2.4,2.2,1.80005,0,1.5-1.1,1.8-2.3,1.8h-7.4c-1.2,0-2.3-.3-2.3-1.8S808.2,1398.30005,809.4,1398.4Z' style='fill: #b3b3b3')
        rect(x='800.20001' y='1380.19995' width='1.70001' height='32.5' style='fill: #b3b3b3')
        path(d='M814.9,1362.5a33.9,33.9,0,1,0,33.9,33.9h0a33.99322,33.99322,0,0,0-33.9-33.9Zm17.6,51.6a1.39394,1.39394,0,0,1-1.5,1.4H798.7a1.45294,1.45294,0,0,1-1.5-1.4v-35.4a1.39393,1.39393,0,0,1,1.5-1.4H831a1.45294,1.45294,0,0,1,1.5,1.4Z' style='fill: #b3b3b3')
        text(transform='translate(869.39838 1413.32227)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share')
          | Learn mo
          tspan(x='180.61377' y='0' style='letter-spacing: -0.01499607039825413em') r
          tspan(x='196.36816' y='0') e
      text(transform='translate(888.52081 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share')
      text(transform='translate(973.34119 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share')
      text(transform='translate(989.58368 1322.81641)' style='isolation: isolate;font-size: 48.77579879760742px;fill: #b3b3b3;font-family: Share-Regular, Share')
      g
        g
          g
            path(d='M781.1,878.6V846.1c30.5-15.4,54.1-30.4,71.2-44.9h30.4V1159.5H828.6V878.6Z' style='fill: #282828')
            path(d='M926.5,949.2V907.5c0-37.1,6.7-64.2,20.1-81q20.1-25.35,65.2-25.3c29.6,0,51.2,7.7,64.8,22.9s20.3,39.6,20.3,72.8v167.4c0,33.19995-6.8,57.4-20.3,72.80005-13.6,15.19995-35.1,22.9-64.8,22.9-24.4.30005-44.2-6.8-59.4-21.5s-22.8-33.19995-22.8-55.8V1061.4H986V1079c0,22.1,8.5,33.19995,25.7,33.4,18.7,0,28.1-11.19995,27.8-33.4V997.4c-8.69995,8.7-16.2,14.7-22.7,18.2s-15.2,5.1-26.4,5.1c-18.7,0-34.1-5.9-46-17.6C932.4,991.5,926.5,973.5,926.5,949.2Zm57.1-9.2c0,22.2,8.3,33.3,25,33.3,7.5,0,17.8-5.4,30.9-16.1V881.8q0-33.3-27.9-33.3t-27.9,33.3l-.1,58.2Z' style='fill: #282828')
            path(d='M1141.2,1064.30005V896.8c0-33.2,6.9-57.4,20.80005-72.8,13.9-15.2,36.19995-22.9,66.6-22.9q35.70006-.45,57.6,21.5c14.69995,14.7,22,33.3,22,56v21.3h-56.4v-18q0-33.3-25.5-33.3-28.04993,0-28.1,33.3v81.6c8.69995-8.7,16.19995-14.8,22.69995-18.2s15.30005-5.1,26.7-5.1c18.69995,0,34.1,5.9,45.9,17.6s17.9,29.8,17.9,54v41.6c0,37.1-6.69995,64.2-20.1,81.1s-35.1,25.3-65,25.3c-29.6,0-51.19995-7.69995-64.9-22.9C1148,1121.80005,1141.2,1097.5,1141.2,1064.30005ZM1198.4,1078.9c0,22.1,9.30005,33.30005,27.9,33.30005,18.6.1,27.9-11.1,27.9-33.30005v-57.7c0-22.1-8.30005-33.3-25-33.4-7.5,0-17.80005,5.4-30.9,16l.1,75.1Z' style='fill: #282828')
            path(d='M1355.80005,1074.9v-20.8h54.1v23.6q0,34.5,27.1,34.80005c19.19995,0,28.69995-13.69995,28.69995-41v-26.6c0-18.69995-3.80005-31.6-11.6-38.7s-21-10.6-39.9-10.6V948.2c18.19995,0,30.9-3.7,38.19995-11.3,7.2-7.6,11-21.5,11-41.7,0-16.7-1.9-28.6-5.6-35.6-3.69995-7.1-10-10.6-18.8-10.6-9,0-15.80005,2.6-20.30005,7.9s-6.80005,14.6-6.80005,27.7v14.7h-54.1v-16.5c0-24.2,7.2-43.8,21.80005-58.8,14.6-14.9,34.5-22.5,60-22.5q37.95007,0,59.1,26.1c14,17.4,21,38.6,21,63.4,0,21.6-2.6,38.4-8,50.3s-15.9,21.9-31.4,30c16.9,9,28.30005,19.5,34,31.6s8.7,30.4,8.7,54.7c0,34.8-7.1,60.69995-21.3,77.5s-36.2,25.19995-66,25.19995Q1355.90015,1159.7,1355.80005,1074.9Z' style='fill: #282828')
          g
            path(d='M781,762.5V529.3h56.1q34.5,0,51.2,16.1c11.1,10.7,16.7,28.4,16.7,52.7q0,46.35-28.6,58.8l33.9,105.4h-40L841.9,666a162.498,162.498,0,0,1-20.7,1v95.5ZM821.1,634h14.1c11,0,18.6-2.5,23-7.7,4.4-5.1,6.6-14.5,6.6-28.1s-2.2-22.9-6.6-28.2c-4.4-5.1-12.1-7.8-23-7.8H821.1Z' style='fill: #dd4c23')
            path(d='M927,762.5l42.4-233.2h49.7l42.4,233.2h-38.1l-7.1-51.7h-44l-7.1,51.7Zm51.1-86.6h32.4l-15.8-100H994Z' style='fill: #dd4c23')
            path(d='M1085.7,762.5V529.3h56.1q34.5,0,51.2,16.1c11.1,10.7,16.69995,28.4,16.69995,52.7q0,46.35-28.6,58.8l33.9,105.4h-40l-28.30005-96.4a163.54973,163.54973,0,0,1-20.69995,1v95.5l-40.29993.1Zm40.1001-128.5h14.1c11,0,18.6-2.5,23-7.7,4.4-5.1,6.6-14.5,6.6-28.1s-2.19995-22.9-6.6-28.2c-4.4-5.1-12.1-7.8-23-7.8h-14.1Z' style='fill: #dd4c23')
            path(d='M1247.1,762.5V529.3h107.19995v34.8H1287.1v60.3h51.69995v34.8H1287.1v68.4h71.6v34.8H1247.1Z' style='fill: #dd4c23')
          g
            path(d='M781.4,406.5h13.8l8.9,53.9h.2l9.5-53.9h11.9l9.9,53.9h.2l8.1-53.9h13.8l-15.1,84.6h-12.3l-10.5-55.9h-.2l-9.9,55.9h-12.2Z' style='fill: #dd4c23')
            path(d='M866.5,491V406.4h38.9V419H881.1v21.8h18.7v12.6H881.1v24.8h26v12.6H866.6v.2Z' style='fill: #dd4c23')
            path(d='M917.1,434.8l5.8-14.6h-5.4V406.4h13.8v13.8l-8.1,14.6Z' style='fill: #dd4c23')
            path(d='M944.4,491V406.4h20.4c8.3,0,14.6,2,18.5,5.8,4.1,3.9,6,10.3,6,19.2,0,11.2-3.5,18.3-10.4,21.4L991.2,491H976.6l-10.3-35a75.59142,75.59142,0,0,1-7.6.3V491ZM959,444.4h5.2c3.9,0,6.8-1,8.3-2.8q2.4-2.85,2.4-10.2t-2.4-10.2c-1.6-1.9-4.4-2.8-8.3-2.8H959Z' style='fill: #dd4c23')
            path(d='M1003,491V406.4h38.9V419h-24.3v21.8h18.7v12.6h-18.7v24.8h26.00006v12.6H1003Z' style='fill: #dd4c23')
        g
          path(d='M1382.7,749.4l7.69995-1.1a11.5302,11.5302,0,0,0,1.5,5.3,4.00989,4.00989,0,0,0,3.30005,1.8,4.95437,4.95437,0,0,0,3.4-1.1,3.81518,3.81518,0,0,0,1.3-3.2,8.55376,8.55376,0,0,0-1.69995-4.9,23.617,23.617,0,0,0-4.1-4.3c-1.6-1.3-3.2-2.7-4.80005-4.1a18.30638,18.30638,0,0,1-4.1-5.3,14.68079,14.68079,0,0,1-1.7-6.9c0-3.7,1.1-6.7,3.2-8.7s5.3-3.1,9.3-3.1a10.24732,10.24732,0,0,1,7.80005,3.1,13.74026,13.74026,0,0,1,3.5,8.3l-7.69995.9a5.926,5.926,0,0,0-1.4-4,4.0052,4.0052,0,0,0-2.9-1.2c-2.69995,0-4,1.5-4,4.7a7.3935,7.3935,0,0,0,1.69995,4.4,23.159,23.159,0,0,0,4.1,4.2c1.6,1.3,3.19995,2.8,4.8,4.2a19.76217,19.76217,0,0,1,4.1,5.3,13.10834,13.10834,0,0,1,1.7,6.7c0,3.9-1.2,6.8-3.5,8.9a13.54852,13.54852,0,0,1-9.4,3.2,10.98756,10.98756,0,0,1-8.69995-3.7A15.568,15.568,0,0,1,1382.7,749.4Z' style='fill: #282828')
          path(d='M1415,761.8V714.5H1423.2v47.3Z' style='fill: #282828')
          path(d='M1432.1,761.8V714.5h7.5l9.9,27h.1v-27h7.4v47.3h-7l-10.4-29.5h-.1v29.5Z' style='fill: #282828')
          path(d='M1464.9,750.3V726a11.85257,11.85257,0,0,1,3.2-8.7c2.1-2.3,5.19995-3.4,9.3-3.4,3.9,0,6.9,1.2,8.9,3.7a13.75584,13.75584,0,0,1,3.1,9.3v3.5h-8.19995v-3.7a6.808,6.808,0,0,0-1.1-4.2,3.2435,3.2435,0,0,0-2.80005-1.4,4.25471,4.25471,0,0,0-3.4,1.2,6.19853,6.19853,0,0,0-1,4v24a6.19857,6.19857,0,0,0,1,4c.7.9,1.80005,1.2,3.4,1.2a3.593,3.593,0,0,0,3.1-1.2,5.9683,5.9683,0,0,0,.9-3.6V745H1489.5v5.5a12.20941,12.20941,0,0,1-3.1,8.7c-2.1,2.3-5.1,3.4-8.9,3.4-4,0-7.1-1.1-9.30005-3.4A12.4,12.4,0,0,1,1464.9,750.3Z' style='fill: #282828')
          path(d='M1497.6,761.8V714.5h21.8v7h-13.6v12.3h10.5v7h-10.5v13.9h14.5v7l-22.70007.1Z' style='fill: #282828')
</template>

<script>
export default {
  components:{
  },
  props: [
    'vertical'
  ],
  mounted(){
  }
}
</script>

<style lang="sass" scoped>
  #home1
    position: absolute
    width: 80vw
    max-height: 120vh
    left: 50%
    bottom: 0%
    transform: translate(-50%, 27.5%)
    z-index: 100
  .vertical
    #home1
      width: 110vw
      left: 37%
      transform: translate(-50%, 33%)
    &.fullPage, .noNavSpace
      min-height: 75vh
      //margin-bottom: 10vh
</style>
