<template lang="pug">
.fullPage.relative(style='background-color: #282828;' :class="{vertical}")
  svg#home2.absCenter(v-if="!vertical" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1096 395.89999')
    title Home2
    g#Layer_2(data-name='Layer 2')
      g#Layer_2-2(data-name='Layer 2-2')
        text(transform='translate(148.2254 29.64648)' style='isolation: isolate;font-size: 34.73469924926758px;fill: #fff;font-family: Share-Regular, Share')
          | Almost 60
          tspan(x='145.4668' y='0' style='letter-spacing: -0.014999297676688127em') y
          tspan(x='161.02783' y='0') ea
          tspan(x='193.99023' y='0' style='letter-spacing: -0.004990394259816574em') r
          tspan(x='205.55713' y='0') s ago, a
          tspan(x='323.82666' y='0' style='letter-spacing: -0.014999297676688127em') y
          tspan(x='339.3877' y='0') oung man f
          tspan(x='498.33154' y='0' style='letter-spacing: -0.014999297676688127em') r
          tspan(x='509.55078' y='0') om Motril, Spain said:
        text(transform='translate(558.26849 29.64648)' style='isolation: isolate;font-size: 34.73469924926758px;fill: #fff;font-family: Share-Regular, Share')
        g(style='isolation: isolate')
          text(transform='translate(176.4165 141.21973)' style='isolation: isolate;font-size: 34.73469924926758px;fill: #fff;font-family: Share-Regular, Share')
            | I am going to ma
            tspan(x='240.11768' y='0' style='letter-spacing: -0.015013355125307328em') k
            tspan(x='255.71289' y='0') e a golden rum of the finest qualit
            tspan(x='732.85645' y='0' style='letter-spacing: -0.044983835581445177em') y
            tspan(x='747.37598' y='0' style='letter-spacing: -0.000028114897238403236em') .
          text(transform='translate(138.51651 182.91968)' style='isolation: isolate;font-size: 34.73469924926758px;fill: #fff;font-family: Share-Regular, Share')
            | And I&apos;m going to do it
            tspan(x='313.8584' y='0' style='letter-spacing: -0.009980788519633148em') m
            tspan(x='338.86768' y='0') y
            tspan(x='363.98047' y='0' style='letter-spacing: -0.00798463081570652em') w
            tspan(x='386.9751' y='0') a
            tspan(x='403.68213' y='0' style='letter-spacing: -0.04499789303006438em') y
            tspan(x='418.20117' y='0' xml:space='preserve') . With the best raw materials,
          text(transform='translate(310.3165 224.61975)' style='isolation: isolate;font-size: 34.73469924926758px;fill: #fff;font-family: Share-Regular, Share')
            | using t
            tspan(x='95.38037' y='0' style='letter-spacing: -0.004990394259816574em') r
            tspan(x='106.94727' y='0') aditional methods and with
        text(transform='translate(161.89391 387.60254)' style='isolation: isolate;font-size: 34.73469924926758px;fill: #fff;font-family: Share-Regular, Share')
          | B
          tspan(x='17.78418' y='0' style='letter-spacing: -0.004990394259816574em') r
          tspan(x='29.35107' y='0' style='letter-spacing: -0.000014057448619201618em') a
          tspan(x='46.05762' y='0' style='letter-spacing: -0.014985240228068925em') v
          tspan(x='61.58398' y='0') e?
          tspan(x='99.37402' y='0' style='letter-spacing: -0.06498758496656908em') Y
          tspan(x='114.17139' y='0') es. Ahead of his time? Definitel
          tspan(x='540.39355' y='0' style='letter-spacing: -0.04499789303006438em') y
          tspan(x='554.9126' y='0') . Ra
          tspan(x='606.52734' y='0' style='letter-spacing: -0.014985240228068925em') r
          tspan(x='617.74707' y='0' style='letter-spacing: -0.000028114897238403236em') e? That too.
        path(d='M111.2,123.9l10.1-18.2h7.8l-7.2,18.2h6.6v17.3H111.2Zm27.2,0,10.1-18.2h7.8l-7.2,18.2h6.6v17.3H138.4V123.9Z' style='fill: #fff')
        path(d='M893.6,273.5l-10.1,18.2h-7.8l7.2-18.2h-6.6V256.2h17.3Zm27.1,0-10.1,18.2h-7.8l7.2-18.2h-6.6V256.2h17.3v17.3Z' style='fill: #fff')
        rect(x='255.3' y='72.1' width='585.40001' height='2' style='fill: #dd4c23')
        text(transform='translate(218.6763 326.85938)' style='isolation: isolate;font-size: 77.53800201416016px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.012002683049919704em') NO HURRY TO SELL IT.

  svg#home2(v-if="vertical" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 847.90002 673.09998')
    title Home2M
    g#Layer_2(data-name='Layer 2')
      g#Layer_2-2(data-name='Layer 2-2')
        g(style='isolation: isolate')
          text(transform='translate(182.3801 34.84375)' style='isolation: isolate;font-size: 40.82469940185547px;fill: #fff;font-family: Share-Regular, Share')
            | Almost 60
            tspan(x='170.97168' y='0' style='letter-spacing: -0.015010348581333308em') y
            tspan(x='189.26074' y='0') ea
            tspan(x='228.00244' y='0' style='letter-spacing: -0.004999462714738903em') r
            tspan(x='241.59717' y='0' style='letter-spacing: 0.000011960437116600246em') s ago, a
            tspan(x='380.60303' y='0' style='letter-spacing: -0.014998388144216708em') y
            tspan(x='398.89258' y='0') oung
          text(transform='translate(189.78009 77.84375)' style='isolation: isolate;font-size: 40.82469940185547px;fill: #fff;font-family: Share-Regular, Share')
            | man f
            tspan(x='93.40527' y='0' style='letter-spacing: -0.014998388144216708em') r
            tspan(x='106.5918' y='0') om Motril, Spain said:
        text(transform='translate(0 180.1416)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share;letter-spacing: -0.020995189047474116em')
        text(transform='translate(20.255 180.1416)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
        g(style='isolation: isolate')
          text(transform='translate(59.4575 180.1416)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
            | I am going to ma
            tspan(x='316.07764' y='0' style='letter-spacing: -0.014993512422509491em') k
            tspan(x='336.60693' y='0') e a golden rum of the
          text(transform='translate(8.0575 228.1416)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
            | finest qualit
            tspan(x='218.50732' y='0' style='letter-spacing: -0.04500189554733262em') y
            tspan(x='237.61914' y='0') . And I&apos;m going to do it
            tspan(x='673.16992' y='0' style='letter-spacing: -0.009995674948339662em') m
            tspan(x='706.09082' y='0' style='letter-spacing: -0.000021358279804144573em') y
            tspan(x='739.14746' y='0' style='letter-spacing: -0.00798799664675007em') w
            tspan(x='769.41602' y='0') a
            tspan(x='791.4082' y='0' style='letter-spacing: -0.04500189554733262em') y
            tspan(x='810.52051' y='0' style='letter-spacing: 0.000021358279804144573em') .
          text(transform='translate(116.95752 276.1416)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
            | With the best
            tspan(x='248.08887' y='0' style='letter-spacing: -0.004997837474169831em') r
            tspan(x='263.31445' y='0' style='letter-spacing: -0.00798799664675007em') a
            tspan(x='284.94141' y='0') w materials, using
          text(transform='translate(160.1575 324.1416)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
            | t
            tspan(x='14.67676' y='0' style='letter-spacing: -0.004976479194365686em') r
            tspan(x='29.90332' y='0' style='letter-spacing: -0.000010679139902072287em') aditional methods and with
        g(style='isolation: isolate')
          text(transform='translate(147.7153 581.52441)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
            | B
            tspan(x='23.40967' y='0' style='letter-spacing: -0.004987158334267758em') r
            tspan(x='38.63574' y='0') a
            tspan(x='60.62793' y='0' style='letter-spacing: -0.014993512422509491em') v
            tspan(x='81.06592' y='0' style='letter-spacing: -0.000010679139902072287em') e?
            tspan(x='130.81055' y='0' style='letter-spacing: -0.06498256630410987em') Y
            tspan(x='150.28906' y='0') es. Ahead of his time?
          text(transform='translate(183.31531 629.52441)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
            | Definitel
            tspan(x='151.52344' y='0' style='letter-spacing: -0.04500189554733262em') y
            tspan(x='170.63525' y='0') . Ra
            tspan(x='238.57861' y='0' style='letter-spacing: -0.014993512422509491em') r
            tspan(x='253.34717' y='0' style='letter-spacing: -0.000010679139902072287em') e? That too.
        rect(x='194.2' y='114' width='452.59999' height='2' style='fill: #dd4c23')
        text(transform='translate(4.979 477.96216)' style='isolation: isolate;font-size: 99px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.019999802714646464em') NO HURRY TO SELL IT.
</template>

<script>
export default {
  props:[
    'vertical'
  ]
}
</script>

<style lang="css" scoped>
.st0{fill:#282828;}
.st1{fill:#FFFFFF;}
.st2{font-family:'share';}
.st3{font-size:29.6006px;}
.st4{font-size:32.3562px;}
.st5{fill:#DD4C23;}
.st6{font-family:'Fjalla One';}
.st7{font-size:66.0771px;}
.st8{letter-spacing:2px;}
#home2{
  width: 45vw;
  max-height: 60vh;
  top: 56%;
}
.fullPage{
  min-height: calc(90vh + 5vw);
}
.vertical #home2{
  display: block; /*for the img inside your div */
  margin: 0 auto;
  width: 75vw;
}
.fullPage.vertical{
  min-height: 95vmin;
  padding-top: 25vh;
  padding-bottom: 25vh;
}
</style>
