<template lang="pug">
.fullPage.relative#Raros(style="background-color: white;" :class="{vertical}")
  svg#home5.absCenter(v-if="!vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1366 768')
    title Home5
    g#Layer_2(data-name='Layer 2')
      g#Layer_10(data-name='Layer 10')
        rect(y='0.5' width='1366' height='768' style='fill: #fff')
        image(width='637' height='999' transform='translate(100.6619 160.7375) scale(0.4648)' xlink:href='static/reserva.jpg' style='isolation: isolate')
        g(style='opacity: 0.8299999833106995')
          text(transform='translate(883.27417 470.95654)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #282828;font-family: Share-Regular, Share')
          rect(x='874' y='242' width='368.59998' height='345' style='fill: none')
          g(style='isolation: isolate')
            text(transform='translate(873.97949 255.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | A lot of people beli
              tspan(x='152.85742' y='0' style='letter-spacing: -0.014990234375em') ev
              tspan(x='170.85742' y='0' style='letter-spacing: -0.0000244140625em') e that it&apos;s not normal
            text(transform='translate(873.97949 276.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | to go against the fl
              tspan(x='153.67773' y='0' style='letter-spacing: -0.0099853515625em') o
              tspan(x='163.67773' y='0' style='letter-spacing: -0.02998046875em') w
              tspan(x='176.47803' y='0') , to stay l
              tspan(x='251.93701' y='0' style='letter-spacing: -0.014990234375em') o
              tspan(x='261.83691' y='0') yal to
              tspan(x='313.03613' y='0' style='letter-spacing: -0.014990234375em') y
              tspan(x='321.99609' y='0' style='letter-spacing: 0.0000244140625em') our
            text(transform='translate(873.97949 297.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share') principles or to act with integrity because
            text(transform='translate(873.97949 318.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | so ma
              tspan(x='47.65918' y='0' style='letter-spacing: -0.010009765625em') n
              tspan(x='57.5791' y='0' style='letter-spacing: 0.0000244140625em') y don&apos;t do so a
              tspan(x='176.69775' y='0' style='letter-spacing: -0.010009765625em') n
              tspan(x='186.61768' y='0' style='letter-spacing: 0.0000244140625em') ymo
              tspan(x='220.67773' y='0' style='letter-spacing: -0.014990234375em') r
              tspan(x='227.1377' y='0' style='letter-spacing: -0.0000244140625em') e.
            text(transform='translate(873.97949 352.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | Ron Monte
              tspan(x='84.51904' y='0' style='letter-spacing: -0.014990234375em') r
              tspan(x='90.979' y='0') o
              tspan(x='106.37891' y='0' style='letter-spacing: -0.0150146484375em') e
              tspan(x='115.43848' y='0') xists because because the
              tspan(x='322.13477' y='0' style='letter-spacing: -0.014990234375em') r
              tspan(x='328.59473' y='0') e&rsquo;s
            text(transform='translate(873.97949 373.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | al
              tspan(x='14.91992' y='0' style='letter-spacing: -0.014990234375em') r
              tspan(x='21.37988' y='0' style='letter-spacing: -0.0000244140625em') eady too much of the same out the
              tspan(x='301.81592' y='0' style='letter-spacing: -0.014990234375em') r
              tspan(x='308.27588' y='0') e.
            text(transform='translate(873.97949 407.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | So let&apos;s open a Ron Monte
              tspan(x='206.69678' y='0' style='letter-spacing: -0.014990234375em') r
              tspan(x='213.15674' y='0') o bottle and
            text(transform='translate(873.97949 428.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | toast to the un
              tspan(x='118.75879' y='0' style='letter-spacing: -0.010009765625em') c
              tspan(x='126.63867' y='0') ommon.
              tspan(x='196.15771' y='0' style='letter-spacing: -0.0699951171875em') T
              tspan(x='203.25781' y='0') o what&apos;s authentic.
            text(transform='translate(873.97949 449.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              tspan(style='letter-spacing: -0.0699951171875em') T
              tspan(x='7.1001' y='0') o what&apos;s
              tspan(x='79.39893' y='0' style='letter-spacing: -0.00498046875em') r
              tspan(x='86.05908' y='0') a
              tspan(x='95.67871' y='0' style='letter-spacing: -0.014990234375em') r
              tspan(x='102.13867' y='0') e.
            text(transform='translate(873.97949 483.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | That&apos;s something
              tspan(x='141.37793' y='0' style='letter-spacing: -0.0099853515625em') w
              tspan(x='154.57813' y='0') orth
              tspan(x='193.27734' y='0' style='letter-spacing: -0.0099853515625em') c
              tspan(x='201.15771' y='0' style='letter-spacing: -0.0000244140625em') eleb
              tspan(x='235.15674' y='0' style='letter-spacing: -0.00498046875em') r
              tspan(x='241.81689' y='0') ating whether
            text(transform='translate(873.97949 504.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              tspan(style='letter-spacing: -0.014990234375em') y
              tspan(x='8.95996' y='0') ou&apos;
              tspan(x='33.07959' y='0' style='letter-spacing: -0.014990234375em') r
              tspan(x='39.53955' y='0') e in Motril, Madrid, Thailand or a
              tspan(x='299.37549' y='0' style='letter-spacing: -0.0099853515625em') n
              tspan(x='309.2959' y='0') y
            text(transform='translate(873.97949 525.97461)' style='isolation: isolate;font-size: 20px;fill: #282828;font-family: Share-Regular, Share')
              | other pla
              tspan(x='72.95898' y='0' style='letter-spacing: -0.0099853515625em') c
              tspan(x='80.83887' y='0') e in the
              tspan(x='146.71777' y='0' style='letter-spacing: -0.0099853515625em') w
              tspan(x='159.91797' y='0') orld.
          g
            path(d='M380,468.3v16.8c0,20.8,8,31.3,24,31.3,17.5,0,26.3-10.4,26.3-31.3V408.5c-3.6,3.6-7,6.8-10.2,9.5a56.84288,56.84288,0,0,1-10,6.8,46.40436,46.40436,0,0,1-11.3,4.1,76.65694,76.65694,0,0,1-37.8-2.2,47.62422,47.62422,0,0,1-19-11.8,55.60177,55.60177,0,0,1-12.9-20.8c-3.2-8.5-4.8-18.7-4.8-30.8v-39q0-52.05,18.6-75.9t61.2-23.8q42.6,0,61.2,21.5,18.6,21.6,18.6,68.2V471c0,31.1-6.2,53.9-18.6,68.2-12.4,14.4-32.8,21.5-61.2,21.5a74.1439,74.1439,0,0,1-30.1-5,66.509,66.509,0,0,1-22.9-15.2,68.432,68.432,0,0,1-14.7-23.1,78.58016,78.58016,0,0,1-5.2-29.2V468.3H380Zm50.3-168.1c0-20.8-8.8-31.3-26.3-31.3s-26.3,10.4-26.3,31.3v54.4c0,10.6,2.2,18.4,6.6,23.6a21.34567,21.34567,0,0,0,17,7.7q7.65,0,15.9-5.4c5.4-3.6,9.8-6.8,13.1-9.5Z' style='fill: #cecece')
            path(d='M612.8,317V300.2c0-20.8-8-31.3-24-31.3-17.5,0-26.3,10.4-26.3,31.3v76.6c3.6-3.6,7-6.8,10.2-9.5a56.84233,56.84233,0,0,1,10-6.8,46.4048,46.4048,0,0,1,11.3-4.1,72.51174,72.51174,0,0,1,14.7-1.4,75.33971,75.33971,0,0,1,23.1,3.6,47.62431,47.62431,0,0,1,19,11.8,55.60226,55.60226,0,0,1,12.9,20.8c3.2,8.5,4.8,18.7,4.8,30.8v39q0,52.05-18.6,75.9t-61.2,23.8q-42.6,0-61.2-21.5c-12.4-14.3-18.6-37.1-18.6-68.2V314.2q0-46.65,18.6-68.2,18.6-21.45,61.2-21.5a74.14288,74.14288,0,0,1,30.1,5A65.69679,65.69679,0,0,1,656.4,268a79.97129,79.97129,0,0,1,5.2,29v20ZM562.5,485.1c0,20.8,8.8,31.3,26.3,31.3s26.3-10.4,26.3-31.3V430.7c0-10.6-2.2-18.4-6.6-23.6a21.34575,21.34575,0,0,0-17-7.7q-7.65,0-15.9,5.4c-5.4,3.6-9.8,6.8-13.1,9.5Z' style='fill: #cecece')
            path(d='M738.1,461.5v22.2c0,10.3,2,18.3,6.1,24s10.5,8.6,19.3,8.6c8.2,0,14.7-3,19.5-9.1,4.8-6,7.2-15.9,7.3-29.5V452.8c0-17.8-3.7-30-11.1-36.5s-19.7-9.7-36.9-9.7V362.2a83.25513,83.25513,0,0,0,21.1-2.3,29.383,29.383,0,0,0,14.3-7.9c3.6-3.8,6.3-8.9,7.9-15.4,1.7-6.5,2.5-14.6,2.5-24.2,0-15.4-1.7-26.5-5-33.3s-9.2-10.2-17.7-10.2c-7.9,0-14.1,2.3-18.6,7s-6.8,13.5-6.8,26.5V316h-50.8V300.6a90.9106,90.9106,0,0,1,5-30.6,65.3616,65.3616,0,0,1,15-24,70.40154,70.40154,0,0,1,24-15.9c9.4-3.8,20.2-5.7,32.6-5.7,12.1,0,22.7,2.3,31.7,7A69.85277,69.85277,0,0,1,820.4,250a77.24465,77.24465,0,0,1,13.8,26.7,108.08849,108.08849,0,0,1,4.5,31.5c0,19-2.3,34.4-6.8,46s-14,21.4-28.5,29.2A91.78,91.78,0,0,1,823.6,397a54.64757,54.64757,0,0,1,12.5,16.8,71.51751,71.51751,0,0,1,6.1,21.8,233.8279,233.8279,0,0,1,1.6,29c0,32.9-6.6,57.2-19.7,72.7-13.1,15.6-33.8,23.3-61.9,23.3-23.3,0-41.5-6.3-54.8-18.8s-19.9-32.8-19.9-60.9V461.4H738.1Z' style='fill: #cecece')
      g#Layer_23(data-name='Layer 23')
        g#Comprar.ComprarBtn(onclick="buyProduct('reserva')")
          circle(cx='167' cy='485.29999' r='1.39999' style='fill: #b3b3b3')
          path(d='M166.2,480.1c0,.3.2.4.6.4H175c1.1,0,1.1,0,1.4-1.2H166A4.49772,4.49772,0,0,1,166.2,480.1Z' style='fill: #b3b3b3')
          circle(cx='174.10001' cy='485.29999' r='1.39999' style='fill: #b3b3b3')
          path(d='M164.8,474.6a1.48265,1.48265,0,0,1,.1.7c0,.4.3.5.7.5h10.5c1.1,0,1.1,0,1.3-1.1v-.1Z' style='fill: #b3b3b3')
          path(d='M165.6,477.8c0,.3.2.4.5.4h10.1a.51949.51949,0,0,0,.4-.2c.1-.3.2-.7.3-1H165.4A3.09156,3.09156,0,0,1,165.6,477.8Z' style='fill: #b3b3b3')
          path(d='M170.5,463.5a14,14,0,1,0,14,14A14.04115,14.04115,0,0,0,170.5,463.5ZM167,487.6a2.4,2.4,0,1,1,2.4-2.4h0a2.369,2.369,0,0,1-2.4,2.4Zm7.1,0a2.4,2.4,0,1,1,2.4-2.4h0a2.369,2.369,0,0,1-2.4,2.4Zm4.7-13.4c-.6,2.3-1.2,4.6-1.7,6.9a.8579.8579,0,0,1-.7.6H166c-.4,0-.7-.2-.7-.6q-1.35-5.4-2.7-10.8c0-.1-.1-.3-.1-.4H162a.81159.81159,0,0,1-.8-.4.52881.52881,0,0,1,.4-.7h1.8c.3,1.1.5,2.2.8,3.3a3.55256,3.55256,0,0,1,.2,1c0,.3.2.4.5.4h13a.74931.74931,0,0,1,.5.1.44064.44064,0,0,1,.4.6Z' style='fill: #b3b3b3')
          text(transform='translate(89.8276 484.55957)' style='isolation: isolate;font-size: 20.170000076293945px;fill: #282828;font-family: Share-Regular, Share')
          text(transform='translate(124.903 484.55957)' style='isolation: isolate;font-size: 20.170000076293945px;fill: #282828;font-family: Share-Regular, Share')
          text(transform='translate(131.61971 484.55957)' style='isolation: isolate;font-size: 20.170000076293945px;fill: #282828;font-family: Share-Regular, Share')
          text(transform='translate(79.8697 484.55957)' style='isolation: isolate;font-size: 20.170000076293945px;fill: #282828;font-family: Share-Regular, Share')
            | B
            tspan(x='10.32715' y='0' style='letter-spacing: -0.009998024565553359em') u
            tspan(x='20.02881' y='0' style='letter-spacing: -0.000024208291926279322em') y n
            tspan(x='44.81738' y='0' style='letter-spacing: -0.009998024565553359em') o
            tspan(x='54.90234' y='0') w
        g#Info.InfoBtn(onclick="gotoTag('ProductDescription'); selectProd('RESERVA');")
          path(d='M166.5,521.7h10.1V508.3H166.5Zm3.8-1.4h-2c-.5,0-1-.1-1-.7s.4-.7,1-.7h2.1c.5,0,.9.2.9.7s-.5.7-1,.7Zm-2-10.5h6.1c.5,0,1,.1,1,.7s-.5.7-1,.7h-6c-.5,0-1-.1-1-.7-.1-.6.4-.7.9-.7Zm0,3h4.1c.5,0,1,.1,1,.7s-.5.7-1,.7h-4c-.5,0-1-.1-1-.7-.1-.6.4-.7.9-.7Zm0,3h3c.5,0,.9.2.9.7,0,.6-.5.7-1,.7h-3c-.5,0-1-.1-1-.7.1-.6.6-.7,1.1-.7Z' style='fill: #b3b3b3')
          rect(x='164.5' y='508.29999' width='0.7' height='13.40002' style='fill: #b3b3b3')
          path(d='M170.5,501a14,14,0,1,0,14,14A14.04115,14.04115,0,0,0,170.5,501Zm7.3,21.3a.64521.64521,0,0,1-.6.6H163.9a.64521.64521,0,0,1-.6-.6V507.7a.64524.64524,0,0,1,.6-.6h13.3a.64522.64522,0,0,1,.6.6Z' style='fill: #b3b3b3')
          text(transform='translate(58.0373 521.98608)' style='isolation: isolate;font-size: 20.170000076293945px;fill: #282828;font-family: Share-Regular, Share')
            | Learn mo
            tspan(x='74.68848' y='0' style='letter-spacing: -0.01500914099429318em') r
            tspan(x='81.20313' y='0') e
  svg#home5(v-if="vertical" xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 974.20001 1397.30005')
    title Home5M
    g#Layer_2(data-name='Layer 2')
      g#Layer_1-2(data-name='Layer 1-2')
        image(width='637' height='999' transform='translate(-28.1308 26.1788) scale(0.5776)' xlink:href='static/reserva.jpg' style='isolation: isolate')
        g(style='opacity: 0.8299999833106995')
          g
            path(d='M319,408.4v20.8q0,38.85,29.8,38.9,32.7,0,32.7-38.9V334c-4.5,4.5-8.7,8.4-12.7,11.8a64.432,64.432,0,0,1-12.4,8.4,59.50226,59.50226,0,0,1-14.1,5.1A86.61108,86.61108,0,0,1,324,361a89.74028,89.74028,0,0,1-28.7-4.5,62.01047,62.01047,0,0,1-23.7-14.6c-6.8-6.8-12.1-15.4-16-25.9s-5.9-23.3-5.9-38.3V229.3q0-64.8,23.1-94.3,23.1-29.55,76-29.6,52.95,0,76,26.7,23.1,26.7,23.1,84.8V411.8c0,38.7-7.7,66.9-23.1,84.8-15.4,17.8-40.7,26.8-76,26.7-13.9.4-26.4-1.7-37.4-6.2A81.28939,81.28939,0,0,1,283,498.2a84.23472,84.23472,0,0,1-18.3-28.7,100.03843,100.03843,0,0,1-6.5-36.3v-24.8H319Zm62.5-208.9q0-38.85-32.7-38.9-32.7,0-32.7,38.9v67.6c0,13.1,2.7,22.9,8.2,29.3a26.50155,26.50155,0,0,0,21.1,9.6c6.4,0,12.9-2.3,19.7-6.8a192.94138,192.94138,0,0,0,16.3-11.8Z' style='fill: #cecece')
            path(d='M608.4,220.3V199.5q0-38.85-29.8-38.9-32.7,0-32.7,38.9v95.2c4.5-4.5,8.7-8.4,12.7-11.8a64.43166,64.43166,0,0,1,12.4-8.4,57.95641,57.95641,0,0,1,14.1-5.1,86.6117,86.6117,0,0,1,18.3-1.7,89.74066,89.74066,0,0,1,28.7,4.5,62.01032,62.01032,0,0,1,23.7,14.6c6.8,6.8,12.1,15.4,16,25.9s5.9,23.3,5.9,38.3v48.4q0,64.8-23.1,94.3-23.1,29.55-76,29.6-52.95,0-76-26.7-23.1-26.7-23.1-84.8V216.9c0-38.7,7.7-66.9,23.1-84.8q23.1-26.7,76-26.7c13.9-.4,26.4,1.7,37.5,6.2a81.28908,81.28908,0,0,1,28.4,18.9,83.98132,83.98132,0,0,1,18.3,29,98.45664,98.45664,0,0,1,6.5,36v24.8H608.4ZM545.9,429.2q0,38.85,32.7,38.9,32.7,0,32.7-38.9V361.6c0-13.1-2.7-22.9-8.2-29.3a26.50155,26.50155,0,0,0-21.1-9.6c-6.4,0-13,2.3-19.7,6.8a192.94177,192.94177,0,0,0-16.3,11.8v87.9Z' style='fill: #cecece')
            path(d='M764.1,400v27.6c0,12.8,2.5,22.7,7.6,29.8s13,10.7,23.9,10.7c10.1,0,18.2-3.8,24.2-11.3s9-19.7,9-36.6v-31c0-22.1-4.6-37.3-13.8-45.3-9.2-8.1-24.5-12.1-45.9-12.1V276.6a105.189,105.189,0,0,0,26.2-2.8,36.63885,36.63885,0,0,0,17.7-9.9c4.5-4.7,7.8-11.1,9.9-19.1,2.1-8.1,3.1-18.1,3.1-30.1,0-19.1-2.1-32.9-6.2-41.4-4.1-8.4-11.5-12.7-22-12.7q-14.7,0-23.1,8.7c-5.6,5.8-8.4,16.8-8.4,32.9v16.9H703.2V200a109.36253,109.36253,0,0,1,6.2-38A81.13852,81.13852,0,0,1,728,132.2a86.13734,86.13734,0,0,1,29.8-19.7c11.6-4.7,25.1-7,40.5-7,15,0,28.2,2.9,39.4,8.7a87.12223,87.12223,0,0,1,28.4,23.1,97.39091,97.39091,0,0,1,17.2,33.2,133.01563,133.01563,0,0,1,5.6,39.1c0,23.7-2.8,42.7-8.4,57.2S863,293.4,845,303.1A117.56907,117.56907,0,0,1,870.1,320a68.58081,68.58081,0,0,1,15.5,20.8,91.44367,91.44367,0,0,1,7.6,27,289.61239,289.61239,0,0,1,2,36c0,40.9-8.2,71.1-24.5,90.4s-42,29-76.9,29q-43.35,0-68.1-23.4t-24.8-75.7V400Z' style='fill: #cecece')
        text(transform='translate(130.22659 1098.22559)' style='isolation: isolate;font-size: 44.334800720214844px;fill: #282828;font-family: Share-Regular, Share')
        rect(x='105.8' y='595' width='809.99998' height='758.19995' style='fill: none')
        g(style='isolation: isolate')
          text(transform='translate(105.7998 625.75)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | A lot of people beli
            tspan(x='335.94141' y='0' style='letter-spacing: -0.014996762417696805em') ev
            tspan(x='375.49951' y='0') e that it&apos;s not normal
          text(transform='translate(105.7998 671.94995)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | to go against the fl
            tspan(x='337.74414' y='0' style='letter-spacing: -0.009986732898895873em') o
            tspan(x='359.72168' y='0' style='letter-spacing: -0.030004633548295606em') w
            tspan(x='387.85254' y='0') , to stay l
            tspan(x='553.69189' y='0' style='letter-spacing: -0.014996762417696805em') o
            tspan(x='575.44922' y='0' style='letter-spacing: -0.000011108712901997632em') yal to
            tspan(x='687.97168' y='0' style='letter-spacing: -0.014996762417696805em') y
            tspan(x='707.66309' y='0') our
          text(transform='translate(105.7998 718.05005)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share') principles or to act with integrity because
          text(transform='translate(105.7998 764.25)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | so ma
            tspan(x='104.74268' y='0' style='letter-spacing: -0.00999784161179787em') n
            tspan(x='126.54443' y='0') y don&apos;t do so a
            tspan(x='388.33545' y='0' style='letter-spacing: -0.00999784161179787em') n
            tspan(x='410.13721' y='0') ymo
            tspan(x='484.9917' y='0' style='letter-spacing: -0.014996762417696805em') r
            tspan(x='499.18896' y='0') e.
          text(transform='translate(105.7998 838.94995)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | Ron Monte
            tspan(x='185.75098' y='0' style='letter-spacing: -0.014996762417696805em') r
            tspan(x='199.94824' y='0') o
            tspan(x='233.79297' y='0' style='letter-spacing: -0.015007871130598802em') e
            tspan(x='253.70361' y='0') xists because because the
            tspan(x='707.96777' y='0' style='letter-spacing: -0.014996762417696805em') r
            tspan(x='722.16504' y='0') e&rsquo;s
          text(transform='translate(105.7998 885.05005)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | al
            tspan(x='32.78955' y='0' style='letter-spacing: -0.014996762417696805em') r
            tspan(x='46.98682' y='0') eady too much of the same out the
            tspan(x='663.3125' y='0' style='letter-spacing: -0.014996762417696805em') r
            tspan(x='677.50977' y='0') e.
          text(transform='translate(105.7998 959.84998)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | So let&apos;s open a Ron Monte
            tspan(x='454.26563' y='0' style='letter-spacing: -0.014996762417696805em') r
            tspan(x='468.46289' y='0') o bottle and
          text(transform='translate(105.7998 1005.94995)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | toast to the un
            tspan(x='261.00049' y='0' style='letter-spacing: -0.00999784161179787em') c
            tspan(x='278.31836' y='0') ommon.
            tspan(x='431.10352' y='0' style='letter-spacing: -0.06998489128258509em') T
            tspan(x='446.70752' y='0') o what&apos;s authentic.
          text(transform='translate(105.7998 1052.15002)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            tspan(style='letter-spacing: -0.06998489128258509em') T
            tspan(x='15.604' y='0') o what&apos;s
            tspan(x='174.49805' y='0' style='letter-spacing: -0.004987812092996937em') r
            tspan(x='189.13525' y='0') a
            tspan(x='210.27686' y='0' style='letter-spacing: -0.014996762417696805em') r
            tspan(x='224.47412' y='0') e.
          text(transform='translate(105.7998 1126.84998)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | That&apos;s something
            tspan(x='310.71191' y='0' style='letter-spacing: -0.00999784161179787em') w
            tspan(x='339.72217' y='0') orth
            tspan(x='424.77393' y='0' style='letter-spacing: -0.00999784161179787em') c
            tspan(x='442.0918' y='0') eleb
            tspan(x='516.81348' y='0' style='letter-spacing: -0.004987812092996937em') r
            tspan(x='531.45068' y='0') ating whether
          text(transform='translate(105.7998 1172.94995)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            tspan(style='letter-spacing: -0.014996762417696805em') y
            tspan(x='19.69189' y='0') ou&apos;
            tspan(x='72.7002' y='0' style='letter-spacing: -0.014996762417696805em') r
            tspan(x='86.89746' y='0') e in Motril, Madrid, Thailand or a
            tspan(x='657.94922' y='0' style='letter-spacing: -0.00999784161179787em') n
            tspan(x='679.75098' y='0' style='letter-spacing: 0.000022217425803995264em') y
          text(transform='translate(105.7998 1219.15002)' style='isolation: isolate;font-size: 43.95479965209961px;fill: #282828;font-family: Share-Regular, Share')
            | other pla
            tspan(x='160.34473' y='0' style='letter-spacing: -0.009986732898895873em') c
            tspan(x='177.66309' y='0') e in the
            tspan(x='322.44727' y='0' style='letter-spacing: -0.009986732898895873em') w
            tspan(x='351.45801' y='0') orld.
</template>

<script>
export default {
  props: [
    'vertical'
  ],
}
</script>

<style lang="sass" scoped>
  #home5
    //Raros desde
    width: 100vw
    max-height: 100vh
  .fullPage
    min-height: 100vmin
  .vertical.fullPage
    min-height: 90vmin
    padding-top: 6vh
    padding-bottom: 5vh
    #home5

      width: 90vw
      max-height: 1000px
</style>
