<template lang="pug">
.vue-h-scroll(:id="idd" :class="{onScreen}" :style="{minHeight: width + 'px', height: width + 'px', backgroundColor}")
    .fixed-div(:id="idd + 'scroll'" :class="{active, top, bottom, onScreen}" )
      slot
</template>

<script>
export default {
  data(){
    return {
      offset: 0,
      active: false,
      top: false,
      bottom: false,
      onScreen: false,
      width: '100vh',
      opacity: 1,
      backgroundColor: "rgba(0,0,0,0)"
    }
  },
  props: ['idd', "vertical"],
  mounted(){
    setTimeout(()=>{
      this.width = document.getElementById(this.idd + 'scroll').childNodes[0].clientWidth + window.innerHeight - window.innerWidth + (this.vertical ? -500 : 200);
    }, 2000)
    window.addEventListener('scroll', (e)=> {
      if(this.width != document.getElementById(this.idd + 'scroll').childNodes[0].clientWidth + window.innerHeight - window.innerWidth + (this.vertical ? -500 : 200))
        this.width = document.getElementById(this.idd + 'scroll').childNodes[0].clientWidth + window.innerHeight - window.innerWidth + (this.vertical ? -500 : 200);
      var temp = window.pageYOffset - document.getElementById(this.idd).offsetTop;
      this.offset = temp < 0 ? 0 : temp;
      this.offset = this.offset > this.width - window.innerHeight ? this.width - window.innerHeight : this.offset;

      this.top = window.pageYOffset + 100 < document.getElementById(this.idd).offsetTop;
      this.bottom = window.pageYOffset - window.innerHeight + 100 > document.getElementById(this.idd).offsetTop + document.getElementById(this.idd).offsetHeight - window.innerHeight;
      this.active = !this.top && !this.bottom;
      this.onScreen = window.pageYOffset + window.innerHeight > document.getElementById(this.idd).offsetTop && window.pageYOffset - window.innerHeight < document.getElementById(this.idd).offsetTop + document.getElementById(this.idd).offsetHeight - window.innerHeight;
      if(this.onScreen){
        if(document.getElementById(this.idd + 'scroll').scrollTo){
          document.getElementById(this.idd + 'scroll').scrollTo(this.offset, 0);
        } else {
          document.getElementById(this.idd + 'scroll').scrollLeft = this.offset;
        }
      }
      //if(this.onScreen)
        //this.opacity = this.offset < this.width - window.innerHeight ? 1 : Math.max(0,1- (temp - this.offset) / window.innerWidth)
    });
  }
}
</script>

<style lang="sass" scoped>
.vue-h-scroll
  position: relative
  //height: 100vw
.fixed-div
  position: absolute
  width: 100vw
  overflow-x: hidden
  overflow-y: hidden
  top: 0
  left: 0
  //transition: opacity 0.3s
  //transform: scale(0)
  //opacity: 0
  will-change: opacity transform
  z-index: 100
  &.active
    position: fixed
    opacity: 1
    transform: scale(1)
    //transition: opacity 0.7s
  &.bottom
    position: absolute
    bottom: 0
    left: 0
    opacity: 1
</style>
