<template lang="pug">
.fullPage.relative(style="")#Maletas
  maletas#maletasHandle
  #maletasText.menu(@click="openStore()")
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 670" style="height:100%; position: relative; left: -2%">
      <title>MaletasText</title>
      <g id="maletasText2">
        <text class="mundoText" transform="translate(187.4111 653.1689)" style="isolation: isolate;font-size: 241.60562133789062px;font-family: FjallaOne-Regular, Fjalla One">MUNDO</text>
        <text transform="translate(200.9512 119.7251)" style="isolation: isolate;font-size: 120.26300811767578px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One">SE EXPORTA EN</text>
        <text transform="translate(191.5342 318.6797)" style="isolation: isolate;font-size: 201.879150390625px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One">MALETAS</text>
        <text transform="translate(204.9375 421.0918)" style="isolation: isolate;font-size: 86.1521224975586px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One">A TODAS PARTES DEL</text>
      </g>
      //<rect x="204.6055" y="683.6552" width="652.1596" height="3.517" style="fill: #fff"/>
      //<text transform="translate(204.9365 749.5557)" style="isolation: isolate;font-size: 37.758174896240234px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One" class="maletaMenu" :class="{active: selector=='online'}" @click="openStore()">ONLINE</text>
      //<text transform="translate(391.2798 749.5557)" style="isolation: isolate;font-size: 37.758174896240234px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One" class="maletaMenu" :class="{active: selector=='tiendas'}" @click="maletasSelect('tiendas')">TIENDAS</text>
      //<text transform="translate(593.5664 749.5557)" style="isolation: isolate;font-size: 37.758174896240234px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One" class="maletaMenu" :class="{active: selector=='bares'}" @click="maletasSelect('bares')">BARES</text>
      //<text transform="translate(767.1143 749.5557)" style="isolation: isolate;font-size: 37.758174896240234px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One" class="maletaMenu" :class="{active: selector=='otros'}" @click="maletasSelect('otros')">OTROS</text>
    </svg>
    //transition(name="fade")
      .storesList#style-2(v-if="selector!=''" style="background-color: #E5C86A; width: 64.5%; height: 90%; position:absolute; top: 0; left: 17.8%; z-index: 200; overflow-y: auto")
        //transition-group(name="fade" tag="div")
        .state( v-for="i in Object.keys(matchItems)" v-bind:key="i")
          p.Estado.shareFont {{i}}
          transition-group(name="fade" tag="p" )
            p.Descripcion( v-for="d in matchItems[i]" v-html="d" v-bind:key="d" style="white-space: pre-line; margin-bottom:10px")
          br
    //.searchBar(style="width: 100%; display: grid; grid-template-columns: 100%; justify-items: center")
      div.relative(style="width: 64%")
        input.shareFont(type="text" v-model="query" @click="emptySelector" style="background-color: white; font-size: 130%; margin: 0; padding-left:10px; box-sizing: border-box; height: 41px; box-shadow: 0 1px 0 0 #e5c86a !important; border-bottom: 1px solid #e5c86a !important;" placeholder="Escribe tu ubicación")
        img.menu(src="/static/lupa.svg" style="height: 40px; width: 15%; padding:8px; background-color: #f94a21; position: absolute; right: 0px")
</template>

<script>
import maletas from '@/../static/home/maletas/Maletas1.svg';
import maletasText from '@/../static/home/maletas/MaletasText.svg';

import tiendasBares from '@/../static/TiendasBares.js'
var tiendas = [];
var bares = [];
for(let i in tiendasBares){
	//console.log(info[i])
  for(let s in tiendasBares[i].tiendas){
		tiendas.push({estado: i, descripcion: tiendasBares[i].tiendas[s].replace(/ +(?= )/g,'')})
	}
  for(let s in tiendasBares[i].bares){
		bares.push({estado: i, descripcion: tiendasBares[i].bares[s].replace(/ +(?= )/g,'')})
	}
}
import online from '@/../static/online.js'
import otros from '@/../static/internacional.js'

var Fuse = require('@/fuse.js');
var options = {
  shouldSort: true,
  threshold: 0.4,
  location: 0,
  distance: 100,
  maxPatternLength: 32,
  minMatchCharLength: 1,
  keys: [
    "estado",
    "descripcion"
]
};

export default {
  components:{
    maletas,
    maletasText
  },
  data(){
    return {
      query: "",
      selector: "",
      info: {tiendas, bares, online, otros},
    }
  },
  props:[
    "vertical"
  ],
  computed:{
    matchItems: function(){
      if(this.query != "" && this.selector=="") this.selector = 'bares';
      if(this.selector == "") return 0;
      var result;
      if(this.selector === 'online'){
        result = this.info[this.selector];
      }else{
        if(this.query != ""){
          var fuse = new Fuse.Fuse(this.info[this.selector], options); // "list" is the item array
          result = fuse.search(this.query);
        }else{
          result = this.info[this.selector];
        }
      }
      if(result.length == 0){
        result = this.info[this.selector];
      }
      var r = {}
      result.forEach((res)=>{
        if(!r[res.estado]) r[res.estado] = [];
        r[res.estado].push(res.descripcion);
      });

      //console.log(r);
      return r;
    }
  },
  methods:{
    maletasSelect(name){
      if(this.selector == name){
        this.selector = "";
        return 0;
      }
      this.selector = name;
    },
    openStore(){
      this.selector = '';
      window.open('http://tienda.ronmontero.com/index.php');
    },
    emptySelector(){
      if(this.selector == "") this.selector = 'tiendas';
    }
  }
}
</script>

<style lang="sass" scoped>
.mundoText
  transition: fill 0.7s
#maletasText2
  .mundoText
    fill: #333333
  &:hover
    .mundoText
      fill: #f94a21
.Estado
  font-size: 200%
  color: #f94a21
.Descripcion
  &:first-line
    font-weight: bold
#style-2::-webkit-scrollbar-track
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	//border-radius: 10px
	background-color: #282828

#style-2::-webkit-scrollbar
	width: 12px
	background-color: #282828

#style-2::-webkit-scrollbar-thumb
	//border-radius: 10px
	//-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
	background-color: #f94a21
</style>
