<template lang="pug">
.fullPage.relative(:class="{vertical}")#Maletas
  maletas#maletasHandle
  #maletasText.menu(@click="openStore()")
    svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 670')
      title maletas
      g#maletasText2
        text.mundoText(transform='translate(202.4111 562.20117)' style='isolation: isolate;font-size: 251.45840454101562px;font-family: FjallaOne-Regular, Fjalla One') WORLD
        text(transform='translate(193.50049 174.42725)' style='isolation: isolate;font-size: 180.23410034179688px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One') EXPORTED
        text(transform='translate(204.6279 321.50586)' style='isolation: isolate;font-size: 139.56089782714844px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One') AROUND THE
        text(transform='translate(202.93069 642.93359)' style='isolation: isolate;font-size: 59.249900817871094px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One') (USUALLY INSIDE SUIT CASES)
</template>

<script>
import maletas from '@/../static/home/maletas/Maletas1.svg';

export default {
  components:{
    maletas,
  },
  props:[
    "vertical"
  ],
  methods:{
    openStore(){
      this.selector = '';
      window.open('http://tienda.ronmontero.com/index.php');
    },
  }
}
</script>

<style lang="sass" scoped>
#maletasText
  height: calc(60vh - 65px)
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -52%)
  z-index: 102
#Maletas:after
    content: ""
    position: absolute
    width: 100vw
    height: 100%
    left: 0
    background-color: #E5C86A
    z-index: 100
.mundoText
  transition: fill 0.7s
#maletasText svg
  height: 100%
  position: relative
  left: -2%
.vertical #maletasText svg
  height: inherit
  width: 90vw
.fullPage.vertical
  //min-height: 80vmin
  #maletasText2
    .mundoText
      fill: #f94a21
#maletasText2
  .mundoText
    fill: #333333
  &:hover
    .mundoText
      fill: #f94a21
</style>
