<template lang="pug">
  div
    #mapDiv.fullPage
    #mapControls(v-if="!vertical")
      p Localizar:
      form
        p
          <input type="checkbox" id="tiendas" v-model="tiendasB"/>
          <label for="tiendas">Tiendas</label>
        p
          <input type="checkbox" id="bares" v-model="baresB"/>
          <label for="bares">Bares</label>
        p
          <input type="checkbox" id="Visit" v-model="RMB"/>
          <label for="Visit">Centro de Visitas</label>
</template>

<script>
import markersData from "@/../static/marksmap.js"

export default {
  props:["vertical"],
  data(){
    return {
      markers: [],
      icons: {},
      map: {},
      tiendasB: true,
      baresB: true,
      RMB: true,
    }
  },
  methods:{
    addMarker(marker){
      let infowindow = new google.maps.InfoWindow({
        content: marker.content
      });

      let markerO = new google.maps.Marker({
       position: marker.latlo,
       map: this.map,
       animation: google.maps.Animation.DROP,
       label: marker.label,
       icon: marker.icon
      });

      markerO.addListener('click', function() {
        infowindow.open(this.map, markerO);
      });

      this.markers.push(markerO);
    },
    removeMarkers(Marker){
      for (var i = 0; i < this.markers.length; i++) {
        this.markers[i].setMap(null);
      }
      this.markers = [];
    },
    addAllMarkers(){
      var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

      markersData.forEach((m)=>{
        if(m.type == "store" && !this.tiendasB) return 0;
        if(m.type == "bar" && !this.baresB) return 0;
        this.addMarker({
          latlo: m.latlo,
          content: `${m.type}: <a href="${m.web}" target="_blank"><b>${m.name}</b></a><br><a href="tel:${m.web}">Tel:${m.tel}</a>`,
          icon: m.type == "store" ? image : null
        })
      });

      if(!this.RMB) return 0;
      this.addMarker({latlo: {lat: 36.734352, lng: -3.55001}, content: "<b>Ron Montero Visit Center", label: "RM"});
    }
  },
  mounted(){
    this.map = new google.maps.Map(document.getElementById('mapDiv'), {
      center: {lat: 39.993362, lng: -4.565534},
      zoom: 6
    });
    this.addAllMarkers();
  },
  watch: {
    tiendasB(){
      this.removeMarkers();
      this.addAllMarkers();
    },
    baresB(){
      this.removeMarkers();
      this.addAllMarkers();
    },
    RMB(){
      this.removeMarkers();
      this.addAllMarkers();
    },
  }
}
</script>

<style lang="sass" scoped>
#mapDiv
  background-color: black
#mapControls
  position: absolute
  background-color: white
  //width: 300px
  //height: 300px
  top: 100px
  left: 20px
  padding: 20px

</style>
