<template lang="html">
<section class="container" style="padding-top:70px">
  <h3>PRIVACY POLICY AND USE OF COOKIES</h3>
<p><strong><u>ENTITY RESPONSIBLE FOR DATA MANAGEMENT: </u></strong>Corporation <strong>&ldquo;RON MONTERO, S.L.&rdquo;</strong> (hereinafter referred to as <strong>&ldquo;RON MONTERO&rdquo;</strong>), with CIF: B-18799866, owner of this Web Portal, hereby informs its Portal users (hereinafter referred to as the &ldquo;Users&rdquo; and the &ldquo;Portal&rdquo;) of its personal data protection policy (hereinafter referred to as the &ldquo;Personal Data&rdquo;) so that the Users may freely and irrevocably decide if they are willing to provide <strong>RON MONTERO</strong> the Personal Data may be required or obtained from them when they register, buy products, contact us, or unsubscribe from publications or newsletters offered by <strong>RON MONTERO </strong>at or through the Portal. <strong>RON MONTERO </strong>reserves the right to modify this policy to adapt it to new legislation or jurisprudence as well as to industry practices. In such cases, <strong>RON MONTERO, </strong>on this Webpage will announce the changes made reasonably in advance of their effective date.</p>
<p><strong>RON MONTERO</strong>, as the entity responsible for the User personal data, hereby informs that such information will be managed as per the provisions in the <strong>(EU) Regulation 2016/679 dated April 27, 2016 (GDPR) </strong>regarding the protection of individuals through the management of personal information and the current Organic Law 15/1999 dated December 13 (L.O.P.D.) regarding the protection of personal data before the future publication of the new LOPD currently under parliamentary processing.</p>
<p><strong><u>PURPOSES OF THE DATA MANAGEMENT: </u></strong>Why do we manage your data?</p>
<p>In your case, it is the management and maintenance of the existing contractual relation and the commercial relation with users and people interested in products made by <strong>RON MONTERO. </strong>We manage the information provided by people interested in our products in order to process submittal of the information they request/obtain from us, provide the interested individuals with product offers and special offers they are interested with. In order to offer our products/beverages according to their interests and improve their user experience, we will create a &ldquo;commercial profile&rdquo; based on the information provided. No automatized decisions based on such created profile will be made.</p>
<ul>
<li><strong>Information concerned: </strong>Data of registered users, personal contact data of the people that register/buy through our online store, people who contact Ron Montero in RRSS or using the contact form available, data of shipping/delivery.</li>
<li><strong>Categories of concerned individuals:</strong> Web users, candidates, customers and interested individuals, visitors to the warehouse, participants in activities/events organized by Ron Montero, candidates and RRSS followers.</li>
<li><strong>Data categories:</strong> Identification data (name and surname + NIF), contact data (e-mail, phone number/address), IP, images obtained.</li>
</ul>
<p>As a result, the operations anticipated for data management include:</p>
<ul>
<li><strong>SENDING PUBLICITY COMMERCIAL COMMUNICATIONS. </strong>By e-mail, SMS, WhatsApp, social networks, or any other electronic or physical medium, present or future, that enables commercial communications. These communications will be made by the Website manager and always be related to <strong>RON MONTERO</strong>&rsquo;s products or to the collaborators with whom it has made promotion agreement. In this case, third parties will never have access to personal data.</li>
<li><strong>ACTIONS REQUESTED BY THE USER: </strong>Process requests/orders, returns, or any kind of petition on the products made by <strong>RON MONTERO</strong>, whether it is made by the user through any of the contact means available or by subscription to any of our General Purchase Conditions or our Contact Forms available at:</li>
<li><a href="http://tienda.ronmontejo.com/index.php"><strong>http://tienda.ronmontejo.com/index.php</strong></a></li>
<li><a href="http://www.ronmontero.com"><strong>http://www.ronmontero.com</strong></a></li>
<li><a href="http://tienda.ronmontero.com/index.php?controller=contact"><strong>http://tienda.ronmontero.com/index.php?controller=contact</strong></a></li>
<li><a href="http://tienda.ronmontero.com/index.php?controller=authentication&amp;back=my-account"><strong>http://tienda.ronmontero.com/index.php?controller=authentication&amp;back=my-account</strong></a></li>
<li><strong>DATA STORED DURING ITS VISIT: </strong>When you visit our Webpage, our Web servers usually store, among other data, information about the browser and the operating system you use, the Webpage from which you are visiting us, and the date of your visit. For security reasons &ndash; for example, to detect possible attacks against our Webpage &ndash; we also store for seven days the IP address assigned to you by our Internet provider. Except for the IP address, the personal data are stored only if you provide that information, for example, for a registration, a survey, a quotation, user registration, or commercial promotion. RON MONTERO uses your personal data for the technical administration of Webpages, customer management, product surveys, and marketing tasks only inasmuch as it is necessary and always informing the User and the data owner in advance.</li>
<li><strong>PAYMENT SERVICES PROVIDERS: </strong>At this Website the Customer may access, through links, third parties Webpages such as PayPal, VISA, Verified by VISA and MasterCard through the payment bridge of <strong><u>CAJA RURAL DE GRANADA </u></strong>to make payments for the orders or products purchased from <strong>RON MONTERO</strong>. At no time will the staff of <strong>RON MONTERO </strong>have access to the banking data (for example the credit card number) provided by the customer to third parties. In order for the customer to be able to pay through PayPal or the other means available, <strong>RON MONTERO </strong>will send the data strictly necessary to these payment processing entities for the issuance of the corresponding payment request.</li>
<li><strong>RON MONTERO INFORMATION BULLETIN/NEWSLETTER SUBSCRIPTION: </strong>In case that a customer subscribes to any of the information newsletters, present or future, as it is informed, they give consent to the use of their personal data for the purpose of sending publicity or other marketing actions; these will be stored and used permanently for purposes such as sending the above stated newsletters, news about our various products through communication channels such as e-mail, SMS, WhatsApp, mail, or any other type of channel you authorize. We may use your data to create your user profile and update it so that we can send you personalized information about publicity actions and offers. Also, we may use the data you give us to analyze and improve our product catalog in our Webpage, publicity, marketing, market prospects, and sales activities.</li>
<li><strong>CANDIDATES SENDING THE CURRICULUM VITAE: </strong>If someone sends his Curriculum Vitae to <strong>RON MONTERO</strong>&rsquo;s e-mail: <a href="mailto:info@ronmontero.com">info@ronmontero.com</a> or through the form available: <a href="http://tienda.ronmontero.com/index.php?controller=contact"><strong>http://tienda.ronmontero.com/index.php?controller=contact</strong></a> the applicant authorizes <strong>RON MONTERO </strong>to analyze the documents sent, all the content that can be directly accessed through search engines (Google), the profiles they hold in professional social networks like LinkedIn or similar ones, the data obtained in the access tests, and the information disclosed during the job interview in order to assess their application and suitability and offer him a position if applicable. If the applicant is not selected, <strong>RON MONTERO </strong>may keep your Curriculum Vitae in records to incorporate it into future calls, unless the candidate states otherwise.</li>
</ul>
<p>&nbsp;</p>
<p><strong><u>CRITERIA FOR DATA CONSERVATION: </u></strong>In general, the data provided will be kept as long as there is a mutual interest in keeping the end of the information management and when this is not necessary anymore, it will be deleted with appropriate security measures to guarantee the renaming of the information or its total destruction.</p>
<p>In light of this general regulation, we propose the <strong><u>following possible options: </u></strong>(i) Disaggregated data will be kept with no deadline for deletion, (ii) Data of<strong> RON MONTERO</strong> customers: the information may be kept for <strong>4 years</strong> (Art. 66 and amendments of the General Tax Law), the information may be kept for 6 years (Art. 30 of the Commercial Code on accounting books and invoices), (iii) Data provided to subscribe to our newsletter: from the time of consent by the User to the time he cancels it, (iv) Documentation related to labor or social security: 4 years as per Article 21 of the Royal Legislative Decree 5/2000 dated August 4, which approves the modified text of the Law on Social Order related Infractions and Sanctions, (v) data provided by the submittal of Curriculum Vitae may be kept for up to two years for future selection processes unless the applicant states otherwise.</p>
<p><strong><u>DATA DISCLOSURE: </u></strong>No data will be sent to any recipient, except for legal purposes or a judicial lawsuit. In some cases, it will be necessary to send your information to transportation companies, electronic services providers (PayPal), etc.&hellip;whose intervention is necessary to formalize the order and its shipping/reception.</p>
<p><strong>LEGITIMATION: </strong>As a general rule, prior to managing the personal data, <strong>RON MONTERO </strong>obtains express and clear consent of the owner through the incorporation of informed consent clauses into the different information collection system based on a legitimate interest of the User.</p>
<p>Nevertheless, in case the consent of the interested party is not required, the legitimation basis of management which <strong>RON MONTERO </strong>relies on is the existence of an online order/purchase/supply of <strong>RON MONTERO </strong>products.</p>
<p>RIGHTS OF THE USER:</p>
<ul>
<li>Right to withdraw the consent given at any time.</li>
<li>Right to access and rectification of his data.</li>
<li>Right to delete (right to forget) his data.</li>
<li>Right to limit or oppose his data management.</li>
<li>Right to the portability of his data: this is understood as the power to receive his data in structured format of common use and mechanical reading and transmit them to another manager of the information (Art. 20 RGPD)</li>
<li>Right to file a claim before the control authority (agpd.es) if he believes the management does not conform to the regulation in effect.</li>
<li>You can find more information about exercising the rights of the interested individual at: <a href="http://.agpd.es/portalwebAGPD/CanalDelCiudadano/derechos/index-ides-idphp.php">http://.agpd.es/portalwebAGPD/CanalDelCiudadano/derechos/index-ides-idphp.php</a></li>
</ul>
<p>Regardless of the above, if a user thinks there is an issue with the way <strong>RON MONTERO </strong>is managing his information, he may send his claims to the <strong>Head of Data Protection </strong>appointed internally by the company or through the Spanish Control Authority, namely the AEPD:</p>
<p><a href="http://.agpd.es/portalwebAGPD/CanalDelCiudadano/denunciasciudadano/index-ides-idphp.php">http://.agpd.es/portalwebAGPD/CanalDelCiudadano/denunciasciudadano/index-ides-idphp.php</a></p>
<p><strong>OBLIGATORY OR OPTIONAL NATURE OF THE INFORMATION PROVIDED:</strong></p>
<p>The data collected by any of the contact forms available in this Webpage, or even for the supply/shipping of any product in the <strong>RON MONTERO </strong>catalog or those supplied by the Users resulting from their participation in activities/events conducted by <strong>RON MONTERO </strong>will be incorporated, depending on their purpose, into files registered with the Spanish Data Protection Agency and into the Register of Activities and Data Management (Article 30 of the (EU) Regulation 2016/679 dated April 27, 2016). The Register of Activities and Data Management is available from the Control Authority, and the Files are registered with the Central Register of the Spanish Data Protection Agency (See registry).</p>
<p>The Users, by checking the relevant boxes and entering data into the different fields marked with an asterisk (*) in the contact form or presented in disclaimer/hiring forms, accept freely and irrevocably that their information is necessary for <strong>RON MONTERO </strong>to respond to their request, while entering data in the other fields is voluntary. The User guarantees that the data provided is accurate and takes responsibility for any modification to this information.</p>
<p><strong>RON MONTERO </strong>expressly informs and guarantees to users that their personal data will not be assigned to third parties under any circumstances and that if they are planning to make any assignment in the future, they will request previous express, informed, and irrevocable consent by the Users informing the information of the assignee and the purpose of the assignment. All the information requested through the Website is obligatory, as they are necessary to give high-quality services to the User. If the information is not provided, we cannot ensure that the information, and as the case may be, the products and orders facilitated/provided completely meet their needs.</p>
<p>&nbsp;</p>
<p>SECURITY MEASURES:</p>
<p>Pursuant to the provisions in the current regulations on personal data protection, and particularly in the <strong>(EU) Regulation 2016/679 dated April 27, 2016, RON MONTERO </strong>is in compliance with all the GDPR and LOPD provisions and rules for managing personal data under its responsibility and expressly with the principles described in article 5 of the GDPR and Article 4 of the LOPD, by means of which the information is treated legally, loyally, and with transparency regarding the interested person, and adapted, pertinent, and limited to the necessary actions as per the purposes for which they are managed.</p>
<p>For all cases,<strong> RON MONTERO </strong>has sufficient mechanisms in place to:</p>
<ol>
<li>Ensure permanent confidentiality, integrity, availability, and resilience of the management services systems.</li>
<li>Restore the availability and quick access to the personal data in case of a physical or technical incident.</li>
<li>Verify, evaluate, and assess regularly the efficiency of the technical and organizational techniques implemented to guarantee the data management security.</li>
<li>Rename and cipher personal data if necessary.</li>
</ol>
<p><strong>RON MONTERO </strong>guarantees that it has implemented technical and organizational policies appropriate to apply security measures established by the GDPR and the LOPD in order to protect the rights and freedom of Users and has provided them with appropriate information to put them into practice. <strong>RON MONTERO </strong>has installed all the means and technical measures possible to avoid the loss, misuse, alteration, unauthorized access, and theft of the Personal Data provided by the owner to <strong>RON MONTERO. </strong>Nevertheless, the User must be aware the Internet security measures are not impenetrable. The personal data entered into the Register of Activities and Data Management will be treated with the highest confidentiality and security; the owner of the File indicated may send commercial information regarding the NEWS AND OFFERS OF THE PRODUCTS OFFERED by <strong>RON MONTERO</strong>; in such a case, the sender agrees to indicate its publicity purpose when making the shipment and coordinate a simple, clear, and charge-free system in case you decide to stop receiving them.</p>
<p>The offer of products/BEVERAGES of <strong>RON MONTERO </strong>contained in the Website are exclusively directed at adults (alcohol sale to people under the age of 18 is legally prohibited in Spain). If <strong>RON MONTERO </strong>offers any promotional activity, event, competition, or similar act where Personal Data collection of minors may occur, <strong>RON MONTERO </strong>will always request parental consent so that the minors may access them and their personal data may be subject to automatized management according to the terms in this notice on Data Protection Policy.</p>
<p>As previously explained, the collection and automatized management of Personal Data is intended to keep the contractual relation established by yourself with <strong>RON MONTERO, </strong>orders processing, administration of your user account, returns processing, and in general improvement of the services that the User decides to hire, unsubscribe, and use or adapt the said services/products to the preferences and taste of Users, the study of use of the different <strong>RON MONTERO </strong>products by Users, the design of new products, the submittal of possible updates/repairs, submittal by traditional and electronic means of technical, operative, and commercial information about the products offered by <strong>RON MONTERO, </strong>currently and in the future.</p>
<p><strong><u>Social networks: </u></strong><strong>RON MONTERO </strong>has a profile in the main Internet social networks (Facebook, Twitter, Instagran, Youtube, and Google) and we know in all cases the people managing the data of their followers, fans, subscribers, bloggers, and other users&rsquo; profiles (hereinafter named followers). <strong>RON MONTERO&rsquo;s</strong> management of the said data will be that permitted by the social network for corporative profiles. Then, <strong>RON MONTERO </strong>will be able to inform its followers by any means permitted by the social network about his news, and offers. In no case will <strong>RON MONTERO </strong>obtain data from the social networks unless it gets specific and express consent by the user to do so. When, due to the nature of social networks, the effective exercise of the follower&rsquo;s rights is subject to the modification of his personal profile, <strong>RON MONTERO </strong>will help and advise him to the highest extent possible.</p>
<p>&ldquo;INFORMATION ABOUT COOKIES&rdquo;</p>
<p>As per the Spanish rules regulating the use of cookies regarding the provision of electronic communication services contained in Royal Decree-Law 13/2012 dated March 30, we are hereby informing you about the cookies used in <strong>RON MONTERO </strong>Website and the purposes of such use. Additionally, <strong>RON MONTERO </strong>advises you that when you surf the Website, you are giving us consent to use the said cookies.</p>
<ol>
<li>Policy on Cookies</li>
</ol>
<p>A cookie is a file that is downloaded to your computer when you access some Web pages. Cookies allow a Website, among other things, to store and collect information about a user&rsquo;s Internet surf habits or that or his computer; depending on the information they contain and the way they are used, we may use them to identify the User.</p>
<p><strong>RON MONTERO, </strong>as per the Royal Decree-Law 13/2012 that amends Law 34/2002 of July 11 for Society of Information and Electronic Trade, is in the obligation to inform the User and obtain his consent to the use of cookies in this Website.</p>
<p>2.1-What kind of cookies are used in <strong>RON MONTERO</strong>?</p>
<p>2.1-According to the managing entity:</p>
<p>Our own cookies. Those cookies that are sent to your computer from our own computers or domains and from the equipment that we use to render the service you request.</p>
<p>Third-party cookies. Those that are sent to your computer from a computer or domain that we do not manage, but from another collaborating company; for example, the cookies used by social networks or by external content like Google Maps.</p>
<p>2.2.-According to the time they are activated</p>
<p>Session cookies. These are temporary cookies that remain in the cookie file of your computer until you leave the Webpage, therefore, none of them is stored on your computer&rsquo;s hard drive. The information obtained through these cookies are used to analyze traffic behavior in the Web. In the end, this allows us to offer a better experience while improving the content and facilitating its use.</p>
<p>Permanent cookies: These are stored on the hard drive and our Website reads them every time you visit us. A permanent Website has a given expiration date. The cookie will stop working after that date. In general, we use those cookies to facilitate the purchase and registration services.</p>
<p>2.3.-According to their purpose</p>
<p>Technical cookies: Those are the cookies necessary for surfing and the good operation of our Website. For example, they permit to control the traffic and the transmit data, access restricted areas, conduct the purchase process for an order, use security elements, store contents to disseminate videos or share contents through the social networks.</p>
<p>Personalization Cookies: Those are cookies that allow you access to the service with some pre-defined features based on a number of criteria, for example, the language, the type of browser by which you access the service, the regional configuration from where the service is accessed, etc.</p>
<p>Analysis Cookies: Those cookies that allow us to quantify the number of users to conduct the measure and statistical analysis of the use by the users of the services offered. In order to do this, we analyze your surfing in our Web page in order to improve the products and services we offer.</p>
<p>Publicity Cookies: Those cookies that permit the management, in the most effective way possible, of the publicity spaces that may be included in our Web page.</p>
<p>Behavioral Publicity Cookies: These cookies collect information about the behavior of users obtained through continued observation. Thanks to these cookies, we may know the Internet navigation habits and show you publicity related to your surfing profile.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>3.-Relation of third-party Cookies used in the domain <a href="http://www.ronmontero.com">www.ronmontero.com</a></p>
<table>
<tbody>
<tr>
<td>
<p><strong>Name of provider</strong></p>
</td>
<td>
<p><strong>Purpose of the cookie</strong></p>
</td>
<td>
<p><strong>Purpose description of the cookie</strong></p>
</td>
<td>
<p><strong>If you need more information about the use of cookies by this third party</strong></p>
</td>
<td>
<p><strong>Expires</strong></p>
</td>
</tr>
<tr>
<td>
<p>Google Analytics</p>
</td>
<td>
<p>Study of the audience</p>
</td>
<td>
<p>Obtain information about the navigation, measure, and analyze the audience</p>
</td>
<td>
<p>More information about Google Analytics</p>
</td>
<td>
<p>Temporary</p>
</td>
</tr>
<tr>
<td>
<p>Google Adwords</p>
</td>
<td>
<p>Study of the audience</p>
</td>
<td>
<p>Obtain information about the navigation, measure, and analyze the audience</p>
</td>
<td>
<p>More information about Google Analytics</p>
</td>
<td>
<p>Temporary</p>
</td>
</tr>
<tr>
<td>
<p>PayPal</p>
</td>
<td>
<p>Technique</p>
</td>
<td>
<p>They reinforce the security of access to the PayPal payment platform</p>
</td>
<td>
<p>More information https://www.paypal.com/es/home</p>
</td>
<td>
<p>Session</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Cookies of social networks used by RON MONTERO:</p>
<p>We use social networks to make your visit more dynamic and improve your experience. The various services we use install the following cookies:</p>
<table>
<tbody>
<tr>
<td>
<p><strong>Name of cookies</strong></p>
</td>
<td>
<p><strong>Origin</strong></p>
</td>
<td>
<p><strong>Expires</strong></p>
</td>
<td>
<p><strong>Description</strong></p>
</td>
</tr>
<tr>
<td>
<p>guest_id</p>
</td>
<td>
<p>Twitter.com</p>
</td>
<td>
<p>2 years</p>
</td>
<td>
<p>Identification of anonymous member in Twitter</p>
</td>
</tr>
<tr>
<td>
<p>NID</p>
</td>
<td>
<p>google.es and google.com</p>
</td>
<td>
<p>6 months</p>
</td>
<td>
<p>Identification in Google+</p>
</td>
</tr>
<tr>
<td>
<p>APISID, HSID, SAPISID, SID, SSID</p>
</td>
<td>
<p>google.es and google.com</p>
</td>
<td>
<p>2 years</p>
</td>
<td>
<p>User identification in google</p>
<p>Google Privacy Policy</p>
</td>
</tr>
</tbody>
</table>
<p>These lists will be updated as fast as possible inasmuch as the Web services offered change or improve. However, occasionally during this update the list may not include a cookie anymore although it will always refer to cookies for the same purposes as those registered in these lists.</p>
<p>Through the Web analysis no personal information of the Users is obtained, which guarantees the safety of your privacy. The information obtained is proportional to the number of users that access the Web, the number of pages visited, the frequency and repetition of visits, its duration, the browser used, the operator rendering the service, the language, the terminal used, or the city which your IP address is assigned to. This information permits this Website to offer a better and more appropriate service.</p>
<p>By accessing the <strong>RON MONTERO </strong>profiles in the different social networks, the User accept the use of cookies of the said networks</p>
<ul>
<li>For more information about Facebook, click here: <a href="http://es-es.facebook.com/help/cookies">http://es-es.facebook.com/help/cookies</a></li>
<li>For more information about Twitter, click here: <a href="https://twitter.com/privacy">https://twitter.com/privacy</a></li>
<li>For more information about LinkedIn, click here: <a href="http://es-es.facebook.com/help/cookies">http://es-es.facebook.com/help/cookies</a></li>
<li>For more information about Google+, click here: <a href="https://www.linkedin.com/legal/cookie_policy">https://www.linkedin.com/legal/cookie_policy</a></li>
</ul>
<p>Due to the Internet characteristics, we do not always have information about the cookies placed by third parties through this Website. Therefore, if you find this type of cookies in this Website that are not described hereto, we ask you to let us know. You may also get in touch directly with the third party to request information about its cookies, the purpose, their duration, and how they ensure User privacy.</p>
<p>4.-Modify the configuration of cookies.</p>
<p>At all times, the user may configure his browser to accept or not the cookies he receives o in order for the browser to indicate when the Web server wants to store one. You may find information on how to do it depending on the browser you use at:</p>
<ul>
<li>Firefox from here: <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we">http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a></li>
<li>Chrome from here: <a href="http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647">http://support.google.com/chrome/bin/answer.py?hl=es&amp;answer=95647</a></li>
<li>Explorer: <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
<li>Safari from here: <a href="http://support.apple.com/Windows/11.50/es-ES/cookies.html">http://support.apple.com/Windows/11.50/es-ES/cookies.html</a></li>
</ul>
<p>Currently, most browsers are configured by default to block the installation of publicity or third-party cookies in your computer. The User may apply additional origin restrictions, thus preventing the entry of any kind of cookie, or otherwise eliminate such restrictions to allow the entry of any kind of cookies. If the user has voluntarily modified the configuration of the browser to accept publicity or third-party cookies, such action will entail his consent to the management of his data for publicity purposes.</p>
<p>5.-Guide on the use of cookies.</p>
<p>You may obtain information about the use of cookies in the guide prepared by the Spanish Data Protection Agency by clicking on the following link: <a href="http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf">http://www.agpd.es/portalwebAGPD/canaldocumentacion/publicaciones/common/Guias/Guia_Cookies.pdf</a></p>
<p>6.-Right to Information.</p>
<p>Upon the pertinent request, <strong>RON MONTERO, </strong>or the authorized dealer, will immediately inform you in writing, pursuant to the applicable legislation, if we have your personal data recorded and which ones they are. If you appear as a registered user, we offer you the possibility to consult your data personally, and as the case may be, delete, modify, or update the said data.</p>
<p><strong>CONTACT: </strong>If you have any question about the foregoing Privacy Policy, please contact us at:</p>
<ul>
<li>Registered Address: Camino de la V&iacute;a, S/N, CP: 18613 &ndash; Motril (Granada) &ndash; Espa&ntilde;a</li>
<li>Contact e-mail: <a href="mailto:info@ronmontero.com">info@ronmontero.com</a></li>
<li>Contact telephone: (+34) 958 600 183</li>
</ul>
<p>Preparation of Privacy Policy updated and revised on <strong>August 1, 2018.</strong></p>
</section>
</template>

<script>
export default {
}
</script>

<style lang="css" scoped>
ul{
  list-style-type: circle !important;
  padding-left: 12px
}
ul li{
  list-style-type: circle !important;
  display: list-item;
}
strong {
    font-weight: bold !important;
}
table{
  width: 100.0%; border: solid windowtext 1.0pt;
}
td{
  border: solid windowtext 1.0pt; padding: .75pt .75pt .75pt .75pt;
}
</style>
