<template lang="pug">
.relative#Visitas(:class="{vertical}")
  div(v-if="!vertical")
    svg#visitantes(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1366 550')
      title visitantes
      g#Layer_2(data-name='Layer 2')
        g#Layer_20(data-name='Layer 20')
          rect(y='-50' width='1366' height='768' style='fill: #9ac0d1')
          g(style='isolation: isolate')
            text(transform='translate(141.9165 209.02368)' style='isolation: isolate;font-size: 75.168701171875px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.012998106472745226em') THEY ARRIVE
            text(transform='translate(141.9165 299.22363)' style='isolation: isolate;font-size: 75.168701171875px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.012998106472745226em') AS VISITORS AND
            text(transform='translate(141.9165 389.42371)' style='isolation: isolate;font-size: 75.168701171875px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.012998106472745226em') LEAVE AS LOYAL
            text(transform='translate(141.9165 479.62366)' style='isolation: isolate;font-size: 75.168701171875px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.012998106472745226em') CONSUMERS
          g(style='isolation: isolate')
            text(transform='translate(708.53473 185.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | Visito
              tspan(x='44.29883' y='0' style='letter-spacing: -0.00498619143794458em') r
              tspan(x='51.0166' y='0') s
              tspan(x='64.37109' y='0' style='letter-spacing: -0.010020792501500272em') c
              tspan(x='72.31885' y='0') ome f
              tspan(x='118.29199' y='0' style='letter-spacing: -0.014982779126639296em') r
              tspan(x='124.80811' y='0') om
              tspan(x='155.06689' y='0' style='letter-spacing: -0.02998976306608415em') K
              tspan(x='164.38672' y='0' style='letter-spacing: -0.014982779126639296em') y
              tspan(x='173.42432' y='0') oto, Finland, Wis
              tspan(x='304.98975' y='0' style='letter-spacing: -0.009996587688694717em') c
              tspan(x='312.93799' y='0') onsin and
              tspan(x='397.25977' y='0' style='letter-spacing: -0.015006983939444853em') ev
              tspan(x='415.41504' y='0') en f
              tspan(x='446.58105' y='0' style='letter-spacing: -0.014982779126639296em') r
              tspan(x='453.09717' y='0') om the
            text(transform='translate(708.53473 206.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | t
              tspan(x='6.47559' y='0' style='letter-spacing: -0.009996587688694717em') o
              tspan(x='16.56201' y='0') wn of Llanfair
              tspan(x='128.6001' y='0' style='letter-spacing: -0.00997238287588916em') p
              tspan(x='138.46484' y='0') wll
              tspan(x='162.67236' y='0' style='letter-spacing: -0.00798758822583355em') g
              tspan(x='173.021' y='0' style='letter-spacing: -0.009996587688694717em') w
              tspan(x='186.33496' y='0') yn
              tspan(x='205.88232' y='0' style='letter-spacing: -0.00997238287588916em') g
              tspan(x='216.19092' y='0') yllgoger
              tspan(x='283.78955' y='0' style='letter-spacing: -0.014982779126639296em') y
              tspan(x='292.82715' y='0' style='letter-spacing: -0.000024204812805556216em') c
              tspan(x='300.97656' y='0' style='letter-spacing: -0.00498619143794458em') h
              tspan(x='311.0835' y='0' style='letter-spacing: -0.009996587688694717em') w
              tspan(x='324.39746' y='0' style='letter-spacing: 0.000024204812805556216em') yrnd
              tspan(x='360.93066' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='367.44629' y='0') o
              tspan(x='377.73438' y='0' style='letter-spacing: -0.009996587688694717em') b
              tspan(x='387.59863' y='0' style='letter-spacing: 0.000024204812805556216em') wllllantysiliogogogoch
            text(transform='translate(708.53473 227.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | (which th
              tspan(x='75.40527' y='0' style='letter-spacing: -0.014982779126639296em') e
              tspan(x='84.54346' y='0') y tell us is in
              tspan(x='192.93115' y='0' style='letter-spacing: -0.005010396250750136em') W
              tspan(x='204.71191' y='0') ales). The house of Ron Monte
              tspan(x='447.36768' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='453.8833' y='0') o
              tspan(x='469.4165' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='475.93213' y='0') e
              tspan(x='485.37256' y='0' style='letter-spacing: -0.009996587688694717em') c
              tspan(x='493.3208' y='0') ei
              tspan(x='507.70361' y='0' style='letter-spacing: -0.015006983939444853em') v
              tspan(x='516.7207' y='0' style='letter-spacing: 0.000024204812805556216em') es
            text(transform='translate(708.53473 248.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | visito
              tspan(x='44.07715' y='0' style='letter-spacing: -0.00498619143794458em') r
              tspan(x='50.79492' y='0') s f
              tspan(x='70.42236' y='0' style='letter-spacing: -0.014982779126639296em') r
              tspan(x='76.93848' y='0') om ma
              tspan(x='131.62646' y='0' style='letter-spacing: -0.009996587688694717em') n
              tspan(x='141.63232' y='0') y pla
              tspan(x='181.33203' y='0' style='letter-spacing: -0.010020792501500272em') c
              tspan(x='189.27979' y='0' style='letter-spacing: 0.000024204812805556216em') es with names that a
              tspan(x='357.70068' y='0' style='letter-spacing: -0.014982779126639296em') r
              tspan(x='364.2168' y='0') e ha
              tspan(x='398.8125' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='405.32813' y='0') d to p
              tspan(x='452.81445' y='0' style='letter-spacing: -0.014982779126639296em') r
              tspan(x='459.33057' y='0') onoun
              tspan(x='510.22607' y='0' style='letter-spacing: -0.009996587688694717em') c
              tspan(x='518.17432' y='0' style='letter-spacing: 0.000024204812805556216em') e.
            text(transform='translate(708.53473 290.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | It
              tspan(x='18.11475' y='0' style='letter-spacing: -0.00798758822583355em') w
              tspan(x='31.46924' y='0') as founded in 1963
              tspan(x='189.7832' y='0' style='letter-spacing: -0.014982779126639296em') b
              tspan(x='199.54688' y='0') y a family with
              tspan(x='325.04053' y='0' style='letter-spacing: -0.015006983939444853em') v
              tspan(x='334.05762' y='0' style='letter-spacing: 0.000024204812805556216em') ery st
              tspan(x='379.48633' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='386.00195' y='0') ong ties to
            text(transform='translate(708.53473 311.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | the sugar mill busine
              tspan(x='169.93408' y='0' style='letter-spacing: -0.009996587688694717em') s
              tspan(x='177.8418' y='0') s. When
              tspan(x='242.81787' y='0' style='letter-spacing: -0.015006983939444853em') y
              tspan(x='251.85498' y='0') ou visit us,
              tspan(x='344.22559' y='0' style='letter-spacing: -0.015006983939444853em') y
              tspan(x='353.2627' y='0') ou can taste our rums
            text(transform='translate(708.53473 332.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | and learn about the rum-making p
              tspan(x='281.32715' y='0' style='letter-spacing: -0.014982779126639296em') r
              tspan(x='287.84326' y='0') o
              tspan(x='298.13135' y='0' style='letter-spacing: -0.010020792501500272em') c
              tspan(x='306.0791' y='0' style='letter-spacing: 0.000024204812805556216em') e
              tspan(x='315.52002' y='0' style='letter-spacing: -0.009996587688694717em') s
              tspan(x='323.42773' y='0') s that has earned
            text(transform='translate(708.53473 353.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | us international
              tspan(x='133.26025' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='139.77588' y='0' style='letter-spacing: 0.000024204812805556216em') e
              tspan(x='149.2168' y='0' style='letter-spacing: -0.009996587688694717em') c
              tspan(x='157.16504' y='0' style='letter-spacing: -0.000024204812805556216em') ognition.
            text(transform='translate(708.53473 395.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | The bodega Ron Monte
              tspan(x='184.13525' y='0' style='letter-spacing: -0.014982779126639296em') r
              tspan(x='190.65137' y='0') o is open to the public
              tspan(x='376.82422' y='0' style='letter-spacing: -0.015006983939444853em') y
              tspan(x='385.86133' y='0' style='letter-spacing: 0.000024204812805556216em') ea
              tspan(x='405.00488' y='0' style='letter-spacing: -0.05499333469422372em') r
              tspan(x='410.71387' y='0' style='letter-spacing: 0.000024204812805556216em') -
              tspan(x='420.69971' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='427.21533' y='0') ound
            text(transform='translate(708.53473 416.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | and offe
              tspan(x='67.59814' y='0' style='letter-spacing: -0.00498619143794458em') r
              tspan(x='74.31592' y='0') s f
              tspan(x='93.94336' y='0' style='letter-spacing: -0.014982779126639296em') r
              tspan(x='100.45947' y='0') ee, guided tou
              tspan(x='216.27002' y='0' style='letter-spacing: -0.00498619143794458em') r
              tspan(x='222.98779' y='0') s
              tspan(x='236.34229' y='0' style='letter-spacing: -0.060003730944973854em') T
              tspan(x='243.70508' y='0') uesdays th
              tspan(x='330.40723' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='336.92285' y='0') ough Satu
              tspan(x='417.91602' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='424.43164' y='0') days
            text(transform='translate(708.53473 437.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | at 12:00 noon in Spanish and at 1:00
              tspan(x='298.16992' y='0' style='letter-spacing: -0.09999008169975272em') P
              tspan(x='306.23926' y='0') .M. in English.
            text(transform='translate(708.53473 458.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              tspan(style='letter-spacing: -0.07000031863366857em') T
              tspan(x='7.16113' y='0') o ma
              tspan(x='47.12305' y='0' style='letter-spacing: -0.014982779126639296em') k
              tspan(x='56.18066' y='0') e ar
              tspan(x='87.38721' y='0' style='letter-spacing: -0.00498619143794458em') r
              tspan(x='94.10498' y='0') angements for other days or to
            text(transform='translate(708.53473 479.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
              | a
              tspan(x='9.70313' y='0' style='letter-spacing: -0.010020792501500272em') cc
              tspan(x='25.59912' y='0') ommodate g
              tspan(x='127.16846' y='0' style='letter-spacing: -0.015006983939444853em') r
              tspan(x='133.68408' y='0') oups, please
            text(transform='translate(948.53473 479.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Bold, Share;font-weight: 700' onclick="gotoTag('Contacto')")
              tspan(style='letter-spacing: -0.009996587688694717em') C
              tspan(x='8.5332' y='0') ontact Us.
            text(transform='translate(1041.53467 479.29846)' style='isolation: isolate;font-size: 20.17289924621582px;fill: #fff;font-family: Share-Regular, Share')
    img(src="/static/Visitas1.png")
  div(v-if="vertical")
    svg#Layer_1(data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 1242 2708')
      title visitantesM
      g#BlueBodegaIsolada
        g#BlueBodegaIsolada-2
          g#BlueBodegaIsolada-3
            image#BlueBodegaIsolada-4(width='1730' height='482' transform='translate(-594.29828 1081.02307) scale(1.6018)' xlink:href='static/Visitas1.png' style='isolation: isolate')
      text(transform='translate(1033.78381 370.96436)' style='isolation: isolate;font-size: 145.87399291992188px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.020000004184101295em')
      text(transform='translate(1098.88586 546.01318)' style='isolation: isolate;font-size: 145.87399291992188px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.020000004184101295em')
      g(style='isolation: isolate')
        text(transform='translate(110.3345 196.60254)' style='isolation: isolate;font-size: 149.86929321289062px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.01999789448691558em') THEY ARRIVE
        text(transform='translate(110.3345 371.60254)' style='isolation: isolate;font-size: 149.86929321289062px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.01999789448691558em') AS VISITORS AND
        text(transform='translate(110.3345 546.60254)' style='isolation: isolate;font-size: 149.86929321289062px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.01999789448691558em') LEAVE AS LOYAL
        text(transform='translate(110.3345 721.60254)' style='isolation: isolate;font-size: 149.86929321289062px;fill: #fff;font-family: FjallaOne-Regular, Fjalla One;letter-spacing: 0.01999789448691558em') CONSUMERS
      text(transform='translate(261.81009 815.54907)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(282.29361 815.54907)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(613.69751 815.54907)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(932.32642 815.54907)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(1028.67114 863.15454)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(1019.65698 910.75989)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(515.4314 958.36548)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(530.19928 958.36548)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(553.51758 958.36548)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(580.17401 958.36548)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(804.30298 958.36548)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(408.26001 1005.97095)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(423.02802 1005.97095)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(706.96179 1005.97095)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(721.7301 1005.97095)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(865.43518 1005.97095)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      text(transform='translate(878.6037 1005.97095)' style='isolation: isolate;font-size: 45.722900390625px;fill: #fff;font-family: Share-Regular, Share')
      g(style='isolation: isolate')
        text(transform='translate(120.5288 816.31689)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | Visito
          tspan(x='101.13281' y='0' style='letter-spacing: -0.004993735052569316em') r
          tspan(x='116.46875' y='0' style='letter-spacing: 0.000010602409878066488em') s
          tspan(x='146.95605' y='0' style='letter-spacing: -0.009998072515016698em') c
          tspan(x='165.10107' y='0') ome f
          tspan(x='270.05566' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='284.93115' y='0') om
          tspan(x='354.01123' y='0' style='letter-spacing: -0.030004819954928163em') K
          tspan(x='375.2876' y='0' style='letter-spacing: -0.015002409977464081em') y
          tspan(x='395.91943' y='0') oto, Finland, Wis
          tspan(x='696.27832' y='0' style='letter-spacing: -0.010008674924894765em') c
          tspan(x='714.42285' y='0') onsin and
        text(transform='translate(120.5288 864.21692)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          tspan(style='letter-spacing: -0.015002409977464081em') ev
          tspan(x='41.44727' y='0') en f
          tspan(x='112.59912' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='127.47461' y='0' style='letter-spacing: -0.000010602409878066488em') om the t
          tspan(x='282.9502' y='0' style='letter-spacing: -0.009998072515016698em') o
          tspan(x='305.97705' y='0') wn of Llanfair
          tspan(x='561.75586' y='0' style='letter-spacing: -0.009998072515016698em') p
          tspan(x='584.27588' y='0') wll
          tspan(x='639.54004' y='0' style='letter-spacing: -0.007994217048062132em') g
          tspan(x='663.16602' y='0' style='letter-spacing: -0.009987470105138632em') w
          tspan(x='693.56152' y='0') yn
          tspan(x='738.1875' y='0' style='letter-spacing: -0.010008674924894765em') g
          tspan(x='761.7207' y='0') yllgoger
          tspan(x='916.0459' y='0' style='letter-spacing: -0.015013012387342147em') y
          tspan(x='936.67773' y='0') c
          tspan(x='955.2832' y='0' style='letter-spacing: -0.0049831326426912495em') h
          tspan(x='978.35645' y='0' style='letter-spacing: -0.009987470105138632em') wy
          tspan(x='1029.61426' y='0') -
        text(transform='translate(120.5288 912.21692)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | rnd
          tspan(x='62.08008' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='76.95557' y='0' style='letter-spacing: -0.000010602409878066488em') o
          tspan(x='100.44238' y='0' style='letter-spacing: -0.009987470105138632em') b
          tspan(x='122.96289' y='0') wllllantysiliogogogoch (which th
          tspan(x='729.43945' y='0' style='letter-spacing: -0.015013012387342147em') e
          tspan(x='750.30078' y='0') y tell us is in
        text(transform='translate(120.5288 960.11694)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          tspan(style='letter-spacing: -0.0049831326426912495em') W
          tspan(x='26.89551' y='0') ales). The house of Ron Monte
          tspan(x='580.86768' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='595.74316' y='0' style='letter-spacing: -0.000010602409878066488em') o
          tspan(x='631.2041' y='0' style='letter-spacing: -0.015013012387342147em') r
          tspan(x='646.0791' y='0') e
          tspan(x='667.63184' y='0' style='letter-spacing: -0.010008674924894765em') c
          tspan(x='685.77637' y='0') ei
          tspan(x='718.6123' y='0' style='letter-spacing: -0.014991807567586014em') v
          tspan(x='739.19824' y='0') es visito
          tspan(x='891.86328' y='0' style='letter-spacing: -0.0049831326426912495em') r
          tspan(x='907.2002' y='0' style='letter-spacing: -0.000021204819756132976em') s f
          tspan(x='952.00879' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='966.88477' y='0') om
        text(transform='translate(120.5288 1008.11694)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | ma
          tspan(x='55.77051' y='0' style='letter-spacing: -0.009998072515016698em') n
          tspan(x='78.61328' y='0') y pla
          tspan(x='169.24561' y='0' style='letter-spacing: -0.009998072515016698em') c
          tspan(x='187.39063' y='0') es with names that a
          tspan(x='571.88818' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='586.76367' y='0' style='letter-spacing: -0.000010602409878066488em') e ha
          tspan(x='665.74414' y='0' style='letter-spacing: -0.015013012387342147em') r
          tspan(x='680.61914' y='0') d to p
          tspan(x='789.0293' y='0' style='letter-spacing: -0.015013012387342147em') r
          tspan(x='803.9043' y='0') onoun
          tspan(x='920.09668' y='0' style='letter-spacing: -0.009987470105138632em') c
          tspan(x='938.24219' y='0') e.
      g(style='isolation: isolate')
        text(transform='translate(120.5288 1948.61426)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | It
          tspan(x='41.35547' y='0' style='letter-spacing: -0.007994217048062132em') w
          tspan(x='71.84326' y='0' style='letter-spacing: -0.000010602409878066488em') as founded in 1963
          tspan(x='433.2666' y='0' style='letter-spacing: -0.015002409977464081em') b
          tspan(x='455.55615' y='0') y a family with
          tspan(x='742.05273' y='0' style='letter-spacing: -0.014991807567586014em') v
          tspan(x='762.63867' y='0') ery st
          tspan(x='866.35059' y='0' style='letter-spacing: -0.015013012387342147em') r
          tspan(x='881.22559' y='0') ong ties
        text(transform='translate(120.5288 1996.51425)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | to the sugar mill busine
          tspan(x='438.19629' y='0' style='letter-spacing: -0.009998072515016698em') s
          tspan(x='456.24902' y='0' style='letter-spacing: 0.000010602409878066488em') s. When
          tspan(x='604.58594' y='0' style='letter-spacing: -0.015002409977464081em') y
          tspan(x='625.21777' y='0') ou visit us,
          tspan(x='836.0957' y='0' style='letter-spacing: -0.015013012387342147em') y
          tspan(x='856.72754' y='0') ou can
        text(transform='translate(120.5288 2044.51425)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | taste our rums and learn about the rum-making p
          tspan(x='921.93848' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='936.81445' y='0' style='letter-spacing: -0.000021204819756132976em') o
          tspan(x='960.30078' y='0' style='letter-spacing: -0.009987470105138632em') c
          tspan(x='978.44629' y='0') e
          tspan(x='999.99902' y='0' style='letter-spacing: -0.010008674924894765em') s
          tspan(x='1018.05176' y='0') s
        text(transform='translate(120.5288 2092.41425)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | that has earned us international
          tspan(x='606.47363' y='0' style='letter-spacing: -0.015013012387342147em') r
          tspan(x='621.34863' y='0') e
          tspan(x='642.90137' y='0' style='letter-spacing: -0.009987470105138632em') c
          tspan(x='661.04688' y='0' style='letter-spacing: -0.000021204819756132976em') ognition.
        text(transform='translate(120.5288 2188.31427)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | The bodega Ron Monte
          tspan(x='420.37305' y='0' style='letter-spacing: -0.015002409977464081em') r
          tspan(x='435.24805' y='0') o is open to the public
        text(transform='translate(120.5288 2236.31427)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          tspan(style='letter-spacing: -0.015002409977464081em') y
          tspan(x='20.63184' y='0') ea
          tspan(x='64.33594' y='0' style='letter-spacing: -0.054994700037530875em') r
          tspan(x='77.36914' y='0') -
          tspan(x='100.16553' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='115.04102' y='0') ound and offe
          tspan(x='373.95166' y='0' style='letter-spacing: -0.0049831326426912495em') r
          tspan(x='389.28809' y='0') s f
          tspan(x='434.09717' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='448.97266' y='0' style='letter-spacing: -0.000010602409878066488em') ee, guided tou
          tspan(x='713.36328' y='0' style='letter-spacing: -0.0049831326426912495em') r
          tspan(x='728.7002' y='0' style='letter-spacing: -0.000021204819756132976em') s
          tspan(x='759.18652' y='0' style='letter-spacing: -0.05998843509010019em') T
          tspan(x='775.99609' y='0') uesdays
        text(transform='translate(120.5288 2284.21426)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | th
          tspan(x='38.08643' y='0' style='letter-spacing: -0.015002409977464081em') r
          tspan(x='52.96143' y='0') ough Satu
          tspan(x='237.86523' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='252.74072' y='0') days at 12:00 noon in Spanish and at
        text(transform='translate(120.5288 2332.11426)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | 1:00
          tspan(x='87.5' y='0' style='letter-spacing: -0.09999132756004506em') P
          tspan(x='105.92188' y='0' style='letter-spacing: -0.000010602409878066488em') .M. in English.
          tspan(x='371.60254' y='0' style='letter-spacing: -0.06999711001499495em') T
          tspan(x='387.95117' y='0') o ma
          tspan(x='479.18262' y='0' style='letter-spacing: -0.015002409977464081em') k
          tspan(x='499.86035' y='0') e ar
          tspan(x='571.104' y='0' style='letter-spacing: -0.0049831326426912495em') r
          tspan(x='586.44043' y='0') angements for other
        text(transform='translate(120.5288 2380.11426)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
          | days or to a
          tspan(x='220.59473' y='0' style='letter-spacing: -0.009998072515016698em') cc
          tspan(x='256.88477' y='0') ommodate g
          tspan(x='488.7627' y='0' style='letter-spacing: -0.014991807567586014em') r
          tspan(x='503.63818' y='0') oups, please
        text(transform='translate(120.5288 2476.01428)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Bold, Share;font-weight: 700')
          tspan(style='letter-spacing: -0.009998072515016698em') C
          tspan(x='19.48096' y='0') ontact Us.
        text(transform='translate(332.8288 2476.01428)' style='isolation: isolate;font-size: 46.05379867553711px;fill: #fff;font-family: Share-Regular, Share')
</template>

<script>
export default {
  props:[
    "vertical"
  ]
}
</script>

<style lang="sass" scoped>
#Visitas
  background-color: #9ac0d1
  padding: 0
  img
    width: 100vw
    bottom: -10%
    z-index: 200
    margin-bottom: -4%
#visitantes
  width: 100vw
  max-height: 100vh
.vertical
  div
    padding-top: 10vmin
    padding-bottom: 10vmin
</style>
