<template>
  <div id="app">
    <navMenu :mobile="mobile" v-if="$route.path!='/en' && $route.path!='/avisolegalEn' && $route.path!='/privacidadEn'"/>
    <navMenuEn :mobile="mobile" v-if="$route.path == '/en' || $route.path=='/avisolegalEn' || $route.path=='/privacidadEn'"/>
    <router-view/>
    <footerV :mobile="mobile" v-if="$route.path!='/en' && $route.path!='/avisolegalEn' && $route.path!='/privacidadEn'"/>
    <footerVEn :mobile="mobile" v-if="$route.path == '/en' || $route.path=='/avisolegalEn' || $route.path=='/privacidadEn'"/>
  </div>
</template>

<script>
import navMenu from '@/components/navMenu'
import footerV from '@/components/footer'
import navMenuEn from '@/components/en/navMenu'
import footerVEn from '@/components/en/footer'

if(window.innerWidth < 860){
  (function () {
      var options = {
          whatsapp: "+34629223428", // WhatsApp number
          call_to_action: "Necesitas ayuda?", // Call to action
          position: "right", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
}


export default {
  name: 'App',
  components:{
    navMenu,
    footerV,
    navMenuEn,
    footerVEn,
  },
  data(){
    return {
      mobile: window.innerWidth < 860,
    }
  },
  mounted(){
    window.addEventListener("resize",  ()=>{
      this.mobile = window.innerWidth < 860;
    });
  }
}
</script>

<style lang="sass">
  a
    color: inherit
    &:visited
      color: inherit
    &:hover
      color: inherit
  //#wh-widget-send-button
    transform: scale(0.8) translate(0, 25%)
    opacity: 0.7
    &:hover
      transform: scale(1) translate(0, 10%)
      opacity: 1
</style>
